/*
-----------------------------------------------
	vars – css custom-properties

	NOTE
	- some vars change inside media-queries!
	- under normal conditions, there's no need to touch these
-----------------------------------------------
*/
:root,
:host {
	/* ----- Colors ----- */
	--br-red: rgb(255, 40, 30);
	--br-red-hover: rgba(255, 60, 50);
	--br-red-light: rgb(255, 230, 240);

	--br-blue: rgb(25, 95, 255);
	--br-blue-hover: rgb(30, 130, 255);
	--br-blue-light: rgb(220, 235, 255);
	--br-blue-light-hover: rgb(210, 225, 245);

	--br-green: rgb(45, 190, 45);
	--br-green-hover: rgb(55, 200, 55);
	--br-green-light: rgb(210, 255, 200);

	--br-black: #333;
	--br-grey-dark: rgb(70, 80, 90);
	--br-grey: rgb(150, 150, 150);
	--br-grey-light: rgb(195, 195, 195);
	--br-grey-lightest: rgb(240, 240, 240);
	--br-white: #fff;

	--br-primary: var(--br-blue);
	--br-primary-hover: var(--br-blue-hover);
	--br-primary-light: var(--br-blue-light);
	--br-primary-light-hover: var(--br-blue-light-hover);

	/* ----- Borders ----- */
	--br-border-color: var(--br-grey-light);
	--br-border: 1px solid var(--br-border-color);
	--br-border-radius: 4px;

	/* ----- Text ----- */
	--br-text: var(--br-black);
	--br-heading: var(--br-black);
	--br-code-fs: 1.3rem;
	--br-h1: 3.2rem;
	--br-h2: 3rem;
	--br-h3: 2.6rem;
	--br-h4: 1.8rem;
	--br-h5: 1.6rem;
	--br-h6: 1.4rem; /* default font-size */
	--br-linemax: 42em; /* max line-length */
	--br-lh: 1.5; /* base line-height */

	/* ----- Inputs ----- **/
	--br-input-block-padding: 5px;
    --br-input-inline-padding: 12px;
    --br-input-padding-right: 25px;
    --br-input-block-padding-focus: calc(var(--br-input-block-padding) - 1px);
    --br-input-inline-padding-focus: calc(var(--br-input-inline-padding) - 1px);
    --br-input-padding-right-focus: calc(var(--br-input-padding-right) - 1px);
	--br-postfix-width: 31px;

	/* ----- Size/Spacing ----- */
	--br-item-block-padding: 8px;
	--br-item-inline-padding: 12px;
	--br-item-height: 35px;
	--br-outer-gutter: 8px;
	--br-inner-gutter: calc(var(--br-outer-gutter) * 0.5);

	/* ----- Font ----- */
	--br-font: 'Arial', Helvetica, sans-serif;
	--br-font-mono: 'Fira Mono', monospace;
	--br-font-ui: var(--br-font-mono);
	--br-font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

	/* Animation */
	--br-transition-duration: 0.25s;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

a:focus { outline: none }

/* --------------- typography --------------- */

h1, h2, h3, h4, h5, h6, blockquote {
	position: relative;
	margin: 0;
	color: var(--br-heading);
}

h6 { font-size: var(--br-h6) }
h5 { font-size: var(--br-h5) }
h4 { font-size: var(--br-h4) }
h3 { font-size: var(--br-h3) }
h2 { font-size: var(--br-h2) }
h1 { font-size: var(--br-h1) }

h1, h2 {
	font-family: var(--br-font);
	line-height: 1.25;
}

h3 { font-weight: 300 }

/* --------------- links --------------- */
a {
	text-decoration: none;
	cursor: pointer;
	user-select: none;
	color: var(--br-primary);
}

a:hover,
a:active  {
	color: var(--br-primary-hover);
}

a:focus { outline: none }

/* --------------- tables --------------- */
table {
	width: 100%;
	font-size: var(--br-h5);
}

td, th {
	text-align: left;
	border-bottom: var(--br-border);;
	padding: 0.4rem 0.8rem 0.4rem 0;
}

table code, table span {
	white-space: pre;
}

/*
 ---------------
    Useful for hiding labels etc. that you want screen
    readers to find but not humans to see
 ---------------
*/
.br-accessible-hide {
	position: absolute !important;
	height: 1px; width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}