:host {
	border-collapse: collapse;
    font-weight: 400;
    font-size: var(--br-font-size);
    font-family: var(--br-font-family);
    color: var(--br-text-color);
}

:host * {
	box-sizing: border-box;
}