*,
*::before,
*::after {
	box-sizing: border-box;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-size: var(--br-font-size);
	line-height: 1.5;
	font-family: var(--br-font-family);
	color: var(--br-text-color);
}