/*
-----------------------------------------------
	vars – css custom-properties

	NOTE
	- some vars change inside media-queries!
	- under normal conditions, there's no need to touch these
-----------------------------------------------
*/
:root {
	--nav-h:       6rem;
	--top-offset:  6rem;
	--sidebar-w:  30rem;
	--sidebar-mid-w: 36rem;
	--sidebar-large-w: 48rem;
	--main-width: 80rem;
	--code-w:      72em;
	--side-nav:  3.2rem;
	--side-page:   var(--side-nav);

	/* easings */
	--in-cubic:    cubic-bezier(0.55, 0.055, 0.675, 0.19);
	--out-cubic:   cubic-bezier(0.215, 0.61, 0.355, 1);
	--inout-cubic: cubic-bezier(0.645, 0.045, 0.355, 1);

	--in-back:     cubic-bezier(0.6, -0.28, 0.735, 0.045);
	--out-back:    cubic-bezier(0.175, 0.885, 0.32, 1.275);
	--inout-back:  cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

@media screen and (min-width: 768px) {
	:root {
		--side-page:  14vw;
		--top-offset: 10rem;
		--side-nav: 4.8rem;
	}
}

/*	theme vars */
.theme-default {
	--back:       		#ffffff;
	--back-light: 		#f6fafd;
	--primary:      	#ff261b;
	--primary-light:   	#fee8f0;
	--secondary:     	#1890ff;
	--secondary-light:	#e8f0fe;
	--flash:      		#40b3ff;
	--heading:			var(--text);
	--text:      		#333;
	--sidebar-text:   rgba(255, 255, 255, .75);
	--border-w:  		.3rem; /* border-width  */
	--border-r:  		.4rem; /* border-radius */
}

/*	typo vars */
.typo-default {
	--unit:     .8rem;
	--code-fs: 1.3rem;
	--h6:      1.4rem;
	--h5:      1.6rem;
	--h4:      1.8rem; /* default font-size */
	--h3:      2.6rem;
	--h2:        3rem;
	--h1:      3.2rem;
	--linemax:   42em; /* max line-length */
	--lh:  		  1.5; /* base line-height */
}

body {
	--font: 'Arial', Helvetica, sans-serif;
	--font-mono: 'Fira Mono', monospace;
	--font-ui: var(--font-mono);
	--font-system: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

/*	base reset ----------------------------- */
html {
	font-size: 62.5%;
	-ms-text-size-adjust: 62.5%;
	-webkit-text-size-adjust: 62.5%;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	box-sizing: border-box;
	border-collapse: collapse;
}

html,
body {
	width: 100%;
	height: 100%;
}

* {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

/*	link reset ----------------------------- */
a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

a:hover, a:active { color: var(--secondary) }
a:focus { outline: none }

/*
-----------------------------------------------
	global styles
-----------------------------------------------
*/

/*	typography ----------------------------- */
body {
	font-weight: 400;
	font-size: var(--h4)/var(--lh);
	font-family: var(--font);
	background-color: var(--back);
	color: var(--text);
}

h1, h2, h3, h4, h5, h6, blockquote {
	position: relative;
	margin: 0;
	color: var(--heading);
}

/* h1, h2, h3, h4, h5, h6 { font-weight: 600 } */
h6 { font-size: var(--h6) }
h5 { font-size: var(--h5) }
h4 { font-size: var(--h4) }
h3 { font-size: var(--h3) }
h2 { font-size: var(--h2) }
h1 { font-size: var(--h1) }

h1, h2 {
	font-family: var(--font);
	line-height: 1.25;
}

h3 { font-weight: 300 }

tt, code, kbd, samp {
	font: 400 var(--code-fs)/1.7 var(--font-mono);
}


/*  links ------------------------------------- */
a {
	user-select: none;
	color: var(--secondary);
	transition: color .2s;
}

a:hover  {
	color: var(--secondary);
}

/*  lists ---------------------------------- */
.listify ol,
.listify ul {
	--list-padding: 2.9rem;

	list-style: none;
	color: currentColor;
	margin-left: var(--list-padding);
}

.listify ol > li,
.listify ul > li {
	max-width: calc(var(--linemax) - var(--list-padding));
	line-height: 1.5;
	margin: 0 0 0.4rem 0;
}

.listify ul > li:before {
	content: '';
	position: absolute;
	margin-top: 1.1rem;
	margin-left: -1.8rem;
	background-color: var(--secondary);
	width: .6rem;
	height: .6rem;
	border-radius: 2px;
	opacity: 0.7;
}

.listify ol { list-style: decimal }

/*  tables --------------------------------- */
table {
	width: 100%;
	font-size: var(--h5);
}

td, th {
	text-align: left;
	border-bottom: 1px solid #eee;
	padding: 0.4rem 0.8rem 0.4rem 0;
}

table code, table span {
	white-space: pre;
}

/*	grid ----------------------------------- */
.grid, .grid.half {
	display: grid;
	grid-gap: 2.4rem;
	grid-template-columns: 1fr;
	align-items: center;
}

.grid.stretch { align-items: stretch }

.grid > .cols-2,
.grid > .cols-3 { grid-column: span 1 }

@media screen and (min-width: 840px) {
	.grid.half,
	.grid { grid-template-columns: repeat(2, 1fr) }
	.grid > .cols-2,
	.grid > .cols-3 { grid-column: span 2 }
}

@media screen and (min-width: 1100px) {
	.grid { grid-template-columns: repeat(3, 1fr) }
	.grid > .cols-2 { grid-column: span 2 }
	.grid > .cols-3 { grid-column: span 3 }
}

/*	theme colors --------------------------- */
.prime      { color: var(--primary) !important }
.second     { color: var(--secondary) !important }
.flash      { color: var(--flash) !important }
.black      { color: black !important }
.white      { color: white !important }

.back       { background-color: var(--back) !important }
.back-light { background-color: var(--back-light) !important }
.bg-prime   { background-color: var(--primary) !important }
.bg-second  { background-color: var(--secondary) !important }
.bg-flash   { background-color: var(--flash) !important }