<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Strawberry</title>
  <title>Strawberry | Svelte Select Component</title><link rel="stylesheet" href="/strawberry/app/assets/berry.dark-901f2d10.css" media="(prefers-color-scheme: dark)" data-svelte="svelte-1l8l244"><link rel="stylesheet" href="/strawberry/app/assets/berry.light-166e723f.css" media="(prefers-color-scheme: light)" data-svelte="svelte-1l8l244">

		

		<link rel="modulepreload" href="/strawberry/app/start-1a77d6f9.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/vendor-5dcc93bd.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/paths-28a87002.js">
		<link rel="modulepreload" href="/strawberry/app/layout.svelte-9a3ca20e.js">
		<link rel="modulepreload" href="/strawberry/app/pages/components/__layout.svelte-c812caa9.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/forward-events-341ce30a.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/layout-41a5c24d.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/Theme-7e0e4291.js">
		<link rel="modulepreload" href="/strawberry/app/pages/components/select.svelte-64e6b69a.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/docs-943998a3.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/Link-cb9bf92c.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/Path-bec9dc29.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/Text-8021bcd1.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/Container-97ee60b2.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/actions-f8e73d02.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/component-570affb2.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/svelte-7f3d56d8.js">
		<link rel="stylesheet" href="/strawberry/app/assets/start-61d1577b.css">
		<link rel="stylesheet" href="/strawberry/app/assets/pages/components/__layout.svelte-df1ff4eb.css">
		<link rel="stylesheet" href="/strawberry/app/assets/layout-c5cbc765.css">
		<link rel="stylesheet" href="/strawberry/app/assets/Theme-c139773c.css">
		<link rel="stylesheet" href="/strawberry/app/assets/pages/components/select.svelte-3dec9fc7.css">
		<link rel="stylesheet" href="/strawberry/app/assets/docs-45ef8145.css">
		<link rel="stylesheet" href="/strawberry/app/assets/Link-13589086.css">
		<link rel="stylesheet" href="/strawberry/app/assets/Path-ff776d72.css">
		<link rel="stylesheet" href="/strawberry/app/assets/pages/components/input/password.svelte-682c6691.css">
		<link rel="stylesheet" href="/strawberry/app/assets/Container-aff0bb60.css">
		<link rel="stylesheet" href="/strawberry/app/assets/component-510f4f4f.css">
		<link rel="stylesheet" href="/strawberry/app/assets/svelte-e982fac4.css">

		<script type="module">
			import { start } from "/strawberry/app/start-1a77d6f9.js";
			start({
				target: document.querySelector("#svelte"),
				paths: {"base":"/strawberry","assets":""},
				session: {},
				host: location.host,
				route: true,
				spa: false,
				trailing_slash: "never",
				hydrate: {
					status: 200,
					error: null,
					nodes: [
						import("/strawberry/app/layout.svelte-9a3ca20e.js"),
						import("/strawberry/app/pages/components/__layout.svelte-c812caa9.js"),
						import("/strawberry/app/pages/components/select.svelte-64e6b69a.js")
					],
					page: {
						host: location.host, // TODO this is redundant
						path: "\u002Fcomponents\u002Fselect",
						query: new URLSearchParams(""),
						params: {}
					}
				}
			});
		</script>
</head>
<body id="svelte">
  




<div class="app-layout svelte-1q74s6"><nav class="svelte-h4i5ca">
    <div class="wrapper svelte-h4i5ca"><a class="logo svelte-h4i5ca" href="/strawberry/">🍓 <span class="text">strawberry</span></a>
        <ul class="links svelte-h4i5ca"><li class="berry-navbar-link svelte-17iw2vs"><a href="/strawberry/components" class="svelte-17iw2vs">Components
            </a>
</li>
            <li class="berry-navbar-link svelte-17iw2vs"><a href="/strawberry/typography" class="svelte-17iw2vs">Typography
            </a>
</li>
        </ul>
        <ul class="actions svelte-h4i5ca"><a class="cta svelte-1q74s6" href="https://github.com/kwangure/strawberry" target="_blank">GitHub
            </a>
            <a class="cta svelte-1q74s6" href="https://www.npmjs.com/package/@kwangure/strawberry" target="_blank">NPM
            </a>
        </ul></div>
</nav>
    <div class="components svelte-nenj4r"><div class="left"><div class="berry-sidebar svelte-scga4w"><a href="/strawberry/components" class="sidebar-item svelte-gjg4f3">Components Overview
                
</a>
                <section class="berry-sidebar-section sidebar-section svelte-rmr5lz"><div class="title svelte-rmr5lz">General</div>
    <div class="items svelte-rmr5lz"><a href="/strawberry/components/button" class="sidebar-item svelte-gjg4f3">Button
                        
</a>
                        <a href="/strawberry/components/dropdown" class="sidebar-item svelte-gjg4f3">Dropdown
                        
</a>
                        <a href="/strawberry/components/icon" class="sidebar-item svelte-gjg4f3">Icon
                        
</a>
                    </div>
</section>
                <section class="berry-sidebar-section sidebar-section svelte-rmr5lz"><div class="title svelte-rmr5lz">Data Inputs</div>
    <div class="items svelte-rmr5lz"><a href="/strawberry/components/input/date" class="sidebar-item svelte-gjg4f3">Date
                        
</a>
                        <a href="/strawberry/components/input" class="sidebar-item svelte-gjg4f3">Text
                        
</a>
                        <a href="/strawberry/components/input/password" class="sidebar-item svelte-gjg4f3">Password
                        
</a>
                        <a href="/strawberry/components/input/number" class="sidebar-item svelte-gjg4f3">Number
                        
</a>
                        <a href="/strawberry/components/input/checkbox" class="sidebar-item svelte-gjg4f3">Checkbox
                        
</a>
                        <a href="/strawberry/components/input/radio" class="sidebar-item svelte-gjg4f3">Radio
                        
</a>
                        <a href="/strawberry/components/select" class="sidebar-item svelte-gjg4f3 active">Select (deprecated)
                        
</a>
                        <a href="/strawberry/components/input/select" class="sidebar-item svelte-gjg4f3">Select
                        
</a>
                        <a href="/strawberry/components/input/textarea" class="sidebar-item svelte-gjg4f3">Textarea
                        
</a>
                        <a href="/strawberry/components/input/time" class="sidebar-item svelte-gjg4f3">Time
                        
</a>
                    </div>
</section>
                <section class="berry-sidebar-section sidebar-section svelte-rmr5lz"><div class="title svelte-rmr5lz">Data Display</div>
    <div class="items svelte-rmr5lz"><a href="/strawberry/components/code" class="sidebar-item svelte-gjg4f3">Code
                        
</a>
                        <a href="/strawberry/components/modal" class="sidebar-item svelte-gjg4f3">Modal
                        
</a>
                        <a href="/strawberry/components/notification" class="sidebar-item svelte-gjg4f3">Notification
                        
</a>
                        <a href="/strawberry/components/tooltip" class="sidebar-item svelte-gjg4f3">Tooltip
                        
</a>
                    </div>
</section>
</div></div>
        <div class="right svelte-nenj4r">

<h1 class="svelte-1qp7jc9">Select</h1>

<h2 class="svelte-1qp7jc9">Example</h2>
    <div class="usage inline svelte-1qp7jc9"><div class="berry-select svelte-f44ryo placeholder">
<div class="wrapper svelte-ocexhd"><label for="mwkqu721xq5" class="svelte-ocexhd">I label selects.</label>
    <div class="container svelte-1w5x14"><input class="text-input  svelte-1w5x14" type="text" id="mwkqu721xq5" slot="button" readonly value="Like I said...">
        <div class="postfix-wrapper svelte-1w5x14"><svg viewBox="0 0 24 24" class="svelte-1qwph3y"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" class="svelte-1qwph3y"></path></svg></div></div>
    
</div>
<div class="berry-dropdown-menu svelte-dhv342">
    <div class="berry-option menu-item svelte-109cbc4">Undercover Onion
</div>
            <div class="berry-option menu-item svelte-109cbc4">Testicle Rainbow
</div>
</div>
</div></div>
    <div class="usage block svelte-1qp7jc9"></div>

<h2 class="svelte-1qp7jc9">Props</h2>
<table class="svelte-1qp7jc9"><tr><th class="svelte-1qp7jc9">Name</th>
        <th class="svelte-1qp7jc9">Type</th>
        <th class="svelte-1qp7jc9">Default</th>
        <th class="svelte-1qp7jc9">Description</th></tr>
    <tr><td class="svelte-ingn1y"><span>placeholder</span></td>
    <td class="type svelte-ingn1y"><pre class="berry-code hljs svelte-ayg4fc inline"><code class="svelte-ayg4fc"><!-- HTML_TAG_START -->string<!-- HTML_TAG_END --></code>
</pre></td>
    <td class="svelte-ingn1y"><pre class="berry-code hljs svelte-ayg4fc inline"><code class="svelte-ayg4fc"><!-- HTML_TAG_START --><span class="hljs-string">&quot;&quot;</span><!-- HTML_TAG_END --></code>
</pre></td>
    <td class="svelte-ingn1y">Text that appears in the form control when it has no value set</td>
</tr><tr><td class="svelte-ingn1y"><span>placement</span></td>
    <td class="type svelte-ingn1y"><pre class="berry-code hljs svelte-ayg4fc inline"><code class="svelte-ayg4fc"><!-- HTML_TAG_START --><span class="hljs-string">&quot;top&quot;</span> | <span class="hljs-string">&quot;top-start&quot;</span> | <span class="hljs-string">&quot;top-end&quot;</span> | <span class="hljs-string">&quot;right&quot;</span> | <span class="hljs-string">&quot;right-start&quot;</span> | <span class="hljs-string">&quot;right-end&quot;</span> | <span class="hljs-string">&quot;bottom&quot;</span> | <span class="hljs-string">&quot;bottom-start&quot;</span> | <span class="hljs-string">&quot;bottom-end&quot;</span> | <span class="hljs-string">&quot;left&quot;</span> | <span class="hljs-string">&quot;left-start&quot;</span> | <span class="hljs-string">&quot;left-end&quot;</span><!-- HTML_TAG_END --></code>
</pre></td>
    <td class="svelte-ingn1y"><pre class="berry-code hljs svelte-ayg4fc inline"><code class="svelte-ayg4fc"><!-- HTML_TAG_START --><span class="hljs-string">&quot;bottom-start&quot;</span><!-- HTML_TAG_END --></code>
</pre></td>
    <td class="svelte-ingn1y">Where to position the popup relative to the dropdown button.</td>
</tr><tr><td class="svelte-ingn1y"><span>value</span></td>
    <td class="type svelte-ingn1y"><pre class="berry-code hljs svelte-ayg4fc inline"><code class="svelte-ayg4fc"><!-- HTML_TAG_START -->any<!-- HTML_TAG_END --></code>
</pre></td>
    <td class="svelte-ingn1y"><pre class="berry-code hljs svelte-ayg4fc inline"><code class="svelte-ayg4fc"><!-- HTML_TAG_START --><span class="hljs-string">&quot;&quot;</span><!-- HTML_TAG_END --></code>
</pre></td>
    <td class="svelte-ingn1y">The initial value of the component.</td>
</tr><tr><td class="svelte-ingn1y"><span>compare</span></td>
    <td class="type svelte-ingn1y"><pre class="berry-code hljs svelte-ayg4fc inline"><code class="svelte-ayg4fc"><!-- HTML_TAG_START -->(value, optionValue) =&gt; boolean<!-- HTML_TAG_END --></code>
</pre></td>
    <td class="svelte-ingn1y">—</td>
    <td class="svelte-ingn1y">Compares whether the `Select.value` an `Option.value` are equal.</td>
</tr><tr><td class="svelte-ingn1y"><span>format</span></td>
    <td class="type svelte-ingn1y"><pre class="berry-code hljs svelte-ayg4fc inline"><code class="svelte-ayg4fc"><!-- HTML_TAG_START -->({ optionValue, optionDisplayText }) =&gt; string<!-- HTML_TAG_END --></code>
</pre></td>
    <td class="svelte-ingn1y">—</td>
    <td class="svelte-ingn1y">Choose the text displayed when an Option is selected.</td>
</tr></table>

<h2 class="svelte-1qp7jc9">Slots</h2>
<table class="svelte-1qp7jc9"><tr><th class="svelte-1qp7jc9">Name</th>
        <th class="svelte-1qp7jc9">Descriptoin</th></tr>
    <tr><td class="svelte-1o7bqf1">label</td>
    <td class="svelte-1o7bqf1">—</td>
</tr><tr><td class="svelte-1o7bqf1">default</td>
    <td class="svelte-1o7bqf1">—</td>
</tr></table>

<h2 class="svelte-1qp7jc9">Custom Properties</h2>
None.</div></div>
</div>



			
		
</body>
</html>