<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Strawberry</title>
  <title>Strawberry | Svelte Time Component</title><link rel="stylesheet" href="/strawberry/app/assets/berry.dark-c3a372b6.css" media="(prefers-color-scheme: dark)" data-svelte="svelte-1l8l244"><link rel="stylesheet" href="/strawberry/app/assets/berry.light-c0c782a6.css" media="(prefers-color-scheme: light)" data-svelte="svelte-1l8l244">

		

		<link rel="modulepreload" href="/strawberry/app/start-e5fe5303.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/vendor-fab38dda.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/paths-28a87002.js">
		<link rel="modulepreload" href="/strawberry/app/layout.svelte-08843934.js">
		<link rel="modulepreload" href="/strawberry/app/pages/components/__layout.svelte-a8d25416.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/forward-events-b24822df.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/layout-0a6e50bf.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/Theme-6c81f42c.js">
		<link rel="modulepreload" href="/strawberry/app/pages/components/input/time.svelte-58c121ac.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/component-34fb119c.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/JavaScript.svelte_svelte_type_style_lang-2840d63e.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/Container-cf165cf3.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/Path-7da7a35e.js">
		<link rel="stylesheet" href="/strawberry/app/assets/start-61d1577b.css">
		<link rel="stylesheet" href="/strawberry/app/assets/pages/components/__layout.svelte-2473c537.css">
		<link rel="stylesheet" href="/strawberry/app/assets/layout-c5cbc765.css">
		<link rel="stylesheet" href="/strawberry/app/assets/Theme-ecbadb2e.css">
		<link rel="stylesheet" href="/strawberry/app/assets/pages/components/input/time.svelte-e4312b51.css">
		<link rel="stylesheet" href="/strawberry/app/assets/component-510f4f4f.css">
		<link rel="stylesheet" href="/strawberry/app/assets/JavaScript.svelte_svelte_type_style_lang-7ad1a9c5.css">
		<link rel="stylesheet" href="/strawberry/app/assets/Container-aff0bb60.css">
		<link rel="stylesheet" href="/strawberry/app/assets/Path-ff776d72.css">

		<script type="module">
			import { start } from "/strawberry/app/start-e5fe5303.js";
			start({
				target: document.querySelector("#svelte"),
				paths: {"base":"/strawberry","assets":""},
				session: {},
				host: location.host,
				route: true,
				spa: false,
				trailing_slash: "never",
				hydrate: {
					status: 200,
					error: null,
					nodes: [
						import("/strawberry/app/layout.svelte-08843934.js"),
						import("/strawberry/app/pages/components/__layout.svelte-a8d25416.js"),
						import("/strawberry/app/pages/components/input/time.svelte-58c121ac.js")
					],
					page: {
						host: location.host, // TODO this is redundant
						path: "\u002Fcomponents\u002Finput\u002Ftime",
						query: new URLSearchParams(""),
						params: {}
					}
				}
			});
		</script>
</head>
<body id="svelte">
  




<div class="app-layout svelte-1q74s6"><nav class="svelte-h4i5ca">
    <div class="wrapper svelte-h4i5ca"><a class="logo svelte-h4i5ca" href="/strawberry/">🍓 <span class="text">strawberry</span></a>
        <ul class="links svelte-h4i5ca"><li class="berry-navbar-link svelte-15fdnq3"><a href="/strawberry/components" class="svelte-15fdnq3">Components
            </a>
</li>
            <li class="berry-navbar-link svelte-15fdnq3"><a href="/strawberry/typography" class="svelte-15fdnq3">Typography
            </a>
</li>
        </ul>
        <ul class="actions svelte-h4i5ca"><a class="cta svelte-1q74s6" href="https://github.com/kwangure/strawberry" target="_blank">GitHub
            </a>
            <a class="cta svelte-1q74s6" href="https://www.npmjs.com/package/@kwangure/strawberry" target="_blank">NPM
            </a>
        </ul></div>
</nav>
    <div class="components svelte-nenj4r"><div class="left"><div class="berry-sidebar svelte-scga4w"><a href="/strawberry/components" class="sidebar-item svelte-1gvcihr">Components Overview
                
</a>
                <section class="berry-sidebar-section sidebar-section svelte-rmr5lz"><div class="title svelte-rmr5lz">General</div>
    <div class="items svelte-rmr5lz"><a href="/strawberry/components/button" class="sidebar-item svelte-1gvcihr">Button
                        
</a>
                        <a href="/strawberry/components/dropdown" class="sidebar-item svelte-1gvcihr">Dropdown
                        
</a>
                        <a href="/strawberry/components/icon" class="sidebar-item svelte-1gvcihr">Icon
                        
</a>
                    </div>
</section>
                <section class="berry-sidebar-section sidebar-section svelte-rmr5lz"><div class="title svelte-rmr5lz">Data Inputs</div>
    <div class="items svelte-rmr5lz"><a href="/strawberry/components/input" class="sidebar-item svelte-1gvcihr">Text
                        
</a>
                        <a href="/strawberry/components/input/password" class="sidebar-item svelte-1gvcihr">Password
                        
</a>
                        <a href="/strawberry/components/input/number" class="sidebar-item svelte-1gvcihr">Number
                        
</a>
                        <a href="/strawberry/components/input/checkbox" class="sidebar-item svelte-1gvcihr">Checkbox
                        
</a>
                        <a href="/strawberry/components/input/radio" class="sidebar-item svelte-1gvcihr">Radio
                        
</a>
                        <a href="/strawberry/components/select" class="sidebar-item svelte-1gvcihr">Select
                        
</a>
                        <a href="/strawberry/components/input/time" class="sidebar-item svelte-1gvcihr active">Time
                        
</a>
                    </div>
</section>
                <section class="berry-sidebar-section sidebar-section svelte-rmr5lz"><div class="title svelte-rmr5lz">Data Display</div>
    <div class="items svelte-rmr5lz"><a href="/strawberry/components/code" class="sidebar-item svelte-1gvcihr">Code
                        
</a>
                        <a href="/strawberry/components/modal" class="sidebar-item svelte-1gvcihr">Modal
                        
</a>
                        <a href="/strawberry/components/notification" class="sidebar-item svelte-1gvcihr">Notification
                        
</a>
                        <a href="/strawberry/components/tooltip" class="sidebar-item svelte-1gvcihr">Tooltip
                        
</a>
                    </div>
</section>
</div></div>
        <div class="right svelte-nenj4r">

<h1 class="svelte-1qp7jc9">Time</h1>

<h2 class="svelte-1qp7jc9">Example</h2>
    <div class="usage inline svelte-1qp7jc9"><div class="wrapper svelte-ocexhd"><label for="lpfwch21fzy" class="svelte-ocexhd">I label your time!
            </label>
    <div class="container svelte-1ieid7s"><input class="text-input svelte-1ieid7s" type="number" min="0" max="23" placeholder="--" value="07">:
        <input class="text-input svelte-1ieid7s" type="number" min="0" max="59" placeholder="--" value="39">
        <div class="postfix-wrapper svelte-1ieid7s"><svg viewBox="0 0 24 24" class="svelte-1qwph3y"><path d="M12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22C6.47,22 2,17.5 2,12A10,10 0 0,1 12,2M12.5,7V12.25L17,14.92L16.25,16.15L11,13V7H12.5Z" class="svelte-1qwph3y"></path></svg></div></div>
</div></div>
    <div class="usage block svelte-1qp7jc9"></div>

<h2 class="svelte-1qp7jc9">Props</h2>
<table class="svelte-1qp7jc9"><tr><th class="svelte-1qp7jc9">Name</th>
        <th class="svelte-1qp7jc9">Type</th>
        <th class="svelte-1qp7jc9">Default</th>
        <th class="svelte-1qp7jc9">Description</th></tr>
    <tr><td class="svelte-ingn1y"><span>hideLabel</span></td>
    <td class="type svelte-ingn1y"><pre class="berry-code hljs svelte-kuke95  inline"><div class="language-javascript"><!-- HTML_TAG_START -->boolean<!-- HTML_TAG_END -->
</div>
</pre></td>
    <td class="svelte-ingn1y"><pre class="berry-code hljs svelte-kuke95  inline"><div class="language-javascript"><!-- HTML_TAG_START --><span class="hljs-literal">false</span><!-- HTML_TAG_END -->
</div>
</pre></td>
    <td class="svelte-ingn1y">Whether to hide the input label.</td>
</tr><tr><td class="svelte-ingn1y"><span>value</span></td>
    <td class="type svelte-ingn1y"><pre class="berry-code hljs svelte-kuke95  inline"><div class="language-javascript"><!-- HTML_TAG_START -->string | <span class="hljs-title class_">Date</span><!-- HTML_TAG_END -->
</div>
</pre></td>
    <td class="svelte-ingn1y">—</td>
    <td class="svelte-ingn1y">The initial value of the input. An ISO 8601 dateString or Date.</td>
</tr></table>

<h2 class="svelte-1qp7jc9">Slots</h2>
<table class="svelte-1qp7jc9"><tr><th class="svelte-1qp7jc9">Name</th>
        <th class="svelte-1qp7jc9">Descriptoin</th></tr>
    <tr><td class="svelte-1o7bqf1">label</td>
    <td class="svelte-1o7bqf1">—</td>
</tr></table>

<h2 class="svelte-1qp7jc9">Custom Properties</h2>
<pre class="berry-code hljs svelte-kuke95  inline"><div class="language-css"><!-- HTML_TAG_START --><span class="hljs-attr">--br-input-time-icon-size</span><!-- HTML_TAG_END -->
</div>
</pre><pre class="berry-code hljs svelte-kuke95  inline"><div class="language-css"><!-- HTML_TAG_START --><span class="hljs-attr">--br-input-time-number-input-background-color</span><!-- HTML_TAG_END -->
</div>
</pre><pre class="berry-code hljs svelte-kuke95  inline"><div class="language-css"><!-- HTML_TAG_START --><span class="hljs-attr">--br-input-time-number-input-border-radius</span><!-- HTML_TAG_END -->
</div>
</pre></div></div>
</div>



			
		
</body>
</html>