<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Strawberry</title>
  

		

		<link rel="modulepreload" href="/strawberry/app/start-788a154d.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/vendor-ab46ac5d.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/preload-helper-9f12a5fd.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/paths-45dac81d.js">
		<link rel="modulepreload" href="/strawberry/app/layout.svelte-a7ea5cad.js">
		<link rel="modulepreload" href="/strawberry/app/pages/components/__layout.svelte-3bf4d45a.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/forward-events-3e74393b.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/_layout-faae64b5.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/Navbar-b9d8ea15.js">
		<link rel="modulepreload" href="/strawberry/app/pages/components/input/time.svelte-dd0c5b52.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/Tabs.svelte_svelte&type=style&lang-fbc66891.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/Icon-99e43cbb.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/Option.svelte_svelte&type=style&lang-5f5df440.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/Option-9c336318.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/Dropdown-172d0fcf.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/Input-ff2e8d2c.js">
		<link rel="stylesheet" href="/strawberry/app/assets/start-f7fb3cd0.css">
		<link rel="stylesheet" href="/strawberry/app/assets/pages/components/__layout.svelte-25487804.css">
		<link rel="stylesheet" href="/strawberry/app/assets/standardDOM-348c346d.css">
		<link rel="stylesheet" href="/strawberry/app/assets/_layout-c10a535c.css">
		<link rel="stylesheet" href="/strawberry/app/assets/Navbar-a81b795c.css">
		<link rel="stylesheet" href="/strawberry/app/assets/Icon.svelte_svelte&type=style&lang-c96fd61e.css">
		<link rel="stylesheet" href="/strawberry/app/assets/time.svelte_svelte&type=style&lang-42684eb1.css">
		<link rel="stylesheet" href="/strawberry/app/assets/Link.svelte_svelte&type=style&lang-018b28af.css">
		<link rel="stylesheet" href="/strawberry/app/assets/Tabs.svelte_svelte&type=style&lang-432cfd83.css">
		<link rel="stylesheet" href="/strawberry/app/assets/Option.svelte_svelte&type=style&lang-4be5bb9a.css">

		<script type="module">
			import { start } from "/strawberry/app/start-788a154d.js";
			start({
				target: document.querySelector("#svelte"),
				paths: {"base":"/strawberry","assets":"/strawberry"},
				session: {},
				host: location.host,
				route: true,
				spa: false,
				trailing_slash: "never",
				hydrate: {
					status: 200,
					error: null,
					nodes: [
						import("/strawberry/app/layout.svelte-a7ea5cad.js"),
						import("/strawberry/app/pages/components/__layout.svelte-3bf4d45a.js"),
						import("/strawberry/app/pages/components/input/time.svelte-dd0c5b52.js")
					],
					page: {
						host: location.host, // TODO this is redundant
						path: "/components/input/time",
						query: new URLSearchParams(""),
						params: {}
					}
				}
			});
		</script>
</head>
<body id="svelte">
  


<div class="app-layout svelte-z2vi6d"><nav class="berry-nav svelte-1boo1g1"><div class="nav-wrapper  svelte-1boo1g1"><a class="logo svelte-1boo1g1" href="/strawberry/">🍓 <span class="text">strawberry</span></a>
        <ul class="nav-links svelte-1boo1g1"><li class="berry-navbar-link svelte-161lg2p"><a href="/strawberry/components" class="svelte-161lg2p">Components
            </a>
</li>
            <li class="berry-navbar-link svelte-161lg2p"><a href="/strawberry/typography" class="svelte-161lg2p">Typography
            </a>
</li>
        </ul>
        <ul class="calls-to-action svelte-1boo1g1"></ul></div>
</nav>
    <div class="components svelte-vp6l69"><div class="left"><div class="berry-sidebar svelte-1lzmi13"><a href="/strawberry/components" class="sidebar-item svelte-m3u0bf">Components Overview
                
</a>
                <section class="berry-sidebar-section sidebar-section svelte-10w4z02"><div class="title svelte-10w4z02">General</div>
    <div class="items svelte-10w4z02"><a href="/strawberry/components/button" class="sidebar-item svelte-m3u0bf">Button
                        
</a>
                        <a href="/strawberry/components/dropdown" class="sidebar-item svelte-m3u0bf">Dropdown
                        
</a>
                        <a href="/strawberry/components/icon" class="sidebar-item svelte-m3u0bf">Icon
                        
</a>
                    </div>
</section>
                <section class="berry-sidebar-section sidebar-section svelte-10w4z02"><div class="title svelte-10w4z02">Data Inputs</div>
    <div class="items svelte-10w4z02"><a href="/strawberry/components/input" class="sidebar-item svelte-m3u0bf">Text
                        
</a>
                        <a href="/strawberry/components/input/number" class="sidebar-item svelte-m3u0bf">Number
                        
</a>
                        <a href="/strawberry/components/input/checkbox" class="sidebar-item svelte-m3u0bf">Checkbox
                        
</a>
                        <a href="/strawberry/components/input/radio" class="sidebar-item svelte-m3u0bf">Radio
                        
</a>
                        <a href="/strawberry/components/select" class="sidebar-item svelte-m3u0bf">Select
                        
</a>
                        <a href="/strawberry/components/input/time" class="sidebar-item svelte-m3u0bf">Time
                        
</a>
                    </div>
</section>
                <section class="berry-sidebar-section sidebar-section svelte-10w4z02"><div class="title svelte-10w4z02">Data Display</div>
    <div class="items svelte-10w4z02"><a href="/strawberry/components/code" class="sidebar-item svelte-m3u0bf">Code
                        
</a>
                        <a href="/strawberry/components/list" class="sidebar-item svelte-m3u0bf">List
                        
</a>
                        <a href="/strawberry/components/modal" class="sidebar-item svelte-m3u0bf">Modal
                        
</a>
                        <a href="/strawberry/components/notification" class="sidebar-item svelte-m3u0bf">Notification
                        
</a>
                        <a href="/strawberry/components/tooltip" class="sidebar-item svelte-m3u0bf">Tooltip
                        
</a>
                    </div>
</section>
</div></div>
        <div class="right svelte-vp6l69"><div class="berry-input-time wrapper svelte-1g0jp5d"><label for="v2ioq2tfj7p" class="svelte-1g0jp5d"></label>
    <div class="container svelte-htvr62"><div class="time svelte-htvr62"><div class="berry-select svelte-m7x8p6 placeholder"><div class="berry-input wrapper svelte-1g0jp5d"><label for="4c04959zfoh" class="svelte-1g0jp5d br-accessible-hide"></label>
    <div class="container svelte-w0c26w"><input type="text" id="4c04959zfoh" slot="button" readonly class=" svelte-w0c26w" value="--">
        <div class="postfix-wrapper svelte-w0c26w"><svg class="berry-icon" height="24px" style="transform: rotate(0deg) scale(1, 1);" viewBox="0 0 24 24" width="24px"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" fill="currentColor"></path></svg></div></div>
    
</div>
<div class="berry-dropdown-menu svelte-eygd96"><div class="berry-option menu-item svelte-nm2yvm">1
</div><div class="berry-option menu-item svelte-nm2yvm">2
</div><div class="berry-option menu-item svelte-nm2yvm">3
</div><div class="berry-option menu-item svelte-nm2yvm">4
</div><div class="berry-option menu-item svelte-nm2yvm">5
</div><div class="berry-option menu-item svelte-nm2yvm">6
</div><div class="berry-option menu-item svelte-nm2yvm">7
</div><div class="berry-option menu-item svelte-nm2yvm">8
</div><div class="berry-option menu-item svelte-nm2yvm">9
</div><div class="berry-option menu-item svelte-nm2yvm">10
</div><div class="berry-option menu-item svelte-nm2yvm">11
</div><div class="berry-option menu-item svelte-nm2yvm">12
</div>
</div>
</div>
            :
            <div class="berry-select svelte-m7x8p6 placeholder"><div class="berry-input wrapper svelte-1g0jp5d"><label for="x19linf2rde" class="svelte-1g0jp5d br-accessible-hide"></label>
    <div class="container svelte-w0c26w"><input type="text" id="x19linf2rde" slot="button" readonly class=" svelte-w0c26w" value="--">
        <div class="postfix-wrapper svelte-w0c26w"><svg class="berry-icon" height="24px" style="transform: rotate(0deg) scale(1, 1);" viewBox="0 0 24 24" width="24px"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" fill="currentColor"></path></svg></div></div>
    
</div>
<div class="berry-dropdown-menu svelte-eygd96"><div class="berry-option menu-item svelte-nm2yvm">00
</div><div class="berry-option menu-item svelte-nm2yvm">01
</div><div class="berry-option menu-item svelte-nm2yvm">02
</div><div class="berry-option menu-item svelte-nm2yvm">03
</div><div class="berry-option menu-item svelte-nm2yvm">04
</div><div class="berry-option menu-item svelte-nm2yvm">05
</div><div class="berry-option menu-item svelte-nm2yvm">06
</div><div class="berry-option menu-item svelte-nm2yvm">07
</div><div class="berry-option menu-item svelte-nm2yvm">08
</div><div class="berry-option menu-item svelte-nm2yvm">09
</div><div class="berry-option menu-item svelte-nm2yvm">10
</div><div class="berry-option menu-item svelte-nm2yvm">11
</div><div class="berry-option menu-item svelte-nm2yvm">12
</div><div class="berry-option menu-item svelte-nm2yvm">13
</div><div class="berry-option menu-item svelte-nm2yvm">14
</div><div class="berry-option menu-item svelte-nm2yvm">15
</div><div class="berry-option menu-item svelte-nm2yvm">16
</div><div class="berry-option menu-item svelte-nm2yvm">17
</div><div class="berry-option menu-item svelte-nm2yvm">18
</div><div class="berry-option menu-item svelte-nm2yvm">19
</div><div class="berry-option menu-item svelte-nm2yvm">20
</div><div class="berry-option menu-item svelte-nm2yvm">21
</div><div class="berry-option menu-item svelte-nm2yvm">22
</div><div class="berry-option menu-item svelte-nm2yvm">23
</div><div class="berry-option menu-item svelte-nm2yvm">24
</div><div class="berry-option menu-item svelte-nm2yvm">25
</div><div class="berry-option menu-item svelte-nm2yvm">26
</div><div class="berry-option menu-item svelte-nm2yvm">27
</div><div class="berry-option menu-item svelte-nm2yvm">28
</div><div class="berry-option menu-item svelte-nm2yvm">29
</div><div class="berry-option menu-item svelte-nm2yvm">30
</div><div class="berry-option menu-item svelte-nm2yvm">31
</div><div class="berry-option menu-item svelte-nm2yvm">32
</div><div class="berry-option menu-item svelte-nm2yvm">33
</div><div class="berry-option menu-item svelte-nm2yvm">34
</div><div class="berry-option menu-item svelte-nm2yvm">35
</div><div class="berry-option menu-item svelte-nm2yvm">36
</div><div class="berry-option menu-item svelte-nm2yvm">37
</div><div class="berry-option menu-item svelte-nm2yvm">38
</div><div class="berry-option menu-item svelte-nm2yvm">39
</div><div class="berry-option menu-item svelte-nm2yvm">40
</div><div class="berry-option menu-item svelte-nm2yvm">41
</div><div class="berry-option menu-item svelte-nm2yvm">42
</div><div class="berry-option menu-item svelte-nm2yvm">43
</div><div class="berry-option menu-item svelte-nm2yvm">44
</div><div class="berry-option menu-item svelte-nm2yvm">45
</div><div class="berry-option menu-item svelte-nm2yvm">46
</div><div class="berry-option menu-item svelte-nm2yvm">47
</div><div class="berry-option menu-item svelte-nm2yvm">48
</div><div class="berry-option menu-item svelte-nm2yvm">49
</div><div class="berry-option menu-item svelte-nm2yvm">50
</div><div class="berry-option menu-item svelte-nm2yvm">51
</div><div class="berry-option menu-item svelte-nm2yvm">52
</div><div class="berry-option menu-item svelte-nm2yvm">53
</div><div class="berry-option menu-item svelte-nm2yvm">54
</div><div class="berry-option menu-item svelte-nm2yvm">55
</div><div class="berry-option menu-item svelte-nm2yvm">56
</div><div class="berry-option menu-item svelte-nm2yvm">57
</div><div class="berry-option menu-item svelte-nm2yvm">58
</div><div class="berry-option menu-item svelte-nm2yvm">59
</div>
</div>
</div>
            <div class="berry-select svelte-m7x8p6 placeholder"><div class="berry-input wrapper svelte-1g0jp5d"><label for="yhzkzpemaie" class="svelte-1g0jp5d br-accessible-hide"></label>
    <div class="container svelte-w0c26w"><input type="text" id="yhzkzpemaie" slot="button" readonly class=" svelte-w0c26w" value="--">
        <div class="postfix-wrapper svelte-w0c26w"><svg class="berry-icon" height="24px" style="transform: rotate(0deg) scale(1, 1);" viewBox="0 0 24 24" width="24px"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" fill="currentColor"></path></svg></div></div>
    
</div>
<div class="berry-dropdown-menu svelte-eygd96"><div class="berry-option menu-item svelte-nm2yvm">am
</div>
                <div class="berry-option menu-item svelte-nm2yvm">pm
</div>
</div>
</div></div>
        <div class="postfix-wrapper svelte-htvr62"><svg class="berry-icon" height="21" style="transform: rotate(0deg) scale(1, 1);" viewBox="0 0 24 24" width="21"><path d="M12,20A8,8 0 0,0 20,12A8,8 0 0,0 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20M12,2A10,10 0 0,1 22,12A10,10 0 0,1 12,22C6.47,22 2,17.5 2,12A10,10 0 0,1 12,2M12.5,7V12.25L17,14.92L16.25,16.15L11,13V7H12.5Z" fill="currentColor"></path></svg></div></div>
</div>
<button class="berry-button   slot_used   svelte-gf5j2w"><div class="content-wrapper svelte-gf5j2w">
        Reset</div>
</button>
<button class="berry-button   slot_used   svelte-gf5j2w"><div class="content-wrapper svelte-gf5j2w">
        Now</div>
</button></div></div>
</div>



	

</body>
</html>