# Build folders
.svelte-kit
build
package

# Asset folders
static
assets

# Miscellaneous
node_modules
test/

# `"eslint"` tries to `require` `"@sveltejs/adapter-static"`
svelte.config.js
vite.config.js