.DS_Store
node_modules
/build
/.wireit
/.svelte-kit
/.vercel
/.vite-inspect
/dist
.env
.env.*
.npmrc
!.env.example
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
.eslintcache
kwangure-strawberry*.tgz