/*
-----------------------------------------------
	vars – css custom-properties

	NOTE
	- some vars change inside media-queries!
	- under normal conditions, there's no need to touch these
-----------------------------------------------
*/
:root,
:host {
	/* ----- Colors ----- */
	--br-red: rgb(255, 40, 30);
	--br-red-hover: rgba(255, 60, 50);
	--br-red-light: rgb(255, 230, 240);

	--br-blue: rgb(25, 95, 255);
	--br-blue-hover: rgb(30, 130, 255);
	--br-blue-light: rgb(220, 235, 255);

	--br-green: rgb(45, 190, 45);
	--br-green-hover: rgb(55, 200, 55);
	--br-green-light: rgb(210, 255, 200);

	--br-black: #333;
	--br-grey-dark: rgb(70, 80, 90);
	--br-grey: rgb(150, 150, 150);
	--br-grey-light: rgb(195, 195, 195);
	--br-grey-lightest: rgb(240, 240, 240);
	--br-white: #fff;

	--br-primary: var(--br-blue);
	--br-primary-hover: var(--br-blue-hover);
	--br-primary-light: var(--br-blue-light);

	/* ----- Borders ----- */
	--br-border-color: var(--br-grey-light);
	--br-border: 1px solid var(--br-border-color);
	--br-border-radius: 4px;

	/* ----- Text ----- */
	--br-text: var(--br-black);
	--br-heading: var(--br-black);
	--br-code-fs: 1.3rem;
	--br-h1: 3.2rem;
	--br-h2: 3rem;
	--br-h3: 2.6rem;
	--br-h4: 1.8rem;
	--br-h5: 1.6rem;
	--br-h6: 1.4rem; /* default font-size */
	--br-linemax: 42em; /* max line-length */
	--br-lh: 1.5; /* base line-height */

	/* ----- Inputs ----- **/
	--br-input-vertical-padding: 5px;
    --br-input-horizontal-padding: 12px;
    --br-input-padding-right: 25px;
    --br-input-vertical-padding-focus: calc(var(--br-input-vertical-padding) - 1px);
    --br-input-horizontal-padding-focus: calc(var(--br-input-horizontal-padding) - 1px);
    --br-input-padding-right-focus: calc(var(--br-input-padding-right) - 1px);
	--br-postfix-width: 31px;

	/* ----- Uncategorized/General ----- */
	--br-item-vertical-padding: 8px;
	--br-item-horizontal-padding: 12px;
	--br-item-height: 35px;

	/* ----- Font ----- */
	--br-font: 'Arial', Helvetica, sans-serif;
	--br-font-mono: 'Fira Mono', monospace;
	--br-font-ui: var(--br-font-mono);
	--br-font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;

	/* Animation */
	--br-transition-duration: 0.25s;
}

a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

a:focus { outline: none }

/* --------------- typography --------------- */

h1, h2, h3, h4, h5, h6, blockquote {
	position: relative;
	margin: 0;
	color: var(--br-heading);
}

h6 { font-size: var(--br-h6) }
h5 { font-size: var(--br-h5) }
h4 { font-size: var(--br-h4) }
h3 { font-size: var(--br-h3) }
h2 { font-size: var(--br-h2) }
h1 { font-size: var(--br-h1) }

h1, h2 {
	font-family: var(--br-font);
	line-height: 1.25;
}

h3 { font-weight: 300 }

/* --------------- links --------------- */
a {
	text-decoration: none;
	cursor: pointer;
	user-select: none;
	color: var(--br-primary);
}

a:hover,
a:active  {
	color: var(--br-primary-hover);
}

a:focus { outline: none }

/* --------------- tables --------------- */
table {
	width: 100%;
	font-size: var(--br-h5);
}

td, th {
	text-align: left;
	border-bottom: var(--br-border);;
	padding: 0.4rem 0.8rem 0.4rem 0;
}

table code, table span {
	white-space: pre;
}

/*
 ---------------
    Useful for hiding labels etc. that you want screen
    readers to find but not humans to see
 ---------------
*/
.br-accessible-hide {
	position: absolute !important;
	height: 1px; width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}* {
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
	-ms-text-size-adjust: 62.5%;
	-webkit-text-size-adjust: 62.5%;
	border-collapse: collapse;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	font-weight: 400;
	font-size: var(--br-h6);
	font-family: var(--br-font);
	color: var(--br-text);
}h1.svelte-244z8z,p.svelte-244z8z{text-align:center}h1.svelte-244z8z{margin-top:2em}#svelte-announcer.svelte-1fp0tmk{position:absolute;left:0;top:0;clip:rect(0 0 0 0);clip-path:inset(50%);overflow:hidden;white-space:nowrap;width:1px;height:1px}.input-wrapper.svelte-1thz2i1{display:flex}input.svelte-1thz2i1{margin:5px}.berry-dropdown.svelte-1vf0qns{position:relative;display:inline-block}.dropdown-menu.svelte-1vf0qns{display:none;position:absolute;margin-top:5px;background-color:var(--br-white);border-radius:var(--br-border-radius);outline:none;box-shadow:0 2px 8px rgba(0,0,0,.15);z-index:100;overflow:hidden}.dropdown-menu.visible.svelte-1vf0qns{display:block}.dropdown-menu.top.svelte-1vf0qns{margin-bottom:5px;bottom:100%}.dropdown-menu.bottom.svelte-1vf0qns{margin-top:5px;top:100%}.dropdown-menu.left.svelte-1vf0qns{left:0}.dropdown-menu.right.svelte-1vf0qns{right:0}.menu-item.svelte-wf42l4{font-weight:400;font-size:14px;line-height:22px;white-space:nowrap;cursor:pointer;display:flex;align-items:center;min-width:130px;background-color:var(--br-white)}.menu-item.svelte-wf42l4:not(.linked){padding:8px 16px}.menu-item.svelte-wf42l4 a{display:flex;padding:var(--br-item-vertical-padding) var(--br-item-horizontal-padding);margin:calc(var(--br-item-vertical-padding)*-1) calc(var(--br-item-horizontal-padding)*-1);text-decoration:none;color:inherit}.menu-item.active.svelte-wf42l4,.menu-item.svelte-wf42l4:hover{color:var(--br-primary);background-color:var(--br-primary-light)}.container.svelte-190pvgk{width:100%;line-height:1.5}.container.svelte-190pvgk,label.svelte-190pvgk{display:inline-block}label.svelte-190pvgk{margin-bottom:5px}.hideLabel.svelte-190pvgk{display:none}input.svelte-5nkv2r.svelte-5nkv2r:not([type=checkbox]):not([type=radio]){text-align:inherit;display:inline-block;color:var(--br-text);font-size:14px;line-height:1.5;background-color:var(--br-white);background-image:none;border:none;outline:0}input.svelte-5nkv2r.svelte-5nkv2r:not([type=checkbox]):not([type=radio]){width:100%;height:100%;padding:var(--br-input-vertical-padding) var(--br-input-horizontal-padding)}input.svelte-5nkv2r.svelte-5nkv2r:hover:not(:focus){border-color:var(--br-grey-light)}div.invalid.svelte-5nkv2r.svelte-5nkv2r{color:var(--br-red);padding:3px 10px 0;font-size:13px}.is_invalid.svelte-5nkv2r.svelte-5nkv2r{border-color:var(--br-red)}.container.svelte-5nkv2r.svelte-5nkv2r{display:flex;border:var(--br-border);border-radius:var(--br-border-radius);transition:border-color var(--br-transition-duration) ease,box-shadow var(--br-transition-duration) ease-out;overflow:hidden;padding:1px;height:var(--br-item-height)}.container.svelte-5nkv2r.svelte-5nkv2r:hover:not(:focus-within){box-shadow:0 0 0 2px var(--br-primary-light);border-color:var(--br-primary)}.container.svelte-5nkv2r.svelte-5nkv2r:focus-within{border:2px solid var(--br-primary);padding:0}.postfix-wrapper.svelte-5nkv2r.svelte-5nkv2r{width:var(--br-postfix-width);color:var(--br-text);display:flex;align-items:center;justify-content:center;border-radius:0 2px 2px 0}.container.svelte-5nkv2r:focus-within .postfix-wrapper.svelte-5nkv2r,.container.svelte-5nkv2r:hover .postfix-wrapper.svelte-5nkv2r{color:var(--br-primary);background-color:var(--br-primary-light)}@keyframes svelte-1tqtcsl-clockwise{0%{transform:rotate(0deg)}to{transform:rotate(359deg)}}@keyframes svelte-1tqtcsl-counterclockwise{0%{transform:rotate(359deg)}to{transform:rotate(0deg)}}input.svelte-4z2j45.svelte-4z2j45:not([type=checkbox]):not([type=radio]){text-align:inherit;display:inline-block;color:var(--br-text);font-size:14px;line-height:1.5;background-color:var(--br-white);background-image:none;border:none;outline:0}input.svelte-4z2j45.svelte-4z2j45:not([type=checkbox]):not([type=radio]){width:100%;height:100%;padding:var(--br-input-vertical-padding) var(--br-input-horizontal-padding)}input.svelte-4z2j45.svelte-4z2j45:hover:not(:focus){border-color:var(--br-grey-light)}div.invalid.svelte-4z2j45.svelte-4z2j45{color:var(--br-red);padding:3px 10px 0;font-size:13px}.is_invalid.svelte-4z2j45.svelte-4z2j45{border-color:var(--br-red)}.container.svelte-4z2j45.svelte-4z2j45{display:flex;border:var(--br-border);border-radius:var(--br-border-radius);transition:border-color var(--br-transition-duration) ease,box-shadow var(--br-transition-duration) ease-out;overflow:hidden;padding:1px;height:var(--br-item-height)}.container.svelte-4z2j45.svelte-4z2j45:hover:not(:focus-within){box-shadow:0 0 0 2px var(--br-primary-light);border-color:var(--br-primary)}.container.svelte-4z2j45.svelte-4z2j45:focus-within{border:2px solid var(--br-primary);padding:0}.postfix-wrapper.svelte-4z2j45.svelte-4z2j45{width:var(--br-postfix-width);color:var(--br-text);display:flex;align-items:center;justify-content:center;border-radius:0 2px 2px 0}.container.svelte-4z2j45:focus-within .postfix-wrapper.svelte-4z2j45,.container.svelte-4z2j45:hover .postfix-wrapper.svelte-4z2j45{color:var(--br-primary);background-color:var(--br-primary-light)}.postfix-wrapper.svelte-4z2j45.svelte-4z2j45{flex-direction:column}.postfix-down.svelte-4z2j45.svelte-4z2j45,.postfix-up.svelte-4z2j45.svelte-4z2j45{flex:1;min-height:0;display:flex;align-items:center}input.svelte-5nkv2r.svelte-5nkv2r:not([type=checkbox]):not([type=radio]){text-align:inherit;display:inline-block;color:var(--br-text);font-size:14px;line-height:1.5;background-color:var(--br-white);background-image:none;border:none;outline:0}input.svelte-5nkv2r.svelte-5nkv2r:not([type=checkbox]):not([type=radio]){width:100%;height:100%;padding:var(--br-input-vertical-padding) var(--br-input-horizontal-padding)}input.svelte-5nkv2r.svelte-5nkv2r:hover:not(:focus){border-color:var(--br-grey-light)}div.invalid.svelte-5nkv2r.svelte-5nkv2r{color:var(--br-red);padding:3px 10px 0;font-size:13px}.is_invalid.svelte-5nkv2r.svelte-5nkv2r{border-color:var(--br-red)}.container.svelte-5nkv2r.svelte-5nkv2r{display:flex;border:var(--br-border);border-radius:var(--br-border-radius);transition:border-color var(--br-transition-duration) ease,box-shadow var(--br-transition-duration) ease-out;overflow:hidden;padding:1px;height:var(--br-item-height)}.container.svelte-5nkv2r.svelte-5nkv2r:hover:not(:focus-within){box-shadow:0 0 0 2px var(--br-primary-light);border-color:var(--br-primary)}.container.svelte-5nkv2r.svelte-5nkv2r:focus-within{border:2px solid var(--br-primary);padding:0}.postfix-wrapper.svelte-5nkv2r.svelte-5nkv2r{width:var(--br-postfix-width);color:var(--br-text);display:flex;align-items:center;justify-content:center;border-radius:0 2px 2px 0}.container.svelte-5nkv2r:focus-within .postfix-wrapper.svelte-5nkv2r,.container.svelte-5nkv2r:hover .postfix-wrapper.svelte-5nkv2r{color:var(--br-primary);background-color:var(--br-primary-light)}textarea.svelte-16jzghu{text-align:inherit;display:inline-block;color:var(--br-text);font-size:14px;line-height:1.5;background-color:var(--br-white);background-image:none;border:none;outline:0}textarea.svelte-16jzghu:focus,textarea.svelte-16jzghu:hover{border:2px solid var(--br-primary);padding:0}textarea.svelte-16jzghu:hover:not(:focus){border-color:var(--br-grey-light)}.is_invalid.svelte-16jzghu{border-color:var(--br-red)}textarea.svelte-16jzghu{width:100%;overflow:scroll;overflow-x:hidden;-ms-overflow-style:none;scrollbar-width:none}textarea.svelte-16jzghu::-webkit-scrollbar{display:none}.input-wrapper.svelte-1thz2i1{display:flex}input.svelte-1thz2i1{margin:5px}.menu-item.svelte-u4ody8{--vertical-padding:8px;--horizontal-padding:16px;line-height:var(--br-item-height);padding:0 var(--horizontal-padding);font-size:14px;cursor:pointer;min-width:150px;background-color:var(--br-white)}.menu-item.svelte-u4ody8 a{display:flex;padding:var(--vertical-padding) var(--horizontal-padding);margin:calc(var(--vertical-padding)*-1) calc(var(--horizontal-padding)*-1);text-decoration:none;color:inherit}.menu-item.active.svelte-u4ody8,.menu-item.svelte-u4ody8:hover{color:var(--br-primary);background-color:var(--br-primary-light)}.sidebar-item.svelte-18z72r2{cursor:pointer;background-color:transparent;position:relative}.sidebar-item.svelte-18z72r2,.sidebar-item.svelte-18z72r2>a{display:flex;align-items:center;min-height:40px;line-height:24px;text-decoration:none;padding:var(--br-item-vertical-padding) var(--br-item-horizontal-padding);border-radius:var(--br-border-radius)}.sidebar-item.svelte-18z72r2>a{margin:calc(var(--br-item-vertical-padding)*-1) calc(var(--br-item-horizontal-padding)*-1);color:inherit;flex:auto}.sidebar-item.svelte-18z72r2:not(.active):hover,.sidebar-item.svelte-18z72r2:not(.active)>a:focus{background-color:var(--br-grey-lightest)}.sidebar-item.active.svelte-18z72r2{background-color:var(--br-primary-light);color:var(--br-primary)}.sidebar-item.svelte-18z72r2+.sidebar-item{margin-top:3px}.berry-sidebar.svelte-sgxfd6{width:240px;padding:0 10px;height:100%;display:flex;flex-direction:column;flex:none;user-select:none}.sidebar-foot.svelte-sgxfd6{margin-top:auto}.sidebar-head.svelte-sgxfd6{display:block;min-height:40px;line-height:24px;text-decoration:none;padding:8px 12px}button.svelte-17hi57g.svelte-17hi57g{line-height:1.5;position:relative;display:inline-block;font-weight:400;white-space:nowrap;text-align:center;border:var(--br-border);cursor:pointer;user-select:none;touch-action:manipulation;height:var(--br-item-height);padding:0 10px;font-size:14px;border-radius:var(--br-border-radius);color:var(--br-text);background-color:transparent;outline:none}button.svelte-17hi57g.svelte-17hi57g:disabled{cursor:not-allowed}button.fullwidth.svelte-17hi57g.svelte-17hi57g{width:100%}button.svelte-17hi57g .content-wrapper.svelte-17hi57g{display:flex;align-items:center;justify-content:center;line-height:1.2}button.svelte-17hi57g.svelte-17hi57g:focus:not(:active):not(.active),button.svelte-17hi57g.svelte-17hi57g:hover:not(:active):not(.active){background-color:var(--br-grey-lightest);border-color:var(--br-grey-lightest);color:var(--br-text)}button.active.svelte-17hi57g.svelte-17hi57g,button.svelte-17hi57g.svelte-17hi57g:active{background-color:var(--br-primary-light);border-color:var(--br-primary-light);color:var(--br-primary)}button.primary.svelte-17hi57g.svelte-17hi57g{color:var(--br-white);background-color:var(--br-primary);border:none}button.primary.svelte-17hi57g.svelte-17hi57g:active,button.primary.svelte-17hi57g.svelte-17hi57g:focus,button.primary.svelte-17hi57g.svelte-17hi57g:hover{background-color:var(--br-primary-hover)!important;color:var(--br-white)!important}.button-prefix.svelte-17hi57g.svelte-17hi57g{display:flex}button.slot_used.svelte-17hi57g .berry-icon{margin-right:5px}button.icon.slot_used.svelte-17hi57g.svelte-17hi57g{padding-right:16px}.berry-button-group.svelte-lj7ybd button{border-radius:0}.berry-button-group.svelte-lj7ybd>button:first-child:not(:last-child),.berry-button-group.svelte-lj7ybd>span:first-child:not(:last-child)>button{border-top-left-radius:4px;border-bottom-left-radius:4px}.berry-button-group.svelte-lj7ybd>button:last-child:not(:first-child),.berry-button-group.svelte-lj7ybd>span:last-child:not(:first-child)>button{border-top-right-radius:4px;border-bottom-right-radius:4px}.berry-button-group.svelte-lj7ybd+button,.berry-button-group.svelte-lj7ybd button+button,.berry-button-group.svelte-lj7ybd button+span,.berry-button-group.svelte-lj7ybd span+button,.berry-button-group.svelte-lj7ybd>span+span{margin-left:-1px}.berry-button-group.svelte-lj7ybd>button,.berry-button-group.svelte-lj7ybd>span>button{position:relative}.berry-button-group.svelte-lj7ybd>button.active,.berry-button-group.svelte-lj7ybd>button:active,.berry-button-group.svelte-lj7ybd>button:focus,.berry-button-group.svelte-lj7ybd>button:hover,.berry-button-group.svelte-lj7ybd>span>button.active,.berry-button-group.svelte-lj7ybd>span>button:active,.berry-button-group.svelte-lj7ybd>span>button:focus,.berry-button-group.svelte-lj7ybd>span>button:hover{z-index:2}.tab-content.svelte-1n2ojxz,.tab-header.svelte-1n2ojxz,.tab-wrapper.svelte-1n2ojxz{padding:5px 10px}.overlay.svelte-1ur9gyc{position:fixed;top:0;right:0;bottom:0;left:0;z-index:1050;background-color:rgba(0,0,0,.5);transition:background-color var(--br-transition-duration) ease}.wrapper.svelte-1ur9gyc{width:100vw;height:100vh;display:flex;align-items:center;justify-content:center}.modal.svelte-1ur9gyc{background-color:var(--br-white);padding:30px;box-shadow:0 7px 15px rgba(0,0,0,.35);border-radius:var(--br-border-radius);transition:background-color var(--br-transition-duration) ease;max-width:90%}.modal.closable.svelte-1ur9gyc{padding:20px 30px}.header.svelte-1ur9gyc{display:flex;align-items:center}.header-content.svelte-1ur9gyc{margin-right:10px;font-size:16px!important;font-weight:600!important}.close.svelte-1ur9gyc{margin-left:auto}.close.svelte-1ur9gyc .berry-button{border:none}.content.svelte-1ur9gyc>*{max-width:100%}.wrapper.svelte-139az0k{overflow:hidden;position:absolute;top:0;right:0;left:0}.notification.svelte-139az0k{padding:10px 20px;display:flex;align-items:center;background-color:var(--br-grey-dark);color:var(--br-white);border-radius:var(--br-border-radius);width:210px;margin:15px 15px 15px auto}.message.svelte-139az0k{line-height:2}.close.svelte-139az0k{padding-left:10px;margin-left:auto}div.svelte-92otam{padding:6px 8px;background-color:rgba(0,0,0,.75);min-width:30px;min-height:var(--br-item-height);color:var(--br-white);border-radius:var(--br-border-radius);opacity:0;visibility:hidden;display:flex;align-items:center;transition:opacity var(--br-transition-duration) ease}div.showTooltip.svelte-92otam{visibility:visible;opacity:1}div.svelte-92otam{padding:6px 8px;background-color:rgba(0,0,0,.75);min-width:30px;min-height:var(--br-item-height);color:var(--br-white);border-radius:var(--br-border-radius);opacity:0;visibility:hidden;display:flex;align-items:center;transition:opacity var(--br-transition-duration) ease}div.showTooltip.svelte-92otam{visibility:visible;opacity:1}.components.svelte-1wjoiq3{display:grid;grid-template-columns:240px 1fr;grid-template-rows:1fr}.right.svelte-1wjoiq3{padding:10px}.modal-content.svelte-1wjoiq3,.right.svelte-1wjoiq3>:not(.berry-modal):not(.berry-tooltip){margin-bottom:10px}nav.svelte-xg7w9t.svelte-xg7w9t{width:100%;border-bottom:1px solid var(--br-border-color)}.left.svelte-xg7w9t.svelte-xg7w9t,nav.svelte-xg7w9t.svelte-xg7w9t{display:flex}.left.svelte-xg7w9t.svelte-xg7w9t{align-items:center}.left.svelte-xg7w9t .logo.svelte-xg7w9t{display:flex;line-height:40px;font-size:40px;padding:5px}.left.svelte-xg7w9t .logo .text.svelte-xg7w9t{font-size:20px}.right.svelte-xg7w9t.svelte-xg7w9t{display:flex;margin-left:auto;align-items:center}.app-layout.svelte-jb4lyj{display:flex;flex-direction:column;min-height:100%}