<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Strawberry</title>
        <meta http-equiv="content-security-policy" content=""><title>Strawberry | Svelte Checkbox Component</title><link rel="stylesheet" href="/strawberry/app/immutable/assets/berry.dark-ee4b4d25.css" media="(prefers-color-scheme: dark)" data-svelte="svelte-1l8l244"><link rel="stylesheet" href="/strawberry/app/immutable/assets/berry.light-69fd964e.css" media="(prefers-color-scheme: light)" data-svelte="svelte-1l8l244">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/pages/__layout.svelte-cc10018c.css">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/pages/components/__layout.svelte-2e2e7ee9.css">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/typography-ad8baa62.css">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/layout-c5cbc765.css">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/navbar-943fa20f.css">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/pages/components/input/checkbox.svelte-af16f65e.css">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/component-510f4f4f.css">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/svelte-4a62b5f1.css">
	<link rel="modulepreload" href="/strawberry/app/immutable/start-e1783e49.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/index-9f7629f3.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/index-a17fd075.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/paths-1c47712a.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/pages/__layout.svelte-4d244221.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/pages/components/__layout.svelte-9058f36a.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/forward-events-932ef468.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/layout-5b2d169f.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/navbar-fd7cf21c.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/Theme-2fdbed56.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/pages/components/input/checkbox.svelte-112d74df.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/component-5b135dda.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/svelte-02f513e0.js">
    </head>
    <body>
        




<div class="app-layout svelte-1q74s6"><nav class="svelte-h4i5ca">
    <div class="wrapper svelte-h4i5ca"><a class="logo svelte-h4i5ca" href="/strawberry/">🍓 <span class="text">strawberry</span></a>
        <ul class="links svelte-h4i5ca"><li class="berry-navbar-link svelte-17iw2vs"><a href="/strawberry/components" class="svelte-17iw2vs">Components
            </a>
</li>
            <li class="berry-navbar-link svelte-17iw2vs"><a href="/strawberry/typography" class="svelte-17iw2vs">Typography
            </a>
</li>
        </ul>
        <ul class="actions svelte-h4i5ca"><a class="cta svelte-1q74s6" href="https://github.com/kwangure/strawberry" target="_blank">GitHub
            </a>
            <a class="cta svelte-1q74s6" href="https://www.npmjs.com/package/@kwangure/strawberry" target="_blank">NPM
            </a>
        </ul></div>
</nav>
    <div class="components svelte-nenj4r"><div class="left"><div class="berry-sidebar svelte-k0ja5c"><a href="/strawberry/components" class="sidebar-item svelte-dp7rva">Components Overview
                
</a>
                <section class="berry-sidebar-section sidebar-section"><div class="title svelte-1fu1r7i">General</div>
    <div class="items svelte-1fu1r7i"><a href="/strawberry/components/button" class="sidebar-item svelte-dp7rva">Button
                        
</a>
                        <a href="/strawberry/components/dropdown" class="sidebar-item svelte-dp7rva">Dropdown
                        
</a>
                        <a href="/strawberry/components/element" class="sidebar-item svelte-dp7rva">Element
                        
</a>
                        <a href="/strawberry/components/icon" class="sidebar-item svelte-dp7rva">Icon
                        
</a>
                        <a href="/strawberry/components/switch" class="sidebar-item svelte-dp7rva">Switch
                        
</a>
                    </div>
</section>
                <section class="berry-sidebar-section sidebar-section"><div class="title svelte-1fu1r7i">Data Inputs</div>
    <div class="items svelte-1fu1r7i"><a href="/strawberry/components/input/date" class="sidebar-item svelte-dp7rva">Date
                        
</a>
                        <a href="/strawberry/components/input/datetime" class="sidebar-item svelte-dp7rva">DateTime
                        
</a>
                        <a href="/strawberry/components/input" class="sidebar-item svelte-dp7rva">Text
                        
</a>
                        <a href="/strawberry/components/input/password" class="sidebar-item svelte-dp7rva">Password
                        
</a>
                        <a href="/strawberry/components/input/number" class="sidebar-item svelte-dp7rva">Number
                        
</a>
                        <a href="/strawberry/components/input/checkbox" class="sidebar-item svelte-dp7rva">Checkbox
                        
</a>
                        <a href="/strawberry/components/input/radio" class="sidebar-item svelte-dp7rva">Radio
                        
</a>
                        <a href="/strawberry/components/input/select" class="sidebar-item svelte-dp7rva">Select
                        
</a>
                        <a href="/strawberry/components/input/textarea" class="sidebar-item svelte-dp7rva">Textarea
                        
</a>
                        <a href="/strawberry/components/input/time" class="sidebar-item svelte-dp7rva">Time
                        
</a>
                    </div>
</section>
                <section class="berry-sidebar-section sidebar-section"><div class="title svelte-1fu1r7i">Data Display</div>
    <div class="items svelte-1fu1r7i"><a href="/strawberry/components/code" class="sidebar-item svelte-dp7rva">Code
                        
</a>
                        <a href="/strawberry/components/modal" class="sidebar-item svelte-dp7rva">Modal
                        
</a>
                        <a href="/strawberry/components/notification" class="sidebar-item svelte-dp7rva">Notification
                        
</a>
                        <a href="/strawberry/components/tooltip" class="sidebar-item svelte-dp7rva">Tooltip
                        
</a>
                    </div>
</section>
</div></div>
        <div class="right svelte-nenj4r">

<h1 class="svelte-1qp7jc9">Checkbox</h1>

<h2 class="svelte-1qp7jc9">Example</h2>
    <div class="usage inline svelte-1qp7jc9"></div>
    <div class="usage block svelte-1qp7jc9"><label class="input-wrapper svelte-vnqty0"><input type="checkbox" class="svelte-vnqty0">
    Awesome label...<wbr>check!
            
</label>
        <label class="input-wrapper svelte-vnqty0"><input type="checkbox" class="svelte-vnqty0">
    Even awesomer label...<wbr>check!
            
</label></div>

<h2 class="svelte-1qp7jc9">Props</h2>
<table class="svelte-1qp7jc9"><tr><th class="svelte-1qp7jc9">Name</th>
        <th class="svelte-1qp7jc9">Type</th>
        <th class="svelte-1qp7jc9">Default</th>
        <th class="svelte-1qp7jc9">Description</th></tr>
    <tr><td class="svelte-ingn1y"><span>value</span></td>
    <td class="type svelte-ingn1y">
<pre class="berry-code hljs svelte-1u7ndpn inline"><code class="svelte-1u7ndpn"><!-- HTML_TAG_START -->string<!-- HTML_TAG_END --></code></pre></td>
    <td class="svelte-ingn1y">—</td>
    <td class="svelte-ingn1y">The value of the component if checked.</td>
</tr><tr><td class="svelte-ingn1y"><span>checked</span></td>
    <td class="type svelte-ingn1y">
<pre class="berry-code hljs svelte-1u7ndpn inline"><code class="svelte-1u7ndpn"><!-- HTML_TAG_START -->boolean<!-- HTML_TAG_END --></code></pre></td>
    <td class="svelte-ingn1y">
<pre class="berry-code hljs svelte-1u7ndpn inline"><code class="svelte-1u7ndpn"><!-- HTML_TAG_START --><span class="hljs-literal">false</span><!-- HTML_TAG_END --></code></pre></td>
    <td class="svelte-ingn1y">Whether the command or control is checked</td>
</tr></table>

<h2 class="svelte-1qp7jc9">Slots</h2>
<table class="svelte-1qp7jc9"><tr><th class="svelte-1qp7jc9">Name</th>
        <th class="svelte-1qp7jc9">Descriptoin</th></tr>
    <tr><td class="svelte-1o7bqf1">label</td>
    <td class="svelte-1o7bqf1">—</td>
</tr></table>



</div></div>
</div>


		<script type="module" data-sveltekit-hydrate="4twysd">
		import { start } from "/strawberry/app/immutable/start-e1783e49.js";
		start({
			target: document.querySelector('[data-sveltekit-hydrate="4twysd"]').parentNode,
			paths: {"base":"/strawberry","assets":"/strawberry"},
			session: {},
			route: true,
			spa: false,
			trailing_slash: "never",
			hydrate: {
				status: 200,
				error: null,
				nodes: [0, 2, 11],
				params: {},
				routeId: "components/input/checkbox"
			}
		});
	</script>
    </body>
</html>
