<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Strawberry</title>
        <meta http-equiv="content-security-policy" content="">
		<link href="/strawberry/app/immutable/assets/_layout-7abb391f.css" rel="stylesheet">
		<link href="/strawberry/app/immutable/assets/components-33a01f7b.css" rel="stylesheet">
		<link href="/strawberry/app/immutable/assets/globals-2654e6a4.css" rel="stylesheet">
		<link href="/strawberry/app/immutable/assets/index-33a01f7b.css" rel="stylesheet">
		<link rel="modulepreload" href="/strawberry/app/immutable/start-7fb15f5e.js">
		<link rel="modulepreload" href="/strawberry/app/immutable/chunks/index-080106d6.js">
		<link rel="modulepreload" href="/strawberry/app/immutable/chunks/singletons-99f540da.js">
		<link rel="modulepreload" href="/strawberry/app/immutable/chunks/preload-helper-10e7f86a.js">
		<link rel="modulepreload" href="/strawberry/app/immutable/components/pages/_layout.svelte-a7f10b02.js">
		<link rel="modulepreload" href="/strawberry/app/immutable/chunks/forward-events-babcca70.js">
		<link rel="modulepreload" href="/strawberry/app/immutable/chunks/stores-0300db30.js">
		<link rel="modulepreload" href="/strawberry/app/immutable/modules/pages/_layout.js-6a08c268.js">
		<link rel="modulepreload" href="/strawberry/app/immutable/chunks/_layout-04d04af2.js">
		<link rel="modulepreload" href="/strawberry/app/immutable/components/pages/test/components/button/primary/_page.svelte-4b1278f7.js">
    </head>
    <body>
        <div style="display: contents">


<div class="app-layout svelte-bkbce7">
<nav class="svelte-158nbao"><a href="/strawberry" class="svelte-1op9hm7">🍓 <span class="text">strawberry</span>
</a>
        <ul class="svelte-1075kbq"><a class="navigation svelte-bkbce7" href="/strawberry"><li class="svelte-3z2c7l"><div class="svelte-3z2c7l active">Components
                </div>
</li></a>
            <a class="navigation svelte-bkbce7" href="/strawberry/typography"><li class="svelte-3z2c7l"><div class="svelte-3z2c7l">Typography
                </div>
</li></a>
</ul>
        <div style="display: contents; --br-navbar-section-margin-inline:auto 10px;"><ul class="svelte-1075kbq"><a class="cta svelte-bkbce7" href="https://github.com/kwangure/strawberry" target="_blank">GitHub
            </a>
            <a class="cta svelte-bkbce7" href="https://www.npmjs.com/package/@kwangure/strawberry" target="_blank">NPM
            </a>
</ul></div>
</nav>
    <div class="components svelte-bkbce7"><div class="left svelte-bkbce7">
<aside class="svelte-1l1k7s2"><a href="/strawberry" class="svelte-bkbce7">


<div class="svelte-4ag1fl">Getting started
                    
</div></a>
                <section class="berry-sidebar-section sidebar-section"><div class="title svelte-i7yftn">General</div>
    <div class="items svelte-i7yftn"><a href="/strawberry/button" class="svelte-bkbce7">


<div class="svelte-4ag1fl">Button
                            
</div></a>
                        <a href="/strawberry/dropdown" class="svelte-bkbce7">


<div class="svelte-4ag1fl">Dropdown
                            
</div></a>
                        <a href="/strawberry/element" class="svelte-bkbce7">


<div class="svelte-4ag1fl">Element
                            
</div></a>
                        <a href="/strawberry/icon" class="svelte-bkbce7">


<div class="svelte-4ag1fl">Icon
                            
</div></a>
                        <a href="/strawberry/switch" class="svelte-bkbce7">


<div class="svelte-4ag1fl">Switch
                            
</div></a>
                    </div>
</section>
                <section class="berry-sidebar-section sidebar-section"><div class="title svelte-i7yftn">Data Inputs</div>
    <div class="items svelte-i7yftn"><a href="/strawberry/input/date" class="svelte-bkbce7">


<div class="svelte-4ag1fl">Date
                            
</div></a>
                        <a href="/strawberry/input/datetime" class="svelte-bkbce7">


<div class="svelte-4ag1fl">DateTime
                            
</div></a>
                        <a href="/strawberry/input" class="svelte-bkbce7">


<div class="svelte-4ag1fl">Text
                            
</div></a>
                        <a href="/strawberry/input/password" class="svelte-bkbce7">


<div class="svelte-4ag1fl">Password
                            
</div></a>
                        <a href="/strawberry/input/number" class="svelte-bkbce7">


<div class="svelte-4ag1fl">Number
                            
</div></a>
                        <a href="/strawberry/select" class="svelte-bkbce7">


<div class="svelte-4ag1fl">Select
                            
</div></a>
                        <a href="/strawberry/input/textarea" class="svelte-bkbce7">


<div class="svelte-4ag1fl">Textarea
                            
</div></a>
                        <a href="/strawberry/input/time" class="svelte-bkbce7">


<div class="svelte-4ag1fl">Time
                            
</div></a>
                    </div>
</section>
                <section class="berry-sidebar-section sidebar-section"><div class="title svelte-i7yftn">Data Display</div>
    <div class="items svelte-i7yftn"><a href="/strawberry/code" class="svelte-bkbce7">


<div class="svelte-4ag1fl">Code
                            
</div></a>
                        <a href="/strawberry/dialog" class="svelte-bkbce7">


<div class="svelte-4ag1fl">Dialog
                            
</div></a>
                        <a href="/strawberry/tooltip" class="svelte-bkbce7">


<div class="svelte-4ag1fl">Tooltip
                            
</div></a>
                    </div>
</section>
</aside></div>
        <div class="right svelte-bkbce7"><button id="test-button" class="br-primary">Click me!
</button></div></div>
</div>


		<script type="module" data-sveltekit-hydrate="ur6uki">
			import { start } from "/strawberry/app/immutable/start-7fb15f5e.js";

			start({
				env: {},
				hydrate: {
					status: 200,
					error: null,
					node_ids: [0, 22],
					params: {},
					route: {"id":"/test/components/button/primary"},
					data: [null,null],
					form: null
				},
				paths: {"base":"/strawberry","assets":"/strawberry"},
				target: document.querySelector('[data-sveltekit-hydrate="ur6uki"]').parentNode,
				trailing_slash: "never"
			});
		</script>
	</div>
    </body>
</html>
