<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Strawberry</title>
  

		

		<link rel="modulepreload" href="/strawberry/app/start-da822d5b.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/vendor-9d63b597.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/preload-helper-9f12a5fd.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/paths-45dac81d.js">
		<link rel="modulepreload" href="/strawberry/app/layout.svelte-6cafe6eb.js">
		<link rel="modulepreload" href="/strawberry/app/pages/components/__layout.svelte-ca561cea.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/forward-events-c6737fa2.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/_layout-ca76d853.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/Navbar-eea2a2f8.js">
		<link rel="modulepreload" href="/strawberry/app/pages/components/tooltip.svelte-29278fec.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/Tabs.svelte_svelte&type=style&lang-ddc7effc.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/Icon-09a7619f.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/Code-2def993c.js">
		<link rel="stylesheet" href="/strawberry/app/assets/start-f7fb3cd0.css">
		<link rel="stylesheet" href="/strawberry/app/assets/pages/components/__layout.svelte-25487804.css">
		<link rel="stylesheet" href="/strawberry/app/assets/standardDOM-348c346d.css">
		<link rel="stylesheet" href="/strawberry/app/assets/_layout-c10a535c.css">
		<link rel="stylesheet" href="/strawberry/app/assets/Navbar-a81b795c.css">
		<link rel="stylesheet" href="/strawberry/app/assets/pages/components/tooltip.svelte-2278a9e7.css">
		<link rel="stylesheet" href="/strawberry/app/assets/Icon.svelte_svelte&type=style&lang-c96fd61e.css">
		<link rel="stylesheet" href="/strawberry/app/assets/Tabs.svelte_svelte&type=style&lang-432cfd83.css">
		<link rel="stylesheet" href="/strawberry/app/assets/Code-bb1afd07.css">

		<script type="module">
			import { start } from "/strawberry/app/start-da822d5b.js";
			start({
				target: document.querySelector("#svelte"),
				paths: {"base":"/strawberry","assets":"/strawberry"},
				session: {},
				host: location.host,
				route: true,
				spa: false,
				trailing_slash: "never",
				hydrate: {
					status: 200,
					error: null,
					nodes: [
						import("/strawberry/app/layout.svelte-6cafe6eb.js"),
						import("/strawberry/app/pages/components/__layout.svelte-ca561cea.js"),
						import("/strawberry/app/pages/components/tooltip.svelte-29278fec.js")
					],
					page: {
						host: location.host, // TODO this is redundant
						path: "/components/tooltip",
						query: new URLSearchParams(""),
						params: {}
					}
				}
			});
		</script>
</head>
<body id="svelte">
  


<div class="app-layout svelte-z2vi6d"><nav class="berry-nav svelte-1boo1g1"><div class="nav-wrapper  svelte-1boo1g1"><a class="logo svelte-1boo1g1" href="/strawberry/">🍓 <span class="text">strawberry</span></a>
        <ul class="nav-links svelte-1boo1g1"><li class="berry-navbar-link svelte-161lg2p"><a href="/strawberry/components" class="svelte-161lg2p">Components
            </a>
</li>
            <li class="berry-navbar-link svelte-161lg2p"><a href="/strawberry/typography" class="svelte-161lg2p">Typography
            </a>
</li>
        </ul>
        <ul class="calls-to-action svelte-1boo1g1"></ul></div>
</nav>
    <div class="components svelte-vp6l69"><div class="left"><div class="berry-sidebar svelte-1lzmi13"><a href="/strawberry/components" class="sidebar-item svelte-m3u0bf">Components Overview
                
</a>
                <section class="berry-sidebar-section sidebar-section svelte-10w4z02"><div class="title svelte-10w4z02">General</div>
    <div class="items svelte-10w4z02"><a href="/strawberry/components/button" class="sidebar-item svelte-m3u0bf">Button
                        
</a>
                        <a href="/strawberry/components/dropdown" class="sidebar-item svelte-m3u0bf">Dropdown
                        
</a>
                        <a href="/strawberry/components/icon" class="sidebar-item svelte-m3u0bf">Icon
                        
</a>
                    </div>
</section>
                <section class="berry-sidebar-section sidebar-section svelte-10w4z02"><div class="title svelte-10w4z02">Data Inputs</div>
    <div class="items svelte-10w4z02"><a href="/strawberry/components/input" class="sidebar-item svelte-m3u0bf">Text
                        
</a>
                        <a href="/strawberry/components/input/number" class="sidebar-item svelte-m3u0bf">Number
                        
</a>
                        <a href="/strawberry/components/input/checkbox" class="sidebar-item svelte-m3u0bf">Checkbox
                        
</a>
                        <a href="/strawberry/components/input/radio" class="sidebar-item svelte-m3u0bf">Radio
                        
</a>
                        <a href="/strawberry/components/select" class="sidebar-item svelte-m3u0bf">Select
                        
</a>
                        <a href="/strawberry/components/input/time" class="sidebar-item svelte-m3u0bf">Time
                        
</a>
                    </div>
</section>
                <section class="berry-sidebar-section sidebar-section svelte-10w4z02"><div class="title svelte-10w4z02">Data Display</div>
    <div class="items svelte-10w4z02"><a href="/strawberry/components/code" class="sidebar-item svelte-m3u0bf">Code
                        
</a>
                        <a href="/strawberry/components/list" class="sidebar-item svelte-m3u0bf">List
                        
</a>
                        <a href="/strawberry/components/modal" class="sidebar-item svelte-m3u0bf">Modal
                        
</a>
                        <a href="/strawberry/components/notification" class="sidebar-item svelte-m3u0bf">Notification
                        
</a>
                        <a href="/strawberry/components/tooltip" class="sidebar-item svelte-m3u0bf active">Tooltip
                        
</a>
                    </div>
</section>
</div></div>
        <div class="right svelte-vp6l69"><h1>Tooltip</h1>
<h4 class="svelte-5ld90b">Properties</h4>
<h5 class="svelte-5ld90b">Placement</h5>
<p>Type:</p>
<pre class="input svelte-195i5sz">&quot;top&quot; | &quot;top-start&quot; | &quot;top-end&quot; | &quot;right&quot; | &quot;right-start&quot; | &quot;right-end&quot; | &quot;bottom&quot; | &quot;bottom-start&quot; | &quot;bottom-end&quot; | &quot;left&quot; | &quot;left-start&quot; | &quot;left-end&quot;</pre>

<pre class="svelte-195i5sz">
</pre>
<p>Usage:</p>
<pre class="input svelte-195i5sz">&lt;Tooltip placement=&quot;bottom&quot;&gt;
    &lt;div class=&quot;my-element&quot;&gt;Hover me for a tooltip!&lt;/div&gt;
&lt;/Tooltip&gt;</pre>

<pre class="svelte-195i5sz">
</pre>
<p>Examples:</p>
<div class="properties examples svelte-5ld90b"><button class="berry-button   slot_used   svelte-gf5j2w"><div class="content-wrapper svelte-gf5j2w">
        top</div>
</button>
            
        
<div class="berry-tooltip svelte-xnpbv9" data-popper-placement="top"><div class="arrow svelte-xnpbv9"></div>
    <span slot="popup">I&#39;m a <b>top</b> tooltip!</span>
</div><button class="berry-button   slot_used   svelte-gf5j2w"><div class="content-wrapper svelte-gf5j2w">
        top-start</div>
</button>
            
        
<div class="berry-tooltip svelte-xnpbv9" data-popper-placement="top-start"><div class="arrow svelte-xnpbv9"></div>
    <span slot="popup">I&#39;m a <b>top-start</b> tooltip!</span>
</div><button class="berry-button   slot_used   svelte-gf5j2w"><div class="content-wrapper svelte-gf5j2w">
        top-end</div>
</button>
            
        
<div class="berry-tooltip svelte-xnpbv9" data-popper-placement="top-end"><div class="arrow svelte-xnpbv9"></div>
    <span slot="popup">I&#39;m a <b>top-end</b> tooltip!</span>
</div><button class="berry-button   slot_used   svelte-gf5j2w"><div class="content-wrapper svelte-gf5j2w">
        right</div>
</button>
            
        
<div class="berry-tooltip svelte-xnpbv9" data-popper-placement="right"><div class="arrow svelte-xnpbv9"></div>
    <span slot="popup">I&#39;m a <b>right</b> tooltip!</span>
</div><button class="berry-button   slot_used   svelte-gf5j2w"><div class="content-wrapper svelte-gf5j2w">
        right-start</div>
</button>
            
        
<div class="berry-tooltip svelte-xnpbv9" data-popper-placement="right-start"><div class="arrow svelte-xnpbv9"></div>
    <span slot="popup">I&#39;m a <b>right-start</b> tooltip!</span>
</div><button class="berry-button   slot_used   svelte-gf5j2w"><div class="content-wrapper svelte-gf5j2w">
        right-end</div>
</button>
            
        
<div class="berry-tooltip svelte-xnpbv9" data-popper-placement="right-end"><div class="arrow svelte-xnpbv9"></div>
    <span slot="popup">I&#39;m a <b>right-end</b> tooltip!</span>
</div><button class="berry-button   slot_used   svelte-gf5j2w"><div class="content-wrapper svelte-gf5j2w">
        bottom</div>
</button>
            
        
<div class="berry-tooltip svelte-xnpbv9" data-popper-placement="bottom"><div class="arrow svelte-xnpbv9"></div>
    <span slot="popup">I&#39;m a <b>bottom</b> tooltip!</span>
</div><button class="berry-button   slot_used   svelte-gf5j2w"><div class="content-wrapper svelte-gf5j2w">
        bottom-start</div>
</button>
            
        
<div class="berry-tooltip svelte-xnpbv9" data-popper-placement="bottom-start"><div class="arrow svelte-xnpbv9"></div>
    <span slot="popup">I&#39;m a <b>bottom-start</b> tooltip!</span>
</div><button class="berry-button   slot_used   svelte-gf5j2w"><div class="content-wrapper svelte-gf5j2w">
        bottom-end</div>
</button>
            
        
<div class="berry-tooltip svelte-xnpbv9" data-popper-placement="bottom-end"><div class="arrow svelte-xnpbv9"></div>
    <span slot="popup">I&#39;m a <b>bottom-end</b> tooltip!</span>
</div><button class="berry-button   slot_used   svelte-gf5j2w"><div class="content-wrapper svelte-gf5j2w">
        left</div>
</button>
            
        
<div class="berry-tooltip svelte-xnpbv9" data-popper-placement="left"><div class="arrow svelte-xnpbv9"></div>
    <span slot="popup">I&#39;m a <b>left</b> tooltip!</span>
</div><button class="berry-button   slot_used   svelte-gf5j2w"><div class="content-wrapper svelte-gf5j2w">
        left-start</div>
</button>
            
        
<div class="berry-tooltip svelte-xnpbv9" data-popper-placement="left-start"><div class="arrow svelte-xnpbv9"></div>
    <span slot="popup">I&#39;m a <b>left-start</b> tooltip!</span>
</div><button class="berry-button   slot_used   svelte-gf5j2w"><div class="content-wrapper svelte-gf5j2w">
        left-end</div>
</button>
            
        
<div class="berry-tooltip svelte-xnpbv9" data-popper-placement="left-end"><div class="arrow svelte-xnpbv9"></div>
    <span slot="popup">I&#39;m a <b>left-end</b> tooltip!</span>
</div></div>
<button class="berry-button   slot_used   svelte-gf5j2w"><div class="content-wrapper svelte-gf5j2w">
        Hover for tooltip.
    </div>
</button>
<div class="berry-tooltip svelte-xnpbv9" data-popper-placement="bottom"><div class="arrow svelte-xnpbv9"></div>
    <span slot="popup">Yes, Mi tooltip.</span>
</div>

<button class="berry-button   slot_used   svelte-gf5j2w"><div class="content-wrapper svelte-gf5j2w">
        Click for tooltip.
    </div>
</button>
<div class="berry-tooltip svelte-xnpbv9" data-popper-placement="bottom"><div class="arrow svelte-xnpbv9"></div>
    <span slot="popup">Yes, Mi tooltip.</span>
</div></div></div>
</div>



	

</body>
</html>