div {
    padding: 6px 8px;
    background-color: rgba(0,0,0,.75);
    min-width: 30px;
    min-height: var(--br-item-height);
    color: var(--br-white);
    border-radius: var(--br-border-radius);
    opacity: 0;
    visibility: hidden;
    transition: opacity var(--br-transition-duration) ease;
}
div.visible {
    visibility: visible;
    opacity: 1;
}