<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Strawberry</title>
  <title> Strawberry | Svelte Code Component </title><link rel="stylesheet" href="/strawberry/app/assets/berry.dark-24c337b1.css" media="(prefers-color-scheme: dark)"  data-svelte="svelte-ciwal4"><link rel="stylesheet" href="/strawberry/app/assets/berry.light-bbf0bbd6.css" media="(prefers-color-scheme: light)"  data-svelte="svelte-ciwal4">

		

		<link rel="modulepreload" href="/strawberry/app/start-f911b72c.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/vendor-3934c3b2.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/paths-28a87002.js">
		<link rel="modulepreload" href="/strawberry/app/layout.svelte-3c4faae0.js">
		<link rel="modulepreload" href="/strawberry/app/pages/components/__layout.svelte-58b7b068.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/forward-events-e36204ce.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/layout-e2b59f7b.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/Theme-64c8d2e8.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/Tabs.svelte_svelte_type_style_lang-648e6a50.js">
		<link rel="modulepreload" href="/strawberry/app/pages/components/code.svelte-0d72078c.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/JavaScript.svelte_svelte_type_style_lang-846b8ba9.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/component-f16b2c6e.js">
		<link rel="stylesheet" href="/strawberry/app/assets/start-61d1577b.css">
		<link rel="stylesheet" href="/strawberry/app/assets/pages/components/__layout.svelte-58f68b77.css">
		<link rel="stylesheet" href="/strawberry/app/assets/layout-e50c32a0.css">
		<link rel="stylesheet" href="/strawberry/app/assets/Theme-fe649912.css">
		<link rel="stylesheet" href="/strawberry/app/assets/Tabs.svelte_svelte_type_style_lang-14a792fd.css">
		<link rel="stylesheet" href="/strawberry/app/assets/JavaScript.svelte_svelte_type_style_lang-4c7ad742.css">
		<link rel="stylesheet" href="/strawberry/app/assets/component-281e1926.css">

		<script type="module">
			import { start } from "/strawberry/app/start-f911b72c.js";
			start({
				target: document.querySelector("#svelte"),
				paths: {"base":"/strawberry","assets":""},
				session: {},
				host: location.host,
				route: true,
				spa: false,
				trailing_slash: "never",
				hydrate: {
					status: 200,
					error: null,
					nodes: [
						import("/strawberry/app/layout.svelte-3c4faae0.js"),
						import("/strawberry/app/pages/components/__layout.svelte-58b7b068.js"),
						import("/strawberry/app/pages/components/code.svelte-0d72078c.js")
					],
					page: {
						host: location.host, // TODO this is redundant
						path: "\u002Fcomponents\u002Fcode",
						query: new URLSearchParams(""),
						params: {}
					}
				}
			});
		</script>
</head>
<body id="svelte">
  




<div class="app-layout svelte-1shyw6w"><nav class="svelte-h4i5ca">
    <div class="wrapper svelte-h4i5ca"><a class="logo svelte-h4i5ca" href="/strawberry/">🍓 <span class="text">strawberry</span></a>
        <ul class="links svelte-h4i5ca"><li class="berry-navbar-link svelte-15fdnq3"><a href="/strawberry/components" class="svelte-15fdnq3">Components
            </a>
</li>
            <li class="berry-navbar-link svelte-15fdnq3"><a href="/strawberry/typography" class="svelte-15fdnq3">Typography
            </a>
</li>
        </ul>
        <ul class="actions svelte-h4i5ca"><a class="cta svelte-1shyw6w" href="https://github.com/kwangure/strawberry" target="_blank">



<button class="berry-button  svelte-op9mts" icon="M12,2A10,10 0 0,0 2,12C2,16.42 4.87,20.17 8.84,21.5C9.34,21.58 9.5,21.27 9.5,21C9.5,20.77 9.5,20.14 9.5,19.31C6.73,19.91 6.14,17.97 6.14,17.97C5.68,16.81 5.03,16.5 5.03,16.5C4.12,15.88 5.1,15.9 5.1,15.9C6.1,15.97 6.63,16.93 6.63,16.93C7.5,18.45 8.97,18 9.54,17.76C9.63,17.11 9.89,16.67 10.17,16.42C7.95,16.17 5.62,15.31 5.62,11.5C5.62,10.39 6,9.5 6.65,8.79C6.55,8.54 6.2,7.5 6.75,6.15C6.75,6.15 7.59,5.88 9.5,7.17C10.29,6.95 11.15,6.84 12,6.84C12.85,6.84 13.71,6.95 14.5,7.17C16.41,5.88 17.25,6.15 17.25,6.15C17.8,7.5 17.45,8.54 17.35,8.79C18,9.5 18.38,10.39 18.38,11.5C18.38,15.32 16.04,16.16 13.81,16.41C14.17,16.72 14.5,17.33 14.5,18.26C14.5,19.6 14.5,20.68 14.5,21C14.5,21.27 14.66,21.59 15.17,21.5C19.14,20.16 22,16.42 22,12A10,10 0 0,0 12,2Z"><div class="content-wrapper svelte-op9mts">
        GitHub
                </div>
</button></a>
            <a class="cta svelte-1shyw6w" href="https://www.npmjs.com/package/@kwangure/strawberry" target="_blank">



<button class="berry-button  svelte-op9mts" icon="M4,10V14H6V11H7V14H8V10H4M9,10V15H11V14H13V10H9M12,11V13H11V11H12M14,10V14H16V11H17V14H18V11H19V14H20V10H14M3,9H21V15H12V16H8V15H3V9Z"><div class="content-wrapper svelte-op9mts">
        NPM
                </div>
</button></a>
        </ul></div>
</nav>
    <div class="components svelte-nenj4r"><div class="left"><div class="berry-sidebar svelte-scga4w"><a href="/strawberry/components" class="sidebar-item svelte-nut38f">Components Overview
                
</a>
                <section class="berry-sidebar-section sidebar-section svelte-rmr5lz"><div class="title svelte-rmr5lz">General</div>
    <div class="items svelte-rmr5lz"><a href="/strawberry/components/button" class="sidebar-item svelte-nut38f">Button
                        
</a>
                        <a href="/strawberry/components/dropdown" class="sidebar-item svelte-nut38f">Dropdown
                        
</a>
                        <a href="/strawberry/components/icon" class="sidebar-item svelte-nut38f">Icon
                        
</a>
                    </div>
</section>
                <section class="berry-sidebar-section sidebar-section svelte-rmr5lz"><div class="title svelte-rmr5lz">Data Inputs</div>
    <div class="items svelte-rmr5lz"><a href="/strawberry/components/input" class="sidebar-item svelte-nut38f">Text
                        
</a>
                        <a href="/strawberry/components/input/password" class="sidebar-item svelte-nut38f">Password
                        
</a>
                        <a href="/strawberry/components/input/number" class="sidebar-item svelte-nut38f">Number
                        
</a>
                        <a href="/strawberry/components/input/checkbox" class="sidebar-item svelte-nut38f">Checkbox
                        
</a>
                        <a href="/strawberry/components/input/radio" class="sidebar-item svelte-nut38f">Radio
                        
</a>
                        <a href="/strawberry/components/select" class="sidebar-item svelte-nut38f">Select
                        
</a>
                        <a href="/strawberry/components/input/time" class="sidebar-item svelte-nut38f">Time
                        
</a>
                    </div>
</section>
                <section class="berry-sidebar-section sidebar-section svelte-rmr5lz"><div class="title svelte-rmr5lz">Data Display</div>
    <div class="items svelte-rmr5lz"><a href="/strawberry/components/code" class="sidebar-item svelte-nut38f active">Code
                        
</a>
                        <a href="/strawberry/components/modal" class="sidebar-item svelte-nut38f">Modal
                        
</a>
                        <a href="/strawberry/components/notification" class="sidebar-item svelte-nut38f">Notification
                        
</a>
                        <a href="/strawberry/components/tooltip" class="sidebar-item svelte-nut38f">Tooltip
                        
</a>
                    </div>
</section>
</div></div>
        <div class="right svelte-nenj4r">

<h1 class="svelte-15kq6yt">Code</h1>

<h2 class="svelte-15kq6yt">Example</h2>
    <div class="usage inline svelte-15kq6yt"></div>
    <div class="usage block svelte-15kq6yt"><pre class="berry-code hljs svelte-n3gk8e"><div class="language-javascript svelte-n3gk8e"><!-- HTML_TAG_START --><span class="hljs-keyword">const</span> five = <span class="hljs-number">5</span>;<!-- HTML_TAG_END --></div>
</pre>
        <div>An inline <pre class="berry-code hljs svelte-n3gk8e  inline"><div class="language-xml svelte-n3gk8e"><!-- HTML_TAG_START --><span class="hljs-comment">&lt;!-- codeblock --&gt;</span><!-- HTML_TAG_END --></div>
</pre> just for you!
        </div></div>

<h2 class="svelte-15kq6yt">Props</h2>
<table class="svelte-15kq6yt"><tr><th class="svelte-15kq6yt">Name</th>
        <th class="svelte-15kq6yt">Type</th>
        <th class="svelte-15kq6yt">Default</th>
        <th class="svelte-15kq6yt">Descriptoin</th></tr>
    <tr><td class="svelte-f8zubm"><span>language</span></td>
    <td class="type svelte-f8zubm"><pre class="berry-code hljs svelte-n3gk8e  inline"><div class="language-javascript svelte-n3gk8e"><!-- HTML_TAG_START --><span class="hljs-title class_">Language</span>&lt;<span class="hljs-string">&quot;css&quot;</span> | <span class="hljs-string">&quot;html&quot;</span> | <span class="hljs-string">&quot;javascript&quot;</span>&gt; | <span class="hljs-string">&quot;svelte&quot;</span> | <span class="hljs-string">&quot;xml&quot;</span>&gt;<!-- HTML_TAG_END --></div>
</pre></td>
    <td class="svelte-f8zubm"><pre class="berry-code hljs svelte-n3gk8e  inline"><div class="language-javascript svelte-n3gk8e"><!-- HTML_TAG_START --><span class="hljs-literal">null</span><!-- HTML_TAG_END --></div>
</pre></td>
    <td class="svelte-f8zubm">Which syntax highlighter to use.</td>
</tr><tr><td class="svelte-f8zubm"><span>code</span></td>
    <td class="type svelte-f8zubm"><pre class="berry-code hljs svelte-n3gk8e  inline"><div class="language-javascript svelte-n3gk8e"><!-- HTML_TAG_START -->string<!-- HTML_TAG_END --></div>
</pre></td>
    <td class="svelte-f8zubm">—</td>
    <td class="svelte-f8zubm">Code to be highlighted</td>
</tr><tr><td class="svelte-f8zubm"><span>inline</span></td>
    <td class="type svelte-f8zubm"><pre class="berry-code hljs svelte-n3gk8e  inline"><div class="language-javascript svelte-n3gk8e"><!-- HTML_TAG_START -->boolean<!-- HTML_TAG_END --></div>
</pre></td>
    <td class="svelte-f8zubm"><pre class="berry-code hljs svelte-n3gk8e  inline"><div class="language-javascript svelte-n3gk8e"><!-- HTML_TAG_START --><span class="hljs-literal">false</span><!-- HTML_TAG_END --></div>
</pre></td>
    <td class="svelte-f8zubm">Whether to treat a codeblock as an inline element.</td>
</tr><tr><td class="svelte-f8zubm"><span>dark</span></td>
    <td class="type svelte-f8zubm"><pre class="berry-code hljs svelte-n3gk8e  inline"><div class="language-javascript svelte-n3gk8e"><!-- HTML_TAG_START -->boolean<!-- HTML_TAG_END --></div>
</pre></td>
    <td class="svelte-f8zubm"><pre class="berry-code hljs svelte-n3gk8e  inline"><div class="language-javascript svelte-n3gk8e"><!-- HTML_TAG_START --><span class="hljs-literal">false</span><!-- HTML_TAG_END --></div>
</pre></td>
    <td class="svelte-f8zubm">Whether to use the dark editor.</td>
</tr></table>

<h2 class="svelte-15kq6yt">Slots</h2>
<table class="svelte-15kq6yt"><tr><th class="svelte-15kq6yt">Name</th>
        <th class="svelte-15kq6yt">Descriptoin</th></tr>
    </table>

<h2 class="svelte-15kq6yt">Custom Properties</h2>
<pre class="berry-code hljs svelte-n3gk8e  inline"><div class="language-css svelte-n3gk8e"><!-- HTML_TAG_START --><span class="hljs-attr">--br-code-background-color</span><!-- HTML_TAG_END --></div>
</pre><pre class="berry-code hljs svelte-n3gk8e  inline"><div class="language-css svelte-n3gk8e"><!-- HTML_TAG_START --><span class="hljs-attr">--br-code-border-radius</span><!-- HTML_TAG_END --></div>
</pre><pre class="berry-code hljs svelte-n3gk8e  inline"><div class="language-css svelte-n3gk8e"><!-- HTML_TAG_START --><span class="hljs-attr">--br-code-string-color</span><!-- HTML_TAG_END --></div>
</pre><pre class="berry-code hljs svelte-n3gk8e  inline"><div class="language-css svelte-n3gk8e"><!-- HTML_TAG_START --><span class="hljs-attr">--br-code-comment-color</span><!-- HTML_TAG_END --></div>
</pre><pre class="berry-code hljs svelte-n3gk8e  inline"><div class="language-css svelte-n3gk8e"><!-- HTML_TAG_START --><span class="hljs-attr">--br-code-white-space</span><!-- HTML_TAG_END --></div>
</pre></div></div>
</div>



			
		
</body>
</html>