<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Strawberry</title>
        <meta http-equiv="content-security-policy" content=""><title>Strawberry | Svelte Dropdown Component</title>
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/__layout-588b76ce.css">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/__layout-bdb72dfc.css">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/typography-5e7f12ce.css">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/layout-db4cab42.css">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/navbar-1307e0cf.css">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/component-03139ec1.css">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/svelte-9f640eed.css">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/mdi-20cfa82a.css">
	<link rel="modulepreload" href="/strawberry/app/immutable/start-0d2001e0.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/index-2f8740a7.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/index-57059f2d.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/paths-1c47712a.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/pages/__layout.svelte-39160f55.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/pages/components/__layout.svelte-9ff0da8f.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/forward-events-e3ac3cec.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/layout-391e457d.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/navbar-02065a3d.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/pages/components/dropdown.svelte-0362864f.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/component-9a66da4d.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/svelte-66471546.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/mdi-f29ca095.js">
    </head>
    <body>
        


<div class="app-layout svelte-1q74s6">


<nav class="svelte-iki48l">
    <div class="wrapper svelte-iki48l"><a class="logo svelte-iki48l" href="/strawberry/">🍓 <span class="text">strawberry</span></a>
        <ul class="links svelte-iki48l"><li class="berry-navbar-link svelte-1jl67ue"><a href="/strawberry/components" class="svelte-1jl67ue">Components
            </a>
</li>
            <li class="berry-navbar-link svelte-1jl67ue"><a href="/strawberry/typography" class="svelte-1jl67ue">Typography
            </a>
</li>
        </ul>
        <ul class="actions svelte-iki48l"><a class="cta svelte-1q74s6" href="https://github.com/kwangure/strawberry" target="_blank">GitHub
            </a>
            <a class="cta svelte-1q74s6" href="https://www.npmjs.com/package/@kwangure/strawberry" target="_blank">NPM
            </a>
        </ul></div>
</nav>
    <div class="components svelte-nenj4r"><div class="left">


<div class="berry-sidebar svelte-k0ja5c">


<a href="/strawberry/components" class="sidebar-item svelte-u293ko">Components Overview
                
</a>
                <section class="berry-sidebar-section sidebar-section"><div class="title svelte-1fu1r7i">General</div>
    <div class="items svelte-1fu1r7i">


<a href="/strawberry/components/button" class="sidebar-item svelte-u293ko">Button
                        
</a>
                        


<a href="/strawberry/components/dropdown" class="sidebar-item svelte-u293ko">Dropdown
                        
</a>
                        


<a href="/strawberry/components/element" class="sidebar-item svelte-u293ko">Element
                        
</a>
                        


<a href="/strawberry/components/icon" class="sidebar-item svelte-u293ko">Icon
                        
</a>
                        


<a href="/strawberry/components/switch" class="sidebar-item svelte-u293ko">Switch
                        
</a>
                    </div>
</section>
                <section class="berry-sidebar-section sidebar-section"><div class="title svelte-1fu1r7i">Data Inputs</div>
    <div class="items svelte-1fu1r7i">


<a href="/strawberry/components/input/date" class="sidebar-item svelte-u293ko">Date
                        
</a>
                        


<a href="/strawberry/components/input/datetime" class="sidebar-item svelte-u293ko">DateTime
                        
</a>
                        


<a href="/strawberry/components/input" class="sidebar-item svelte-u293ko">Text
                        
</a>
                        


<a href="/strawberry/components/input/password" class="sidebar-item svelte-u293ko">Password
                        
</a>
                        


<a href="/strawberry/components/input/number" class="sidebar-item svelte-u293ko">Number
                        
</a>
                        


<a href="/strawberry/components/input/checkbox" class="sidebar-item svelte-u293ko">Checkbox
                        
</a>
                        


<a href="/strawberry/components/input/radio" class="sidebar-item svelte-u293ko">Radio
                        
</a>
                        


<a href="/strawberry/components/input/select" class="sidebar-item svelte-u293ko">Select
                        
</a>
                        


<a href="/strawberry/components/input/textarea" class="sidebar-item svelte-u293ko">Textarea
                        
</a>
                        


<a href="/strawberry/components/input/time" class="sidebar-item svelte-u293ko">Time
                        
</a>
                    </div>
</section>
                <section class="berry-sidebar-section sidebar-section"><div class="title svelte-1fu1r7i">Data Display</div>
    <div class="items svelte-1fu1r7i">


<a href="/strawberry/components/code" class="sidebar-item svelte-u293ko">Code
                        
</a>
                        


<a href="/strawberry/components/modal" class="sidebar-item svelte-u293ko">Modal
                        
</a>
                        


<a href="/strawberry/components/notification" class="sidebar-item svelte-u293ko">Notification
                        
</a>
                        


<a href="/strawberry/components/tooltip" class="sidebar-item svelte-u293ko">Tooltip
                        
</a>
                    </div>
</section>
</div></div>
        <div class="right svelte-nenj4r">

<h1 class="svelte-1qp7jc9">Dropdown</h1>

<h2 class="svelte-1qp7jc9">Example</h2>
    <div class="usage inline svelte-1qp7jc9">







<button   formaction="" formenctype="" formmethod=""  formtarget="" name="" value="" class="svelte-1hhkwui">
    Click for regular dropdown
            
</button>
<div class="berry-dropdown-menu svelte-1574ee1">
    


<div class="menu-item svelte-1jpqr1f">Purple.
</div>
            


<div class="menu-item svelte-1jpqr1f">Penguin.
</div>
            


<div class="menu-item svelte-1jpqr1f">Has.
</div>
            


<div class="menu-item svelte-1jpqr1f">Dropped.
</div>
</div>

        







<button   formaction="" formenctype="" formmethod=""  formtarget="" name="" value="" class="svelte-1hhkwui">
    Click for linked dropdown
            
</button>
<div class="berry-dropdown-menu svelte-1574ee1">
    


<a href="#click" class="menu-item svelte-131e9f2">Click.
</a>
            


<a href="#to" class="menu-item svelte-131e9f2">To.
</a>
            


<a href="#change" class="menu-item svelte-131e9f2">Change.
</a>
            


<a href="#hash" class="menu-item svelte-131e9f2">Hash.
</a>
</div></div>
    <div class="usage block svelte-1qp7jc9"></div>

<h2 class="svelte-1qp7jc9">Props</h2>
<table class="svelte-1qp7jc9"><tr><th class="svelte-1qp7jc9">Name</th>
        <th class="svelte-1qp7jc9">Type</th>
        <th class="svelte-1qp7jc9">Default</th>
        <th class="svelte-1qp7jc9">Description</th></tr>
    <tr><td class="svelte-ingn1y"><span>placement</span></td>
    <td class="type svelte-ingn1y">



<pre class="berry-code hljs svelte-1u7ndpn inline"><code class="svelte-1u7ndpn"><!-- HTML_TAG_START --><span class="hljs-string">&quot;top&quot;</span> | <span class="hljs-string">&quot;top-start&quot;</span> | <span class="hljs-string">&quot;top-end&quot;</span> | <span class="hljs-string">&quot;right&quot;</span> | <span class="hljs-string">&quot;right-start&quot;</span> | <span class="hljs-string">&quot;right-end&quot;</span> | <span class="hljs-string">&quot;bottom&quot;</span> | <span class="hljs-string">&quot;bottom-start&quot;</span> | <span class="hljs-string">&quot;bottom-end&quot;</span> | <span class="hljs-string">&quot;left&quot;</span> | <span class="hljs-string">&quot;left-start&quot;</span> | <span class="hljs-string">&quot;left-end&quot;</span><!-- HTML_TAG_END --></code></pre></td>
    <td class="svelte-ingn1y">



<pre class="berry-code hljs svelte-1u7ndpn inline"><code class="svelte-1u7ndpn"><!-- HTML_TAG_START --><span class="hljs-string">&quot;bottom-start&quot;</span><!-- HTML_TAG_END --></code></pre></td>
    <td class="svelte-ingn1y">Where to position the popup relative to the dropdown button.</td>
</tr><tr><td class="svelte-ingn1y"><span>visible</span></td>
    <td class="type svelte-ingn1y">



<pre class="berry-code hljs svelte-1u7ndpn inline"><code class="svelte-1u7ndpn"><!-- HTML_TAG_START -->boolean<!-- HTML_TAG_END --></code></pre></td>
    <td class="svelte-ingn1y">



<pre class="berry-code hljs svelte-1u7ndpn inline"><code class="svelte-1u7ndpn"><!-- HTML_TAG_START --><span class="hljs-literal">false</span><!-- HTML_TAG_END --></code></pre></td>
    <td class="svelte-ingn1y">Whether the popup is visible</td>
</tr></table>

<h2 class="svelte-1qp7jc9">Slots</h2>
<table class="svelte-1qp7jc9"><tr><th class="svelte-1qp7jc9">Name</th>
        <th class="svelte-1qp7jc9">Description</th></tr>
    <tr><td class="svelte-1o7bqf1">button</td>
    <td class="svelte-1o7bqf1">—</td>
</tr><tr><td class="svelte-1o7bqf1">default</td>
    <td class="svelte-1o7bqf1">—</td>
</tr></table>

<h2 class="svelte-1qp7jc9">Custom Properties</h2>
    <h3 id="--br-dropdown-background-color" class="svelte-14ce7gs">



<button   formaction="" formenctype="" formmethod=""  formtarget="" name="" value="" class="svelte-1hhkwui">
    
        <a href="#--br-dropdown-background-color" class="hash svelte-14ce7gs">


<svg viewBox="0 0 24 24" class="svelte-1naa68p"><path d="M10.59,13.41C11,13.8 11,14.44 10.59,14.83C10.2,15.22 9.56,15.22 9.17,14.83C7.22,12.88 7.22,9.71 9.17,7.76V7.76L12.71,4.22C14.66,2.27 17.83,2.27 19.78,4.22C21.73,6.17 21.73,9.34 19.78,11.29L18.29,12.78C18.3,11.96 18.17,11.14 17.89,10.36L18.36,9.88C19.54,8.71 19.54,6.81 18.36,5.64C17.19,4.46 15.29,4.46 14.12,5.64L10.59,9.17C9.41,10.34 9.41,12.24 10.59,13.41M13.41,9.17C13.8,8.78 14.44,8.78 14.83,9.17C16.78,11.12 16.78,14.29 14.83,16.24V16.24L11.29,19.78C9.34,21.73 6.17,21.73 4.22,19.78C2.27,17.83 2.27,14.66 4.22,12.71L5.71,11.22C5.7,12.04 5.83,12.86 6.11,13.65L5.64,14.12C4.46,15.29 4.46,17.19 5.64,18.36C6.81,19.54 8.71,19.54 9.88,18.36L13.41,14.83C14.59,13.66 14.59,11.76 13.41,10.59C13,10.2 13,9.56 13.41,9.17Z" style="fill: var(--br-icon-fill);"></path></svg></a>
</button>
    



<pre class="berry-code hljs svelte-1u7ndpn inline"><code class="svelte-1u7ndpn"><!-- HTML_TAG_START --><span class="hljs-attr">--br-dropdown-background-color</span><!-- HTML_TAG_END --></code></pre>
    







<button   formaction="" formenctype="" formmethod=""  formtarget="" name="" value="" class="svelte-1hhkwui">
    


<svg viewBox="0 0 24 24" class="svelte-1naa68p"><path d="M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z" style="fill: var(--br-icon-fill);"></path></svg>
</button>
<div class="berry-dropdown-menu svelte-1574ee1">
    


<div class="menu-item svelte-1jpqr1f"><a target="_blank" title="Opens in new tab" class="svelte-14ce7gs">
                    <svg id="mdn-docs-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 110 104.2" aria-hidden="true" role="img" class="svelte-14ce7gs"><title>MDN background-color property documentation</title><path fill="currentColor" d="M42 .2 13.4 92.3H1.7L30.2.2H42zM52.4.2v92.1H42V.2h10.4zm40.3 0L64.2 92.3H52.5L81 .2h11.7zM103.1.2v92.1H92.7V.2h10.4z"></path></svg>
                    MDN background-color property docs
                    


<svg viewBox="0 0 24 24" class="svelte-1naa68p"><path d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z" style="fill: var(--br-icon-fill);"></path></svg></a>
</div>
            


<div class="menu-item svelte-1jpqr1f"><a href="https://github.com/kwangure/strawberry/blob/master/src/lib/components/dropdown/dropdown.svelte#L84" target="_blank" title="Opens in new tab" class="svelte-14ce7gs"><svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" class="svelte-14ce7gs"><path clip-rule="evenodd" d="M50 5.7C24.9 5.7 4.5 26 4.6 51.2c0 19.6 12.5 36.9 31.1 43.1 2.3.4 3.1-1 3.1-2.2s0-3.9-.1-7.7c-12.6 2.7-15.3-6.1-15.3-6.1-2.1-5.3-5-6.7-5-6.7-4.1-2.9.3-2.8.3-2.8 4.6.3 7 4.7 7 4.7 4.1 6.9 10.6 4.9 13.2 3.8.2-2.3 1.2-4.5 2.9-6.1-10.2-1.1-20.8-5-20.8-22.5-.1-4.5 1.6-8.9 4.7-12.2-.5-1.1-2-5.7.4-12 0 0 3.8-1.2 12.5 4.7 7.4-2 15.3-2 22.8 0 8.7-5.9 12.4-4.7 12.4-4.7 2.5 6.3 1 10.9.5 12 3.1 3.3 4.8 7.7 4.7 12.2 0 17.5-10.6 21.4-20.8 22.4 1.6 1.4 3.1 4.2 3.1 8.4 0 6.1-.1 11-.1 12.4 0 1.2.8 2.6 3.1 2.2 23.8-8 36.6-33.8 28.6-57.6C86.8 18.2 69.5 5.7 50 5.7z" fill="currentColor" fill-rule="evenodd"></path></svg>
                    View on Github
                    


<svg viewBox="0 0 24 24" class="svelte-1naa68p"><path d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z" style="fill: var(--br-icon-fill);"></path></svg></a>
</div>
            


<div class="menu-item svelte-1jpqr1f"><a href="https://github.dev/kwangure/strawberry/blob/master/src/lib/components/dropdown/dropdown.svelte#L84" target="_blank" title="Opens in new tab" class="svelte-14ce7gs"><svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" class="svelte-14ce7gs"><path clip-rule="evenodd" d="M50 5.7C24.9 5.7 4.5 26 4.6 51.2c0 19.6 12.5 36.9 31.1 43.1 2.3.4 3.1-1 3.1-2.2s0-3.9-.1-7.7c-12.6 2.7-15.3-6.1-15.3-6.1-2.1-5.3-5-6.7-5-6.7-4.1-2.9.3-2.8.3-2.8 4.6.3 7 4.7 7 4.7 4.1 6.9 10.6 4.9 13.2 3.8.2-2.3 1.2-4.5 2.9-6.1-10.2-1.1-20.8-5-20.8-22.5-.1-4.5 1.6-8.9 4.7-12.2-.5-1.1-2-5.7.4-12 0 0 3.8-1.2 12.5 4.7 7.4-2 15.3-2 22.8 0 8.7-5.9 12.4-4.7 12.4-4.7 2.5 6.3 1 10.9.5 12 3.1 3.3 4.8 7.7 4.7 12.2 0 17.5-10.6 21.4-20.8 22.4 1.6 1.4 3.1 4.2 3.1 8.4 0 6.1-.1 11-.1 12.4 0 1.2.8 2.6 3.1 2.2 23.8-8 36.6-33.8 28.6-57.6C86.8 18.2 69.5 5.7 50 5.7z" fill="currentColor" fill-rule="evenodd"></path></svg>
                    View in Github Web Editor
                    


<svg viewBox="0 0 24 24" class="svelte-1naa68p"><path d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z" style="fill: var(--br-icon-fill);"></path></svg></a>
</div>
        
</div></h3>
<div class="type">



<pre class="berry-code hljs svelte-1u7ndpn"><code class="svelte-1u7ndpn"><!-- HTML_TAG_START -->&lt;color><!-- HTML_TAG_END --></code></pre></div>
<h3 id="--br-dropdown-border-radius" class="svelte-14ce7gs">



<button   formaction="" formenctype="" formmethod=""  formtarget="" name="" value="" class="svelte-1hhkwui">
    
        <a href="#--br-dropdown-border-radius" class="hash svelte-14ce7gs">


<svg viewBox="0 0 24 24" class="svelte-1naa68p"><path d="M10.59,13.41C11,13.8 11,14.44 10.59,14.83C10.2,15.22 9.56,15.22 9.17,14.83C7.22,12.88 7.22,9.71 9.17,7.76V7.76L12.71,4.22C14.66,2.27 17.83,2.27 19.78,4.22C21.73,6.17 21.73,9.34 19.78,11.29L18.29,12.78C18.3,11.96 18.17,11.14 17.89,10.36L18.36,9.88C19.54,8.71 19.54,6.81 18.36,5.64C17.19,4.46 15.29,4.46 14.12,5.64L10.59,9.17C9.41,10.34 9.41,12.24 10.59,13.41M13.41,9.17C13.8,8.78 14.44,8.78 14.83,9.17C16.78,11.12 16.78,14.29 14.83,16.24V16.24L11.29,19.78C9.34,21.73 6.17,21.73 4.22,19.78C2.27,17.83 2.27,14.66 4.22,12.71L5.71,11.22C5.7,12.04 5.83,12.86 6.11,13.65L5.64,14.12C4.46,15.29 4.46,17.19 5.64,18.36C6.81,19.54 8.71,19.54 9.88,18.36L13.41,14.83C14.59,13.66 14.59,11.76 13.41,10.59C13,10.2 13,9.56 13.41,9.17Z" style="fill: var(--br-icon-fill);"></path></svg></a>
</button>
    



<pre class="berry-code hljs svelte-1u7ndpn inline"><code class="svelte-1u7ndpn"><!-- HTML_TAG_START --><span class="hljs-attr">--br-dropdown-border-radius</span><!-- HTML_TAG_END --></code></pre>
    







<button   formaction="" formenctype="" formmethod=""  formtarget="" name="" value="" class="svelte-1hhkwui">
    


<svg viewBox="0 0 24 24" class="svelte-1naa68p"><path d="M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z" style="fill: var(--br-icon-fill);"></path></svg>
</button>
<div class="berry-dropdown-menu svelte-1574ee1">
    


<div class="menu-item svelte-1jpqr1f"><a target="_blank" title="Opens in new tab" class="svelte-14ce7gs">
                    <svg id="mdn-docs-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 110 104.2" aria-hidden="true" role="img" class="svelte-14ce7gs"><title>MDN border-radius property documentation</title><path fill="currentColor" d="M42 .2 13.4 92.3H1.7L30.2.2H42zM52.4.2v92.1H42V.2h10.4zm40.3 0L64.2 92.3H52.5L81 .2h11.7zM103.1.2v92.1H92.7V.2h10.4z"></path></svg>
                    MDN border-radius property docs
                    


<svg viewBox="0 0 24 24" class="svelte-1naa68p"><path d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z" style="fill: var(--br-icon-fill);"></path></svg></a>
</div>
            


<div class="menu-item svelte-1jpqr1f"><a href="https://github.com/kwangure/strawberry/blob/master/src/lib/components/dropdown/dropdown.svelte#L85" target="_blank" title="Opens in new tab" class="svelte-14ce7gs"><svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" class="svelte-14ce7gs"><path clip-rule="evenodd" d="M50 5.7C24.9 5.7 4.5 26 4.6 51.2c0 19.6 12.5 36.9 31.1 43.1 2.3.4 3.1-1 3.1-2.2s0-3.9-.1-7.7c-12.6 2.7-15.3-6.1-15.3-6.1-2.1-5.3-5-6.7-5-6.7-4.1-2.9.3-2.8.3-2.8 4.6.3 7 4.7 7 4.7 4.1 6.9 10.6 4.9 13.2 3.8.2-2.3 1.2-4.5 2.9-6.1-10.2-1.1-20.8-5-20.8-22.5-.1-4.5 1.6-8.9 4.7-12.2-.5-1.1-2-5.7.4-12 0 0 3.8-1.2 12.5 4.7 7.4-2 15.3-2 22.8 0 8.7-5.9 12.4-4.7 12.4-4.7 2.5 6.3 1 10.9.5 12 3.1 3.3 4.8 7.7 4.7 12.2 0 17.5-10.6 21.4-20.8 22.4 1.6 1.4 3.1 4.2 3.1 8.4 0 6.1-.1 11-.1 12.4 0 1.2.8 2.6 3.1 2.2 23.8-8 36.6-33.8 28.6-57.6C86.8 18.2 69.5 5.7 50 5.7z" fill="currentColor" fill-rule="evenodd"></path></svg>
                    View on Github
                    


<svg viewBox="0 0 24 24" class="svelte-1naa68p"><path d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z" style="fill: var(--br-icon-fill);"></path></svg></a>
</div>
            


<div class="menu-item svelte-1jpqr1f"><a href="https://github.dev/kwangure/strawberry/blob/master/src/lib/components/dropdown/dropdown.svelte#L85" target="_blank" title="Opens in new tab" class="svelte-14ce7gs"><svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" class="svelte-14ce7gs"><path clip-rule="evenodd" d="M50 5.7C24.9 5.7 4.5 26 4.6 51.2c0 19.6 12.5 36.9 31.1 43.1 2.3.4 3.1-1 3.1-2.2s0-3.9-.1-7.7c-12.6 2.7-15.3-6.1-15.3-6.1-2.1-5.3-5-6.7-5-6.7-4.1-2.9.3-2.8.3-2.8 4.6.3 7 4.7 7 4.7 4.1 6.9 10.6 4.9 13.2 3.8.2-2.3 1.2-4.5 2.9-6.1-10.2-1.1-20.8-5-20.8-22.5-.1-4.5 1.6-8.9 4.7-12.2-.5-1.1-2-5.7.4-12 0 0 3.8-1.2 12.5 4.7 7.4-2 15.3-2 22.8 0 8.7-5.9 12.4-4.7 12.4-4.7 2.5 6.3 1 10.9.5 12 3.1 3.3 4.8 7.7 4.7 12.2 0 17.5-10.6 21.4-20.8 22.4 1.6 1.4 3.1 4.2 3.1 8.4 0 6.1-.1 11-.1 12.4 0 1.2.8 2.6 3.1 2.2 23.8-8 36.6-33.8 28.6-57.6C86.8 18.2 69.5 5.7 50 5.7z" fill="currentColor" fill-rule="evenodd"></path></svg>
                    View in Github Web Editor
                    


<svg viewBox="0 0 24 24" class="svelte-1naa68p"><path d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z" style="fill: var(--br-icon-fill);"></path></svg></a>
</div>
        
</div></h3>
<div class="type">



<pre class="berry-code hljs svelte-1u7ndpn"><code class="svelte-1u7ndpn"><!-- HTML_TAG_START -->&lt;length-percentage>{1,4} [ / &lt;length-percentage>{1,4} ]?<!-- HTML_TAG_END --></code></pre></div>
<h3 id="--br-dropdown-box-shadow" class="svelte-14ce7gs">



<button   formaction="" formenctype="" formmethod=""  formtarget="" name="" value="" class="svelte-1hhkwui">
    
        <a href="#--br-dropdown-box-shadow" class="hash svelte-14ce7gs">


<svg viewBox="0 0 24 24" class="svelte-1naa68p"><path d="M10.59,13.41C11,13.8 11,14.44 10.59,14.83C10.2,15.22 9.56,15.22 9.17,14.83C7.22,12.88 7.22,9.71 9.17,7.76V7.76L12.71,4.22C14.66,2.27 17.83,2.27 19.78,4.22C21.73,6.17 21.73,9.34 19.78,11.29L18.29,12.78C18.3,11.96 18.17,11.14 17.89,10.36L18.36,9.88C19.54,8.71 19.54,6.81 18.36,5.64C17.19,4.46 15.29,4.46 14.12,5.64L10.59,9.17C9.41,10.34 9.41,12.24 10.59,13.41M13.41,9.17C13.8,8.78 14.44,8.78 14.83,9.17C16.78,11.12 16.78,14.29 14.83,16.24V16.24L11.29,19.78C9.34,21.73 6.17,21.73 4.22,19.78C2.27,17.83 2.27,14.66 4.22,12.71L5.71,11.22C5.7,12.04 5.83,12.86 6.11,13.65L5.64,14.12C4.46,15.29 4.46,17.19 5.64,18.36C6.81,19.54 8.71,19.54 9.88,18.36L13.41,14.83C14.59,13.66 14.59,11.76 13.41,10.59C13,10.2 13,9.56 13.41,9.17Z" style="fill: var(--br-icon-fill);"></path></svg></a>
</button>
    



<pre class="berry-code hljs svelte-1u7ndpn inline"><code class="svelte-1u7ndpn"><!-- HTML_TAG_START --><span class="hljs-attr">--br-dropdown-box-shadow</span><!-- HTML_TAG_END --></code></pre>
    







<button   formaction="" formenctype="" formmethod=""  formtarget="" name="" value="" class="svelte-1hhkwui">
    


<svg viewBox="0 0 24 24" class="svelte-1naa68p"><path d="M16,12A2,2 0 0,1 18,10A2,2 0 0,1 20,12A2,2 0 0,1 18,14A2,2 0 0,1 16,12M10,12A2,2 0 0,1 12,10A2,2 0 0,1 14,12A2,2 0 0,1 12,14A2,2 0 0,1 10,12M4,12A2,2 0 0,1 6,10A2,2 0 0,1 8,12A2,2 0 0,1 6,14A2,2 0 0,1 4,12Z" style="fill: var(--br-icon-fill);"></path></svg>
</button>
<div class="berry-dropdown-menu svelte-1574ee1">
    


<div class="menu-item svelte-1jpqr1f"><a target="_blank" title="Opens in new tab" class="svelte-14ce7gs">
                    <svg id="mdn-docs-logo" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 110 104.2" aria-hidden="true" role="img" class="svelte-14ce7gs"><title>MDN box-shadow property documentation</title><path fill="currentColor" d="M42 .2 13.4 92.3H1.7L30.2.2H42zM52.4.2v92.1H42V.2h10.4zm40.3 0L64.2 92.3H52.5L81 .2h11.7zM103.1.2v92.1H92.7V.2h10.4z"></path></svg>
                    MDN box-shadow property docs
                    


<svg viewBox="0 0 24 24" class="svelte-1naa68p"><path d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z" style="fill: var(--br-icon-fill);"></path></svg></a>
</div>
            


<div class="menu-item svelte-1jpqr1f"><a href="https://github.com/kwangure/strawberry/blob/master/src/lib/components/dropdown/dropdown.svelte#L87" target="_blank" title="Opens in new tab" class="svelte-14ce7gs"><svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" class="svelte-14ce7gs"><path clip-rule="evenodd" d="M50 5.7C24.9 5.7 4.5 26 4.6 51.2c0 19.6 12.5 36.9 31.1 43.1 2.3.4 3.1-1 3.1-2.2s0-3.9-.1-7.7c-12.6 2.7-15.3-6.1-15.3-6.1-2.1-5.3-5-6.7-5-6.7-4.1-2.9.3-2.8.3-2.8 4.6.3 7 4.7 7 4.7 4.1 6.9 10.6 4.9 13.2 3.8.2-2.3 1.2-4.5 2.9-6.1-10.2-1.1-20.8-5-20.8-22.5-.1-4.5 1.6-8.9 4.7-12.2-.5-1.1-2-5.7.4-12 0 0 3.8-1.2 12.5 4.7 7.4-2 15.3-2 22.8 0 8.7-5.9 12.4-4.7 12.4-4.7 2.5 6.3 1 10.9.5 12 3.1 3.3 4.8 7.7 4.7 12.2 0 17.5-10.6 21.4-20.8 22.4 1.6 1.4 3.1 4.2 3.1 8.4 0 6.1-.1 11-.1 12.4 0 1.2.8 2.6 3.1 2.2 23.8-8 36.6-33.8 28.6-57.6C86.8 18.2 69.5 5.7 50 5.7z" fill="currentColor" fill-rule="evenodd"></path></svg>
                    View on Github
                    


<svg viewBox="0 0 24 24" class="svelte-1naa68p"><path d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z" style="fill: var(--br-icon-fill);"></path></svg></a>
</div>
            


<div class="menu-item svelte-1jpqr1f"><a href="https://github.dev/kwangure/strawberry/blob/master/src/lib/components/dropdown/dropdown.svelte#L87" target="_blank" title="Opens in new tab" class="svelte-14ce7gs"><svg viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" role="img" class="svelte-14ce7gs"><path clip-rule="evenodd" d="M50 5.7C24.9 5.7 4.5 26 4.6 51.2c0 19.6 12.5 36.9 31.1 43.1 2.3.4 3.1-1 3.1-2.2s0-3.9-.1-7.7c-12.6 2.7-15.3-6.1-15.3-6.1-2.1-5.3-5-6.7-5-6.7-4.1-2.9.3-2.8.3-2.8 4.6.3 7 4.7 7 4.7 4.1 6.9 10.6 4.9 13.2 3.8.2-2.3 1.2-4.5 2.9-6.1-10.2-1.1-20.8-5-20.8-22.5-.1-4.5 1.6-8.9 4.7-12.2-.5-1.1-2-5.7.4-12 0 0 3.8-1.2 12.5 4.7 7.4-2 15.3-2 22.8 0 8.7-5.9 12.4-4.7 12.4-4.7 2.5 6.3 1 10.9.5 12 3.1 3.3 4.8 7.7 4.7 12.2 0 17.5-10.6 21.4-20.8 22.4 1.6 1.4 3.1 4.2 3.1 8.4 0 6.1-.1 11-.1 12.4 0 1.2.8 2.6 3.1 2.2 23.8-8 36.6-33.8 28.6-57.6C86.8 18.2 69.5 5.7 50 5.7z" fill="currentColor" fill-rule="evenodd"></path></svg>
                    View in Github Web Editor
                    


<svg viewBox="0 0 24 24" class="svelte-1naa68p"><path d="M14,3V5H17.59L7.76,14.83L9.17,16.24L19,6.41V10H21V3M19,19H5V5H12V3H5C3.89,3 3,3.9 3,5V19A2,2 0 0,0 5,21H19A2,2 0 0,0 21,19V12H19V19Z" style="fill: var(--br-icon-fill);"></path></svg></a>
</div>
        
</div></h3>
<div class="type">



<pre class="berry-code hljs svelte-1u7ndpn"><code class="svelte-1u7ndpn"><!-- HTML_TAG_START -->none | &lt;shadow>#<!-- HTML_TAG_END --></code></pre></div>


</div></div>
</div>


		<script type="module" data-sveltekit-hydrate="3kez1w">
		import { start } from "/strawberry/app/immutable/start-0d2001e0.js";
		start({
			target: document.querySelector('[data-sveltekit-hydrate="3kez1w"]').parentNode,
			paths: {"base":"/strawberry","assets":"/strawberry"},
			session: {},
			route: true,
			spa: false,
			trailing_slash: "never",
			hydrate: {
				status: 200,
				error: null,
				nodes: [0, 2, 7],
				params: {},
				routeId: "components/dropdown"
			}
		});
	</script>
    </body>
</html>
