<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Strawberry</title>
        <meta http-equiv="content-security-policy" content="">
		<link href="/strawberry/app/immutable/assets/_layout-a85a98e6.css" rel="stylesheet">
		<link href="/strawberry/app/immutable/assets/components-33a01f7b.css" rel="stylesheet">
		<link href="/strawberry/app/immutable/assets/globals-2654e6a4.css" rel="stylesheet">
		<link href="/strawberry/app/immutable/assets/_page-90aba66f.css" rel="stylesheet">
		<link href="/strawberry/app/immutable/assets/language-0884bc0b.css" rel="stylesheet">
		<link href="/strawberry/app/immutable/assets/index-33a01f7b.css" rel="stylesheet">
		<link href="/strawberry/app/immutable/assets/dialog-01d0a76f.css" rel="stylesheet">
		<link href="/strawberry/app/immutable/assets/component-b48b8cda.css" rel="stylesheet">
		<link href="/strawberry/app/immutable/assets/popup-ce92e48e.css" rel="stylesheet">
		<link href="/strawberry/app/immutable/assets/container-b38226b5.css" rel="stylesheet">
		<link href="/strawberry/app/immutable/assets/component-6d5d7da0.css" rel="stylesheet">
		<link href="/strawberry/app/immutable/assets/component-b0feb21d.css" rel="stylesheet">
		<link rel="modulepreload" href="/strawberry/app/immutable/start-f7433ade.js">
		<link rel="modulepreload" href="/strawberry/app/immutable/chunks/index-f696c18b.js">
		<link rel="modulepreload" href="/strawberry/app/immutable/chunks/singletons-4e36f5e8.js">
		<link rel="modulepreload" href="/strawberry/app/immutable/chunks/preload-helper-10e7f86a.js">
		<link rel="modulepreload" href="/strawberry/app/immutable/components/pages/_layout.svelte-cfe671e7.js">
		<link rel="modulepreload" href="/strawberry/app/immutable/chunks/forward-events-a13102ec.js">
		<link rel="modulepreload" href="/strawberry/app/immutable/chunks/stores-09357eaa.js">
		<link rel="modulepreload" href="/strawberry/app/immutable/modules/pages/_layout.js-6a08c268.js">
		<link rel="modulepreload" href="/strawberry/app/immutable/chunks/_layout-04d04af2.js">
		<link rel="modulepreload" href="/strawberry/app/immutable/components/pages/components/_component_/_page.svelte-db4e76f1.js">
		<link rel="modulepreload" href="/strawberry/app/immutable/chunks/language-8da4a31a.js"><title>Element</title><!-- HEAD_svelte-bicm46_START --><meta name="description" value="Element renders a DOM tree that is represented by JSON"><!-- HEAD_svelte-bicm46_END -->
    </head>
    <body>
        <div style="display: contents">


<div class="app-layout svelte-1tpyxxg"><nav class="svelte-1tpyxxg"><a class="logo svelte-1tpyxxg" href="/strawberry">🍓 <span class="text">strawberry</span></a>
        <ul class="br-navbar-section"><a class="br-navbar-item navigation svelte-1tpyxxg" href="/strawberry" aria-current="true">Components
            </a>
            <a class="br-navbar-item navigation svelte-1tpyxxg" href="/strawberry/typography">Typography
            </a></ul>
        <ul class="br-navbar-section right svelte-1tpyxxg"><a class="cta svelte-1tpyxxg" href="https://github.com/kwangure/strawberry" target="_blank" rel="noreferrer">GitHub
            </a>
            <a class="cta svelte-1tpyxxg" href="https://www.npmjs.com/package/@kwangure/strawberry" target="_blank" rel="noreferrer">NPM
            </a></ul></nav>
    <div class="components svelte-1tpyxxg"><div class="sidebar-wrapper svelte-1tpyxxg">
<aside class="svelte-1l1k7s2"><a href="/strawberry" class="svelte-1tpyxxg">


<div class="svelte-4ag1fl">Getting started
                    
</div></a>
                <section class="berry-sidebar-section sidebar-section"><div class="title svelte-i7yftn">General</div>
    <div class="items svelte-i7yftn"><a href="/strawberry/components/button" class="svelte-1tpyxxg">


<div class="svelte-4ag1fl">Button
                            
</div></a>
                        <a href="/strawberry/components/dropdown" class="svelte-1tpyxxg">


<div class="svelte-4ag1fl">Dropdown
                            
</div></a>
                        <a href="/strawberry/components/element" class="svelte-1tpyxxg">


<div class="svelte-4ag1fl active">Element
                            
</div></a>
                        <a href="/strawberry/switch" class="svelte-1tpyxxg">


<div class="svelte-4ag1fl">Switch
                            
</div></a>
                    </div>
</section>
                <section class="berry-sidebar-section sidebar-section"><div class="title svelte-i7yftn">Data Inputs</div>
    <div class="items svelte-i7yftn"><a href="/strawberry/components/input-container" class="svelte-1tpyxxg">


<div class="svelte-4ag1fl">Container
                            
</div></a>
                    </div>
</section>
                <section class="berry-sidebar-section sidebar-section"><div class="title svelte-i7yftn">Data Display</div>
    <div class="items svelte-i7yftn"><a href="/strawberry/components/code" class="svelte-1tpyxxg">


<div class="svelte-4ag1fl">Code
                            
</div></a>
                        <a href="/strawberry/components/dialog" class="svelte-1tpyxxg">


<div class="svelte-4ag1fl">Dialog
                            
</div></a>
                        <a href="/strawberry/tooltip" class="svelte-1tpyxxg">


<div class="svelte-4ag1fl">Tooltip
                            
</div></a>
                    </div>
</section>
</aside></div>
        <div class="content-wrapper svelte-1tpyxxg">

<h1 class="svelte-1x9rqh9">Element</h1>
Element renders a DOM tree that is represented by JSON

<h2 class="svelte-1x9rqh9">Example</h2>
<div class="explainer svelte-1x9rqh9"><h3 class="svelte-1x9rqh9">Basic usage</h3>
		</div>
	<div class="demo svelte-1x9rqh9">



<pre class="berry-code hljs svelte-gkl9w6"><code class="svelte-gkl9w6"><!-- HTML_TAG_START --><span style='color: var(--br-code-token-punctuation-color);'>&lt;</span><span style='color: var(--br-code-token-type-name-color);'>script</span><span style='color: var(--br-code-token-punctuation-color);'>></span>
    <span style='color: var(--br-code-token-keyword-color);'>import</span> <span style='color: var(--br-code-token-punctuation-color);'>{</span> <span style='color: var(--br-code-token-variable-definition-name-color);'>Element</span> <span style='color: var(--br-code-token-punctuation-color);'>}</span> <span style='color: var(--br-code-token-keyword-color);'>from</span> <span style='color: var(--br-code-token-string-color);'>'@kwangure/strawberry/default/element'</span><span style='color: var(--br-code-token-punctuation-color);'>;</span>

    <span style='color: var(--br-code-token-keyword-color);'>const</span> <span style='color: var(--br-code-token-variable-definition-name-color);'>element</span> <span style='color: var(--br-code-token-operator-color);'>=</span> <span style='color: var(--br-code-token-punctuation-color);'>{</span>
    	<span style='color: var(--br-code-token-property-name definition-color);'>type</span><span style='color: var(--br-code-token-punctuation-color);'>:</span> <span style='color: var(--br-code-token-string-color);'>'p'</span><span style='color: var(--br-code-token-punctuation-color);'>,</span>
    	<span style='color: var(--br-code-token-property-name definition-color);'>props</span><span style='color: var(--br-code-token-punctuation-color);'>:</span> <span style='color: var(--br-code-token-punctuation-color);'>{</span>
    		<span style='color: var(--br-code-token-property-name definition-color);'>style</span><span style='color: var(--br-code-token-punctuation-color);'>:</span> <span style='color: var(--br-code-token-string-color);'>'font-style: italic; color: red;'</span><span style='color: var(--br-code-token-punctuation-color);'>,</span>
    	<span style='color: var(--br-code-token-punctuation-color);'>}</span><span style='color: var(--br-code-token-punctuation-color);'>,</span>
    	<span style='color: var(--br-code-token-property-name definition-color);'>children</span><span style='color: var(--br-code-token-punctuation-color);'>:</span> <span style='color: var(--br-code-token-punctuation-color);'>[</span><span style='color: var(--br-code-token-string-color);'>'I am a dynamically generated red &lt;p/> tag element.'</span><span style='color: var(--br-code-token-punctuation-color);'>]</span><span style='color: var(--br-code-token-punctuation-color);'>,</span>
    <span style='color: var(--br-code-token-punctuation-color);'>}</span><span style='color: var(--br-code-token-punctuation-color);'>;</span>
<span style='color: var(--br-code-token-punctuation-color);'>&lt;/</span><span style='color: var(--br-code-token-type-name-color);'>script</span><span style='color: var(--br-code-token-punctuation-color);'>></span>

<span style='color: var(--br-code-token-punctuation-color);'>&lt;</span><span style='color: var(--br-code-token-type-name-color);'>Element</span> {element}/><!-- HTML_TAG_END --></code></pre>
		<div class="output svelte-1x9rqh9"></div>
	</div></div></div>
</div>


		<script type="module" data-sveltekit-hydrate="12t6lfc">
			import { start } from "/strawberry/app/immutable/start-f7433ade.js";

			start({
				env: {},
				hydrate: {
					status: 200,
					error: null,
					node_ids: [0, 4],
					params: {component:"element"},
					route: {"id":"/components/[component]"},
					data: [null,{type:"data",data:{name:"Element",slots:[],description:"Element renders a DOM tree that is represented by JSON",workingDirectoryFilepath:"src\u002Flib\u002Fcomponents\u002Felement\u002Felement.svelte",props:[{kind:"let",name:"element",optional:false,jsDoc:{description:"",tags:[{description:"",name:"",tag:"type",type:"import(\".\u002Ftypes\").DomJson"}]}}],exports:[],customProperties:[],examples:[{code:"\u003Cscript\u003E\n    import { Element } from '@kwangure\u002Fstrawberry\u002Fdefault\u002Felement';\n\n    const element = {\n    \ttype: 'p',\n    \tprops: {\n    \t\tstyle: 'font-style: italic; color: red;',\n    \t},\n    \tchildren: ['I am a dynamically generated red \u003Cp\u002F\u003E tag element.'],\n    };\n\u003C\u002Fscript\u003E\n\n\u003CElement {element}\u002F\u003E",readme:{frontmatter:{title:"Basic usage"},tree:[]},filepath:"\u002Fdocs\u002Fexamples\u002Felement\u002F01-basic\u002Fcomponent.svelte"}]},uses:{params:["component"]}}],
					form: null
				},
				paths: {"base":"/strawberry","assets":"/strawberry"},
				target: document.querySelector('[data-sveltekit-hydrate="12t6lfc"]').parentNode,
				trailing_slash: "never"
			});
		</script>
	</div>
    </body>
</html>
