<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Strawberry</title>
  <link rel="stylesheet" href="/strawberry/app/assets/berry.dark-f20090a7.css" media="(prefers-color-scheme: dark)" data-svelte="svelte-1l8l244"><link rel="stylesheet" href="/strawberry/app/assets/berry.light-cd553406.css" media="(prefers-color-scheme: light)" data-svelte="svelte-1l8l244">

		

		<link rel="modulepreload" href="/strawberry/app/start-2b39dde3.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/vendor-fab38dda.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/paths-28a87002.js">
		<link rel="modulepreload" href="/strawberry/app/layout.svelte-08843934.js">
		<link rel="modulepreload" href="/strawberry/app/pages/components/__layout.svelte-4e7a58e0.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/forward-events-b24822df.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/layout-f13a44e7.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/Theme-baf22297.js">
		<link rel="modulepreload" href="/strawberry/app/pages/components/index.svelte-81027df6.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/JavaScript.svelte_svelte_type_style_lang-99e8b40e.js">
		<link rel="stylesheet" href="/strawberry/app/assets/start-61d1577b.css">
		<link rel="stylesheet" href="/strawberry/app/assets/pages/components/__layout.svelte-df1ff4eb.css">
		<link rel="stylesheet" href="/strawberry/app/assets/layout-c5cbc765.css">
		<link rel="stylesheet" href="/strawberry/app/assets/Theme-74f72e56.css">
		<link rel="stylesheet" href="/strawberry/app/assets/JavaScript.svelte_svelte_type_style_lang-a4101298.css">

		<script type="module">
			import { start } from "/strawberry/app/start-2b39dde3.js";
			start({
				target: document.querySelector("#svelte"),
				paths: {"base":"/strawberry","assets":""},
				session: {},
				host: location.host,
				route: true,
				spa: false,
				trailing_slash: "never",
				hydrate: {
					status: 200,
					error: null,
					nodes: [
						import("/strawberry/app/layout.svelte-08843934.js"),
						import("/strawberry/app/pages/components/__layout.svelte-4e7a58e0.js"),
						import("/strawberry/app/pages/components/index.svelte-81027df6.js")
					],
					page: {
						host: location.host, // TODO this is redundant
						path: "\u002Fcomponents",
						query: new URLSearchParams(""),
						params: {}
					}
				}
			});
		</script>
</head>
<body id="svelte">
  




<div class="app-layout svelte-1q74s6"><nav class="svelte-h4i5ca">
    <div class="wrapper svelte-h4i5ca"><a class="logo svelte-h4i5ca" href="/strawberry/">🍓 <span class="text">strawberry</span></a>
        <ul class="links svelte-h4i5ca"><li class="berry-navbar-link svelte-17iw2vs"><a href="/strawberry/components" class="svelte-17iw2vs">Components
            </a>
</li>
            <li class="berry-navbar-link svelte-17iw2vs"><a href="/strawberry/typography" class="svelte-17iw2vs">Typography
            </a>
</li>
        </ul>
        <ul class="actions svelte-h4i5ca"><a class="cta svelte-1q74s6" href="https://github.com/kwangure/strawberry" target="_blank">GitHub
            </a>
            <a class="cta svelte-1q74s6" href="https://www.npmjs.com/package/@kwangure/strawberry" target="_blank">NPM
            </a>
        </ul></div>
</nav>
    <div class="components svelte-nenj4r"><div class="left"><div class="berry-sidebar svelte-scga4w"><a href="/strawberry/components" class="sidebar-item svelte-gjg4f3 active">Components Overview
                
</a>
                <section class="berry-sidebar-section sidebar-section svelte-rmr5lz"><div class="title svelte-rmr5lz">General</div>
    <div class="items svelte-rmr5lz"><a href="/strawberry/components/button" class="sidebar-item svelte-gjg4f3">Button
                        
</a>
                        <a href="/strawberry/components/dropdown" class="sidebar-item svelte-gjg4f3">Dropdown
                        
</a>
                        <a href="/strawberry/components/icon" class="sidebar-item svelte-gjg4f3">Icon
                        
</a>
                    </div>
</section>
                <section class="berry-sidebar-section sidebar-section svelte-rmr5lz"><div class="title svelte-rmr5lz">Data Inputs</div>
    <div class="items svelte-rmr5lz"><a href="/strawberry/components/input" class="sidebar-item svelte-gjg4f3">Text
                        
</a>
                        <a href="/strawberry/components/input/password" class="sidebar-item svelte-gjg4f3">Password
                        
</a>
                        <a href="/strawberry/components/input/number" class="sidebar-item svelte-gjg4f3">Number
                        
</a>
                        <a href="/strawberry/components/input/checkbox" class="sidebar-item svelte-gjg4f3">Checkbox
                        
</a>
                        <a href="/strawberry/components/input/radio" class="sidebar-item svelte-gjg4f3">Radio
                        
</a>
                        <a href="/strawberry/components/select" class="sidebar-item svelte-gjg4f3">Select
                        
</a>
                        <a href="/strawberry/components/input/time" class="sidebar-item svelte-gjg4f3">Time
                        
</a>
                    </div>
</section>
                <section class="berry-sidebar-section sidebar-section svelte-rmr5lz"><div class="title svelte-rmr5lz">Data Display</div>
    <div class="items svelte-rmr5lz"><a href="/strawberry/components/code" class="sidebar-item svelte-gjg4f3">Code
                        
</a>
                        <a href="/strawberry/components/modal" class="sidebar-item svelte-gjg4f3">Modal
                        
</a>
                        <a href="/strawberry/components/notification" class="sidebar-item svelte-gjg4f3">Notification
                        
</a>
                        <a href="/strawberry/components/tooltip" class="sidebar-item svelte-gjg4f3">Tooltip
                        
</a>
                    </div>
</section>
</div></div>
        <div class="right svelte-nenj4r"><p>General Usage:
</p>

<pre class="berry-code hljs svelte-7ed6ex"><div class="language-svelte"><!-- HTML_TAG_START --><span class="language-xml"><span class="hljs-tag">&lt;<span class="hljs-name">script</span>&gt;</span></span><span class="language-javascript">
    <span class="hljs-keyword">import</span> <span class="hljs-string">&quot;@kwangure/strawberry/css/styles&quot;</span>;

    <span class="hljs-keyword">import</span> <span class="hljs-title class_">Button</span> <span class="hljs-keyword">from</span> <span class="hljs-string">&quot;@kwangure/strawberry/components/Button&quot;</span>;

    <span class="hljs-keyword">const</span> <span class="hljs-title function_">hello</span> = (<span class="hljs-params"></span>) =&gt; <span class="hljs-variable language_">console</span>.<span class="hljs-title function_">log</span>(<span class="hljs-string">&#x27;strawberry&#x27;</span>);
</span><span class="language-xml"><span class="hljs-tag">&lt;/<span class="hljs-name">script</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">div</span> <span class="hljs-attr">class</span>=<span class="hljs-string">&quot;document&quot;</span>&gt;</span>
    <span class="hljs-tag">&lt;<span class="hljs-name">Button</span> <span class="hljs-attr">on:click</span>=</span></span><span class="language-javascript">{hello}</span><span class="language-xml"><span class="hljs-tag">&gt;</span>Click me!<span class="hljs-tag">&lt;/<span class="hljs-name">Button</span>&gt;</span>
<span class="hljs-tag">&lt;/<span class="hljs-name">div</span>&gt;</span>

<span class="hljs-tag">&lt;<span class="hljs-name">style</span>&gt;</span></span><span class="language-css">
    <span class="hljs-selector-class">.document</span> {
        <span class="hljs-attr">--br-button-width</span>: <span class="hljs-number">50px</span>;
        <span class="hljs-attr">--br-button-border</span>: <span class="hljs-number">3px</span> solid <span class="hljs-built_in">var</span>(--my-primary-color);
    }
</span><span class="language-xml"><span class="hljs-tag">&lt;/<span class="hljs-name">style</span>&gt;</span></span><!-- HTML_TAG_END --></div>
</pre></div></div>
</div>



			
		
</body>
</html>