<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Strawberry</title>
        <meta http-equiv="content-security-policy" content=""><title>Strawberry | Svelte Tooltip Component</title>
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/__layout-588b76ce.css">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/__layout-bdb72dfc.css">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/typography-5e7f12ce.css">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/layout-db4cab42.css">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/navbar-1307e0cf.css">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/tooltip-d4070651.css">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/mdi-20cfa82a.css">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/component-03139ec1.css">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/svelte-9f640eed.css">
	<link rel="modulepreload" href="/strawberry/app/immutable/start-0d2001e0.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/index-2f8740a7.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/index-57059f2d.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/paths-1c47712a.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/pages/__layout.svelte-39160f55.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/pages/components/__layout.svelte-9ff0da8f.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/forward-events-e3ac3cec.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/layout-391e457d.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/navbar-02065a3d.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/pages/components/tooltip.svelte-0f078312.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/mdi-f29ca095.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/primary-eef58970.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/component-9a66da4d.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/svelte-66471546.js">
    </head>
    <body>
        


<div class="app-layout svelte-1q74s6">


<nav class="svelte-iki48l">
    <div class="wrapper svelte-iki48l"><a class="logo svelte-iki48l" href="/strawberry/">🍓 <span class="text">strawberry</span></a>
        <ul class="links svelte-iki48l"><li class="berry-navbar-link svelte-1jl67ue"><a href="/strawberry/components" class="svelte-1jl67ue">Components
            </a>
</li>
            <li class="berry-navbar-link svelte-1jl67ue"><a href="/strawberry/typography" class="svelte-1jl67ue">Typography
            </a>
</li>
        </ul>
        <ul class="actions svelte-iki48l"><a class="cta svelte-1q74s6" href="https://github.com/kwangure/strawberry" target="_blank">GitHub
            </a>
            <a class="cta svelte-1q74s6" href="https://www.npmjs.com/package/@kwangure/strawberry" target="_blank">NPM
            </a>
        </ul></div>
</nav>
    <div class="components svelte-nenj4r"><div class="left">


<div class="berry-sidebar svelte-k0ja5c">


<a href="/strawberry/components" class="sidebar-item svelte-u293ko">Components Overview
                
</a>
                <section class="berry-sidebar-section sidebar-section"><div class="title svelte-1fu1r7i">General</div>
    <div class="items svelte-1fu1r7i">


<a href="/strawberry/components/button" class="sidebar-item svelte-u293ko">Button
                        
</a>
                        


<a href="/strawberry/components/dropdown" class="sidebar-item svelte-u293ko">Dropdown
                        
</a>
                        


<a href="/strawberry/components/element" class="sidebar-item svelte-u293ko">Element
                        
</a>
                        


<a href="/strawberry/components/icon" class="sidebar-item svelte-u293ko">Icon
                        
</a>
                        


<a href="/strawberry/components/switch" class="sidebar-item svelte-u293ko">Switch
                        
</a>
                    </div>
</section>
                <section class="berry-sidebar-section sidebar-section"><div class="title svelte-1fu1r7i">Data Inputs</div>
    <div class="items svelte-1fu1r7i">


<a href="/strawberry/components/input/date" class="sidebar-item svelte-u293ko">Date
                        
</a>
                        


<a href="/strawberry/components/input/datetime" class="sidebar-item svelte-u293ko">DateTime
                        
</a>
                        


<a href="/strawberry/components/input" class="sidebar-item svelte-u293ko">Text
                        
</a>
                        


<a href="/strawberry/components/input/password" class="sidebar-item svelte-u293ko">Password
                        
</a>
                        


<a href="/strawberry/components/input/number" class="sidebar-item svelte-u293ko">Number
                        
</a>
                        


<a href="/strawberry/components/input/checkbox" class="sidebar-item svelte-u293ko">Checkbox
                        
</a>
                        


<a href="/strawberry/components/input/radio" class="sidebar-item svelte-u293ko">Radio
                        
</a>
                        


<a href="/strawberry/components/input/select" class="sidebar-item svelte-u293ko">Select
                        
</a>
                        


<a href="/strawberry/components/input/textarea" class="sidebar-item svelte-u293ko">Textarea
                        
</a>
                        


<a href="/strawberry/components/input/time" class="sidebar-item svelte-u293ko">Time
                        
</a>
                    </div>
</section>
                <section class="berry-sidebar-section sidebar-section"><div class="title svelte-1fu1r7i">Data Display</div>
    <div class="items svelte-1fu1r7i">


<a href="/strawberry/components/code" class="sidebar-item svelte-u293ko">Code
                        
</a>
                        


<a href="/strawberry/components/modal" class="sidebar-item svelte-u293ko">Modal
                        
</a>
                        


<a href="/strawberry/components/notification" class="sidebar-item svelte-u293ko">Notification
                        
</a>
                        


<a href="/strawberry/components/tooltip" class="sidebar-item svelte-u293ko">Tooltip
                        
</a>
                    </div>
</section>
</div></div>
        <div class="right svelte-nenj4r">

<h1 class="svelte-1qp7jc9">Tooltip</h1>

<h2 class="svelte-1qp7jc9">Example</h2>
    <div class="usage inline svelte-1qp7jc9"></div>
    <div class="usage block svelte-1qp7jc9"><div class="properties examples svelte-jq2pvc">
<div class="contents svelte-7gh8rh">






<button   formaction="" formenctype="" formmethod=""  formtarget="" name="" value="" class="svelte-1hhkwui">
    top
</button>
                        
                    
<div class="berry-tooltip svelte-1npg1b2" data-popper-placement="top"><div class="arrow svelte-1npg1b2"></div>
    <span slot="popup">I&#39;m a <b>top</b> tooltip!</span>
</div>
                
</div>
<div class="contents svelte-7gh8rh">






<button   formaction="" formenctype="" formmethod=""  formtarget="" name="" value="" class="svelte-1hhkwui">
    top-start
</button>
                        
                    
<div class="berry-tooltip svelte-1npg1b2" data-popper-placement="top-start"><div class="arrow svelte-1npg1b2"></div>
    <span slot="popup">I&#39;m a <b>top-start</b> tooltip!</span>
</div>
                
</div>
<div class="contents svelte-7gh8rh">






<button   formaction="" formenctype="" formmethod=""  formtarget="" name="" value="" class="svelte-1hhkwui">
    top-end
</button>
                        
                    
<div class="berry-tooltip svelte-1npg1b2" data-popper-placement="top-end"><div class="arrow svelte-1npg1b2"></div>
    <span slot="popup">I&#39;m a <b>top-end</b> tooltip!</span>
</div>
                
</div>
<div class="contents svelte-7gh8rh">






<button   formaction="" formenctype="" formmethod=""  formtarget="" name="" value="" class="svelte-1hhkwui">
    right
</button>
                        
                    
<div class="berry-tooltip svelte-1npg1b2" data-popper-placement="right"><div class="arrow svelte-1npg1b2"></div>
    <span slot="popup">I&#39;m a <b>right</b> tooltip!</span>
</div>
                
</div>
<div class="contents svelte-7gh8rh">






<button   formaction="" formenctype="" formmethod=""  formtarget="" name="" value="" class="svelte-1hhkwui">
    right-start
</button>
                        
                    
<div class="berry-tooltip svelte-1npg1b2" data-popper-placement="right-start"><div class="arrow svelte-1npg1b2"></div>
    <span slot="popup">I&#39;m a <b>right-start</b> tooltip!</span>
</div>
                
</div>
<div class="contents svelte-7gh8rh">






<button   formaction="" formenctype="" formmethod=""  formtarget="" name="" value="" class="svelte-1hhkwui">
    right-end
</button>
                        
                    
<div class="berry-tooltip svelte-1npg1b2" data-popper-placement="right-end"><div class="arrow svelte-1npg1b2"></div>
    <span slot="popup">I&#39;m a <b>right-end</b> tooltip!</span>
</div>
                
</div>
<div class="contents svelte-7gh8rh">






<button   formaction="" formenctype="" formmethod=""  formtarget="" name="" value="" class="svelte-1hhkwui">
    bottom
</button>
                        
                    
<div class="berry-tooltip svelte-1npg1b2" data-popper-placement="bottom"><div class="arrow svelte-1npg1b2"></div>
    <span slot="popup">I&#39;m a <b>bottom</b> tooltip!</span>
</div>
                
</div>
<div class="contents svelte-7gh8rh">






<button   formaction="" formenctype="" formmethod=""  formtarget="" name="" value="" class="svelte-1hhkwui">
    bottom-start
</button>
                        
                    
<div class="berry-tooltip svelte-1npg1b2" data-popper-placement="bottom-start"><div class="arrow svelte-1npg1b2"></div>
    <span slot="popup">I&#39;m a <b>bottom-start</b> tooltip!</span>
</div>
                
</div>
<div class="contents svelte-7gh8rh">






<button   formaction="" formenctype="" formmethod=""  formtarget="" name="" value="" class="svelte-1hhkwui">
    bottom-end
</button>
                        
                    
<div class="berry-tooltip svelte-1npg1b2" data-popper-placement="bottom-end"><div class="arrow svelte-1npg1b2"></div>
    <span slot="popup">I&#39;m a <b>bottom-end</b> tooltip!</span>
</div>
                
</div>
<div class="contents svelte-7gh8rh">






<button   formaction="" formenctype="" formmethod=""  formtarget="" name="" value="" class="svelte-1hhkwui">
    left
</button>
                        
                    
<div class="berry-tooltip svelte-1npg1b2" data-popper-placement="left"><div class="arrow svelte-1npg1b2"></div>
    <span slot="popup">I&#39;m a <b>left</b> tooltip!</span>
</div>
                
</div>
<div class="contents svelte-7gh8rh">






<button   formaction="" formenctype="" formmethod=""  formtarget="" name="" value="" class="svelte-1hhkwui">
    left-start
</button>
                        
                    
<div class="berry-tooltip svelte-1npg1b2" data-popper-placement="left-start"><div class="arrow svelte-1npg1b2"></div>
    <span slot="popup">I&#39;m a <b>left-start</b> tooltip!</span>
</div>
                
</div>
<div class="contents svelte-7gh8rh">






<button   formaction="" formenctype="" formmethod=""  formtarget="" name="" value="" class="svelte-1hhkwui">
    left-end
</button>
                        
                    
<div class="berry-tooltip svelte-1npg1b2" data-popper-placement="left-end"><div class="arrow svelte-1npg1b2"></div>
    <span slot="popup">I&#39;m a <b>left-end</b> tooltip!</span>
</div>
                
</div></div></div>

<h2 class="svelte-1qp7jc9">Props</h2>
<table class="svelte-1qp7jc9"><tr><th class="svelte-1qp7jc9">Name</th>
        <th class="svelte-1qp7jc9">Type</th>
        <th class="svelte-1qp7jc9">Default</th>
        <th class="svelte-1qp7jc9">Description</th></tr>
    <tr><td class="svelte-ingn1y"><span>placement</span></td>
    <td class="type svelte-ingn1y">



<pre class="berry-code hljs svelte-1u7ndpn inline"><code class="svelte-1u7ndpn"><!-- HTML_TAG_START --><span class="hljs-string">&quot;top&quot;</span> | <span class="hljs-string">&quot;top-start&quot;</span> | <span class="hljs-string">&quot;top-end&quot;</span> | <span class="hljs-string">&quot;right&quot;</span> | <span class="hljs-string">&quot;right-start&quot;</span> | <span class="hljs-string">&quot;right-end&quot;</span> | <span class="hljs-string">&quot;bottom&quot;</span> | <span class="hljs-string">&quot;bottom-start&quot;</span> | <span class="hljs-string">&quot;bottom-end&quot;</span> | <span class="hljs-string">&quot;left&quot;</span> | <span class="hljs-string">&quot;left-start&quot;</span> | <span class="hljs-string">&quot;left-end&quot;</span><!-- HTML_TAG_END --></code></pre></td>
    <td class="svelte-ingn1y">



<pre class="berry-code hljs svelte-1u7ndpn inline"><code class="svelte-1u7ndpn"><!-- HTML_TAG_START --><span class="hljs-string">&quot;bottom&quot;</span><!-- HTML_TAG_END --></code></pre></td>
    <td class="svelte-ingn1y">Where to position the popup relative to the reference element.</td>
</tr><tr><td class="svelte-ingn1y"><span>followMouse</span></td>
    <td class="type svelte-ingn1y">—</td>
    <td class="svelte-ingn1y">



<pre class="berry-code hljs svelte-1u7ndpn inline"><code class="svelte-1u7ndpn"><!-- HTML_TAG_START --><span class="hljs-literal">false</span><!-- HTML_TAG_END --></code></pre></td>
    <td class="svelte-ingn1y">—</td>
</tr><tr><td class="svelte-ingn1y"><span>gesture</span></td>
    <td class="type svelte-ingn1y">—</td>
    <td class="svelte-ingn1y">



<pre class="berry-code hljs svelte-1u7ndpn inline"><code class="svelte-1u7ndpn"><!-- HTML_TAG_START --><span class="hljs-string">&quot;hover&quot;</span><!-- HTML_TAG_END --></code></pre></td>
    <td class="svelte-ingn1y">—</td>
</tr><tr><td class="svelte-ingn1y"><span>arrow</span></td>
    <td class="type svelte-ingn1y">—</td>
    <td class="svelte-ingn1y">



<pre class="berry-code hljs svelte-1u7ndpn inline"><code class="svelte-1u7ndpn"><!-- HTML_TAG_START --><span class="hljs-literal">true</span><!-- HTML_TAG_END --></code></pre></td>
    <td class="svelte-ingn1y">—</td>
</tr></table>

<h2 class="svelte-1qp7jc9">Slots</h2>
<table class="svelte-1qp7jc9"><tr><th class="svelte-1qp7jc9">Name</th>
        <th class="svelte-1qp7jc9">Description</th></tr>
    <tr><td class="svelte-1o7bqf1">default</td>
    <td class="svelte-1o7bqf1">—</td>
</tr><tr><td class="svelte-1o7bqf1">popup</td>
    <td class="svelte-1o7bqf1">—</td>
</tr></table>



</div></div>
</div>


		<script type="module" data-sveltekit-hydrate="1iv755y">
		import { start } from "/strawberry/app/immutable/start-0d2001e0.js";
		start({
			target: document.querySelector('[data-sveltekit-hydrate="1iv755y"]').parentNode,
			paths: {"base":"/strawberry","assets":"/strawberry"},
			session: {},
			route: true,
			spa: false,
			trailing_slash: "never",
			hydrate: {
				status: 200,
				error: null,
				nodes: [0, 2, 25],
				params: {},
				routeId: "components/tooltip"
			}
		});
	</script>
    </body>
</html>
