<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Strawberry</title>
  

		

		<link rel="modulepreload" href="/strawberry/app/start-26890a84.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/vendor-9d63b597.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/preload-helper-9f12a5fd.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/paths-45dac81d.js">
		<link rel="modulepreload" href="/strawberry/app/layout.svelte-6cafe6eb.js">
		<link rel="modulepreload" href="/strawberry/app/pages/components/__layout.svelte-015661a2.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/forward-events-c6737fa2.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/_layout-ca76d853.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/Navbar-eea2a2f8.js">
		<link rel="modulepreload" href="/strawberry/app/pages/components/list.svelte-7b1b4fbe.js">
		<link rel="stylesheet" href="/strawberry/app/assets/start-f7fb3cd0.css">
		<link rel="stylesheet" href="/strawberry/app/assets/pages/components/__layout.svelte-25487804.css">
		<link rel="stylesheet" href="/strawberry/app/assets/standardDOM-348c346d.css">
		<link rel="stylesheet" href="/strawberry/app/assets/_layout-c10a535c.css">
		<link rel="stylesheet" href="/strawberry/app/assets/Navbar-a81b795c.css">

		<script type="module">
			import { start } from "/strawberry/app/start-26890a84.js";
			start({
				target: document.querySelector("#svelte"),
				paths: {"base":"/strawberry","assets":"/strawberry"},
				session: {},
				host: location.host,
				route: true,
				spa: false,
				trailing_slash: "never",
				hydrate: {
					status: 200,
					error: null,
					nodes: [
						import("/strawberry/app/layout.svelte-6cafe6eb.js"),
						import("/strawberry/app/pages/components/__layout.svelte-015661a2.js"),
						import("/strawberry/app/pages/components/list.svelte-7b1b4fbe.js")
					],
					page: {
						host: location.host, // TODO this is redundant
						path: "/components/list",
						query: new URLSearchParams(""),
						params: {}
					}
				}
			});
		</script>
</head>
<body id="svelte">
  


<div class="app-layout svelte-z2vi6d"><nav class="berry-nav svelte-1boo1g1"><div class="nav-wrapper  svelte-1boo1g1"><a class="logo svelte-1boo1g1" href="/strawberry/">🍓 <span class="text">strawberry</span></a>
        <ul class="nav-links svelte-1boo1g1"><li class="berry-navbar-link svelte-161lg2p"><a href="/strawberry/components" class="svelte-161lg2p">Components
            </a>
</li>
            <li class="berry-navbar-link svelte-161lg2p"><a href="/strawberry/typography" class="svelte-161lg2p">Typography
            </a>
</li>
        </ul>
        <ul class="calls-to-action svelte-1boo1g1"></ul></div>
</nav>
    <div class="components svelte-vp6l69"><div class="left"><div class="berry-sidebar svelte-1lzmi13"><a href="/strawberry/components" class="sidebar-item svelte-m3u0bf">Components Overview
                
</a>
                <section class="berry-sidebar-section sidebar-section svelte-10w4z02"><div class="title svelte-10w4z02">General</div>
    <div class="items svelte-10w4z02"><a href="/strawberry/components/button" class="sidebar-item svelte-m3u0bf">Button
                        
</a>
                        <a href="/strawberry/components/dropdown" class="sidebar-item svelte-m3u0bf">Dropdown
                        
</a>
                        <a href="/strawberry/components/icon" class="sidebar-item svelte-m3u0bf">Icon
                        
</a>
                    </div>
</section>
                <section class="berry-sidebar-section sidebar-section svelte-10w4z02"><div class="title svelte-10w4z02">Data Inputs</div>
    <div class="items svelte-10w4z02"><a href="/strawberry/components/input" class="sidebar-item svelte-m3u0bf">Text
                        
</a>
                        <a href="/strawberry/components/input/number" class="sidebar-item svelte-m3u0bf">Number
                        
</a>
                        <a href="/strawberry/components/input/checkbox" class="sidebar-item svelte-m3u0bf">Checkbox
                        
</a>
                        <a href="/strawberry/components/input/radio" class="sidebar-item svelte-m3u0bf">Radio
                        
</a>
                        <a href="/strawberry/components/select" class="sidebar-item svelte-m3u0bf">Select
                        
</a>
                        <a href="/strawberry/components/input/time" class="sidebar-item svelte-m3u0bf">Time
                        
</a>
                    </div>
</section>
                <section class="berry-sidebar-section sidebar-section svelte-10w4z02"><div class="title svelte-10w4z02">Data Display</div>
    <div class="items svelte-10w4z02"><a href="/strawberry/components/code" class="sidebar-item svelte-m3u0bf">Code
                        
</a>
                        <a href="/strawberry/components/list" class="sidebar-item svelte-m3u0bf active">List
                        
</a>
                        <a href="/strawberry/components/modal" class="sidebar-item svelte-m3u0bf">Modal
                        
</a>
                        <a href="/strawberry/components/notification" class="sidebar-item svelte-m3u0bf">Notification
                        
</a>
                        <a href="/strawberry/components/tooltip" class="sidebar-item svelte-m3u0bf">Tooltip
                        
</a>
                    </div>
</section>
</div></div>
        <div class="right svelte-vp6l69">// TODO</div></div>
</div>



	

</body>
</html>