h1 + h2 {
	margin-top: 16px;
}
h2 {
	margin: 24px 0 8px;
}
h3 {
	font-weight: normal;
}

.demo {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 10px;
}
.output {
	padding: 16px;
	border-radius: 4px;
	background-color: var(--br-dark, rgba(255, 255, 255, 0.05)) var(--br-light, rgba(50, 0, 0, 0.01));
	border: var(--br-dark, 1px solid #444) var(--br-light, 1px solid #ccc);
}