.input-wrapper {
    display: inline-block;
    width: 100%;
    line-height: 1.5;
}
input, textarea {
    text-align: inherit;
    display: inline-block;
    color: var(--br-text);
    font-size: 14px;
    line-height: 1.5;
    background-color: var(--br-white);
    background-image: none;
    border: none;
    outline: 0;
}
input {
    width: 100%;
    height: var(--br-item-height);
    padding: var(--br-input-vertical-padding) var(--br-input-horizontal-padding);
}
textarea:hover,
textarea:focus {
    border: 2px solid var(--br-primary);
    padding: 0;
}
input:hover:not(:focus),
textarea:hover:not(:focus) {
    border-color: var(--br-grey-light);
}
.icon {
    padding-left: var(--icon-padding);
}
.icon:focus {
    padding-left: var(--icon-padding-focus);
}
label:not(.berry-input-radio):not(.berry-input-checkbox) {
    margin-bottom: 5px;
}
label.hideLabel {
    display: none;
}
div.invalid {
    color: var(--br-red);
    padding: 3px 10px 0px;
    font-size: 13px;
}
.is_invalid {
    border-color: var(--br-red);
}