.postfix-wrapper {
    width: var(--br-postfix-width) ;
    color: var(--br-text);;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0 2px 2px 0;
}

.container:hover .postfix-wrapper,
.container:focus-within .postfix-wrapper {
    color: var(--br-primary);
    background-color: var(--br-primary-light);
}