/*
-----------------------------------------------
	vars – css custom-properties

	NOTE
	- some vars change inside media-queries!
	- under normal conditions, there's no need to touch these
-----------------------------------------------
*/
:root {
	/* ----- Colors ----- */
	--br-red: rgb(255, 40, 30);
	--br-red-hover: rgba(255, 60, 50);
	--br-red-light: rgb(255, 230, 240);

	--br-blue: rgb(25, 110, 255);
	--br-blue-hover: rgb(40, 130, 255);
	--br-blue-light: rgb(220, 235, 255);

	--br-green: rgb(45, 190, 45);
	--br-green-hover: rgb(55, 200, 55);
	--br-green-light: rgb(210, 255, 200);

	--br-black: #333;
	--br-grey-dark: rgb(70, 80, 90);
	--br-grey: rgb(150, 150, 150);
	--br-grey-light: rgb(195, 195, 195);
	--br-grey-lightest: rgb(240, 240, 240);
	--br-white: #fff;

	--br-primary: var(--br-blue);
	--br-primary-hover: var(--br-blue-hover);
	--br-primary-light: var(--br-blue-light);

	/* ----- Borders ----- */
	--br-border-color: var(--br-grey-light);
	--br-border-radius: 4px;
	
	/* ----- Text ----- */
	--br-text: var(--br-black);
	--br-heading: var(--br-black);
	--br-code-fs: 1.3rem;
	--br-h1: 3.2rem;
	--br-h2: 3rem;
	--br-h3: 2.6rem;
	--br-h4: 1.8rem;
	--br-h5: 1.6rem;
	--br-h6: 1.4rem; /* default font-size */
	--br-linemax: 42em; /* max line-length */
	--br-lh: 1.5; /* base line-height */

	/* ----- Inputs ----- **/
	--br-input-vertical-padding: 5px;
    --br-input-horizontal-padding: 12px;
    --br-input-padding-right: 25px;
    --br-input-vertical-padding-focus: calc(var(--br-input-vertical-padding) - 1px);
    --br-input-horizontal-padding-focus: calc(var(--br-input-horizontal-padding) - 1px);
    --br-input-padding-right-focus: calc(var(--br-input-padding-right) - 1px);
	--br-postfix-width: 31px;
	
	/* ----- Uncategorized/General ----- */
	--br-item-vertical-padding: 8px;
	--br-item-horizontal-padding: 12px;
	--br-item-height: 35px;
}

body {
	--br-font: 'Arial', Helvetica, sans-serif;
	--br-font-mono: 'Fira Mono', monospace;
	--br-font-ui: var(--br-font-mono);
	--br-font-system: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

/*	base reset ----------------------------- */
html {
	font-size: 62.5%;
	-ms-text-size-adjust: 62.5%;
	-webkit-text-size-adjust: 62.5%;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	border-collapse: collapse;
}

html,
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

* {
	box-sizing: border-box;
}

/*	link reset ----------------------------- */
a {
	text-decoration: none;
	cursor: pointer;
	color: inherit;
}

a:focus { outline: none }

/*
-----------------------------------------------
	global styles
-----------------------------------------------
*/

/*	typography ----------------------------- */
body {
	font-weight: 400;
	font-size: var(--br-h6);
	font-family: var(--br-font);
	color: var(--br-text);
}

h1, h2, h3, h4, h5, h6, blockquote {
	position: relative;
	margin: 0;
	color: var(--br-heading);
}

h6 { font-size: var(--br-h6) }
h5 { font-size: var(--br-h5) }
h4 { font-size: var(--br-h4) }
h3 { font-size: var(--br-h3) }
h2 { font-size: var(--br-h2) }
h1 { font-size: var(--br-h1) }

h1, h2 {
	font-family: var(--br-font);
	line-height: 1.25;
}

h3 { font-weight: 300 }

tt, code, kbd, samp {
	font: 400 var(--br-code-fs) var(--br-font-mono);
	line-height: 1.7;
}


/*  links ------------------------------------- */
a {
	user-select: none;
	color: var(--br-primary);
	transition: all .5s ease-in;
}

a:hover, 
a:active  {
	color: var(--br-primary-hover);
}

/*  tables --------------------------------- */
table {
	width: 100%;
	font-size: var(--br-h5);
}

td, th {
	text-align: left;
	border-bottom: 1px solid #eee;
	padding: 0.4rem 0.8rem 0.4rem 0;
}

table code, table span {
	white-space: pre;
}