.input-wrapper {
    --vertical-padding: 5px;
    --horizontal-padding: 12px;
    --padding-right: 25px;
    --vertical-padding-focus: calc(var(--vertical-padding) - 1px);
    --horizontal-padding-focus: calc(var(--horizontal-padding) - 1px);
    --padding-right-focus: calc(var(--padding-right) - 1px);
    --postfix-width: 31px;
}
.input-wrapper {
    display: inline-block;
    width: 100%;
    line-height: 1.5;
}
.container {
    position: relative;
}
.input-prefix {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    color: var(--text);
    line-height: 0;
    left: 10px;
}
.input-postfix {
    padding-right: calc(var(--postfix-width) + 1px);
}
.input-postfix:hover,
.input-postfix:focus {
    padding-right: var(--postfix-width);
}
.postfix-wrapper {
    position: absolute;
    top: 2px;
    right: 2px;
    width: var(--postfix-width);
    height: var(--postfix-width);
    z-index: 2;
    color: var(--text);;
    display: flex;
    align-items: center;
    border-radius: 0 2px 2px 0;
    padding: 4px;
    transition: all 0.5s ease;
}
.postfix-wrapper.visible,
.postfix-wrapper.focused {
    color: var(--primary);
    background-color: var(--primary-light);
}
.input-wrapper:hover .postfix-wrapper:not(.visible):not(.focused) {
    background-color: var(--grey-lightest);
    color: var(--grey-dark);
}
input, textarea {
    text-align: inherit;
    display: inline-block;
    padding: var(--vertical-padding) var(--horizontal-padding);
    color: var(--text);
    font-size: 14px;
    line-height: 1.5;
    background-color: var(--white);
    background-image: none;
    border: 1px solid var(--border);
    border-radius: 4px;
    transition: all 0.5s ease;
}
input {
    width: 100%;
    height: 35px;
}
input:hover,
textarea:hover,
input:focus,
textarea:focus {
    border: 2px solid var(--primary);
    padding: var(--vertical-padding-focus) var(--horizontal-padding-focus);
    outline: 0;
}
input:hover:not(:focus),
textarea:hover:not(:focus) {
    border-color: var(--grey-light);
}
.icon {
    padding-left: var(--icon-padding);
}
.icon:focus {
    padding-left: var(--icon-padding-focus);
}
.label {
    margin-bottom: 5px;
}
div.invalid {
    color: var(--red);
    padding: 3px 10px 0px;
    font-size: 13px;
}
.is_invalid {
    border-color: var(--red);
}