<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Strawberry</title>
  <title>Strawberry | Svelte Notification Component</title><link rel="stylesheet" href="/strawberry/app/assets/berry.dark-c3a372b6.css" media="(prefers-color-scheme: dark)" data-svelte="svelte-1l8l244"><link rel="stylesheet" href="/strawberry/app/assets/berry.light-c0c782a6.css" media="(prefers-color-scheme: light)" data-svelte="svelte-1l8l244">

		

		<link rel="modulepreload" href="/strawberry/app/start-e5fe5303.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/vendor-fab38dda.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/paths-28a87002.js">
		<link rel="modulepreload" href="/strawberry/app/layout.svelte-08843934.js">
		<link rel="modulepreload" href="/strawberry/app/pages/components/__layout.svelte-a8d25416.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/forward-events-b24822df.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/layout-0a6e50bf.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/Theme-6c81f42c.js">
		<link rel="modulepreload" href="/strawberry/app/pages/components/notification.svelte-3a7e031f.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/Tabs.svelte_svelte_type_style_lang-cf5ee00e.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/component-34fb119c.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/JavaScript.svelte_svelte_type_style_lang-2840d63e.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/Path-7da7a35e.js">
		<link rel="stylesheet" href="/strawberry/app/assets/start-61d1577b.css">
		<link rel="stylesheet" href="/strawberry/app/assets/pages/components/__layout.svelte-2473c537.css">
		<link rel="stylesheet" href="/strawberry/app/assets/layout-c5cbc765.css">
		<link rel="stylesheet" href="/strawberry/app/assets/Theme-ecbadb2e.css">
		<link rel="stylesheet" href="/strawberry/app/assets/pages/components/notification.svelte-3094ed76.css">
		<link rel="stylesheet" href="/strawberry/app/assets/Tabs.svelte_svelte_type_style_lang-393b7756.css">
		<link rel="stylesheet" href="/strawberry/app/assets/component-510f4f4f.css">
		<link rel="stylesheet" href="/strawberry/app/assets/JavaScript.svelte_svelte_type_style_lang-7ad1a9c5.css">
		<link rel="stylesheet" href="/strawberry/app/assets/Path-ff776d72.css">

		<script type="module">
			import { start } from "/strawberry/app/start-e5fe5303.js";
			start({
				target: document.querySelector("#svelte"),
				paths: {"base":"/strawberry","assets":""},
				session: {},
				host: location.host,
				route: true,
				spa: false,
				trailing_slash: "never",
				hydrate: {
					status: 200,
					error: null,
					nodes: [
						import("/strawberry/app/layout.svelte-08843934.js"),
						import("/strawberry/app/pages/components/__layout.svelte-a8d25416.js"),
						import("/strawberry/app/pages/components/notification.svelte-3a7e031f.js")
					],
					page: {
						host: location.host, // TODO this is redundant
						path: "\u002Fcomponents\u002Fnotification",
						query: new URLSearchParams(""),
						params: {}
					}
				}
			});
		</script>
</head>
<body id="svelte">
  




<div class="app-layout svelte-1q74s6"><nav class="svelte-h4i5ca">
    <div class="wrapper svelte-h4i5ca"><a class="logo svelte-h4i5ca" href="/strawberry/">🍓 <span class="text">strawberry</span></a>
        <ul class="links svelte-h4i5ca"><li class="berry-navbar-link svelte-15fdnq3"><a href="/strawberry/components" class="svelte-15fdnq3">Components
            </a>
</li>
            <li class="berry-navbar-link svelte-15fdnq3"><a href="/strawberry/typography" class="svelte-15fdnq3">Typography
            </a>
</li>
        </ul>
        <ul class="actions svelte-h4i5ca"><a class="cta svelte-1q74s6" href="https://github.com/kwangure/strawberry" target="_blank">GitHub
            </a>
            <a class="cta svelte-1q74s6" href="https://www.npmjs.com/package/@kwangure/strawberry" target="_blank">NPM
            </a>
        </ul></div>
</nav>
    <div class="components svelte-nenj4r"><div class="left"><div class="berry-sidebar svelte-scga4w"><a href="/strawberry/components" class="sidebar-item svelte-1gvcihr">Components Overview
                
</a>
                <section class="berry-sidebar-section sidebar-section svelte-rmr5lz"><div class="title svelte-rmr5lz">General</div>
    <div class="items svelte-rmr5lz"><a href="/strawberry/components/button" class="sidebar-item svelte-1gvcihr">Button
                        
</a>
                        <a href="/strawberry/components/dropdown" class="sidebar-item svelte-1gvcihr">Dropdown
                        
</a>
                        <a href="/strawberry/components/icon" class="sidebar-item svelte-1gvcihr">Icon
                        
</a>
                    </div>
</section>
                <section class="berry-sidebar-section sidebar-section svelte-rmr5lz"><div class="title svelte-rmr5lz">Data Inputs</div>
    <div class="items svelte-rmr5lz"><a href="/strawberry/components/input" class="sidebar-item svelte-1gvcihr">Text
                        
</a>
                        <a href="/strawberry/components/input/password" class="sidebar-item svelte-1gvcihr">Password
                        
</a>
                        <a href="/strawberry/components/input/number" class="sidebar-item svelte-1gvcihr">Number
                        
</a>
                        <a href="/strawberry/components/input/checkbox" class="sidebar-item svelte-1gvcihr">Checkbox
                        
</a>
                        <a href="/strawberry/components/input/radio" class="sidebar-item svelte-1gvcihr">Radio
                        
</a>
                        <a href="/strawberry/components/select" class="sidebar-item svelte-1gvcihr">Select
                        
</a>
                        <a href="/strawberry/components/input/time" class="sidebar-item svelte-1gvcihr">Time
                        
</a>
                    </div>
</section>
                <section class="berry-sidebar-section sidebar-section svelte-rmr5lz"><div class="title svelte-rmr5lz">Data Display</div>
    <div class="items svelte-rmr5lz"><a href="/strawberry/components/code" class="sidebar-item svelte-1gvcihr">Code
                        
</a>
                        <a href="/strawberry/components/modal" class="sidebar-item svelte-1gvcihr">Modal
                        
</a>
                        <a href="/strawberry/components/notification" class="sidebar-item svelte-1gvcihr active">Notification
                        
</a>
                        <a href="/strawberry/components/tooltip" class="sidebar-item svelte-1gvcihr">Tooltip
                        
</a>
                    </div>
</section>
</div></div>
        <div class="right svelte-nenj4r">

<h1 class="svelte-1qp7jc9">Notification</h1>

<h2 class="svelte-1qp7jc9">Example</h2>
    <div class="usage inline svelte-1qp7jc9">


<button class="berry-button primary svelte-q2wae1"><div class="content-wrapper svelte-q2wae1">
        Click to show notification
        </div>
</button>
        </div>
    <div class="usage block svelte-1qp7jc9"></div>

<h2 class="svelte-1qp7jc9">Props</h2>
<table class="svelte-1qp7jc9"><tr><th class="svelte-1qp7jc9">Name</th>
        <th class="svelte-1qp7jc9">Type</th>
        <th class="svelte-1qp7jc9">Default</th>
        <th class="svelte-1qp7jc9">Description</th></tr>
    <tr><td class="svelte-ingn1y"><span>removeAfter</span></td>
    <td class="type svelte-ingn1y">—</td>
    <td class="svelte-ingn1y"><pre class="berry-code hljs svelte-kuke95  inline"><div class="language-javascript"><!-- HTML_TAG_START --><span class="hljs-number">4000</span><!-- HTML_TAG_END -->
</div>
</pre></td>
    <td class="svelte-ingn1y">—</td>
</tr><tr><td class="svelte-ingn1y"><span>duration</span></td>
    <td class="type svelte-ingn1y">—</td>
    <td class="svelte-ingn1y"><pre class="berry-code hljs svelte-kuke95  inline"><div class="language-javascript"><!-- HTML_TAG_START --><span class="hljs-number">500</span><!-- HTML_TAG_END -->
</div>
</pre></td>
    <td class="svelte-ingn1y">—</td>
</tr><tr><td class="svelte-ingn1y"><span>visible</span></td>
    <td class="type svelte-ingn1y">—</td>
    <td class="svelte-ingn1y"><pre class="berry-code hljs svelte-kuke95  inline"><div class="language-javascript"><!-- HTML_TAG_START --><span class="hljs-literal">false</span><!-- HTML_TAG_END -->
</div>
</pre></td>
    <td class="svelte-ingn1y">—</td>
</tr><tr><td class="svelte-ingn1y"><span>message</span></td>
    <td class="type svelte-ingn1y">—</td>
    <td class="svelte-ingn1y">—</td>
    <td class="svelte-ingn1y">—</td>
</tr></table>

<h2 class="svelte-1qp7jc9">Slots</h2>
<table class="svelte-1qp7jc9"><tr><th class="svelte-1qp7jc9">Name</th>
        <th class="svelte-1qp7jc9">Descriptoin</th></tr>
    </table>

<h2 class="svelte-1qp7jc9">Custom Properties</h2>
<pre class="berry-code hljs svelte-kuke95  inline"><div class="language-css"><!-- HTML_TAG_START --><span class="hljs-attr">--br-notification-padding-block</span><!-- HTML_TAG_END -->
</div>
</pre><pre class="berry-code hljs svelte-kuke95  inline"><div class="language-css"><!-- HTML_TAG_START --><span class="hljs-attr">--br-notification-padding-inline</span><!-- HTML_TAG_END -->
</div>
</pre></div></div>
</div>



			
		
</body>
</html>