<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Strawberry</title>
        <meta http-equiv="content-security-policy" content="">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/__layout-588b76ce.css">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/typography-5e7f12ce.css">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/switch-efd7e25f.css">
	<link rel="modulepreload" href="/strawberry/app/immutable/start-0d2001e0.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/index-2f8740a7.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/index-57059f2d.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/paths-1c47712a.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/pages/__layout.svelte-39160f55.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/pages/test/components/__layout.svelte-83d667c9.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/pages/test/components/switch/checked.svelte-7b23e6a3.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/switch-fe0734d8.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/forward-events-e3ac3cec.js">
    </head>
    <body>
        





<div class="berry-element svelte-e1cigq">
	<input type="checkbox" id="berry-switch"  name=""  role="switch" value="on" class="svelte-e1cigq">
</div>


		<script type="module" data-sveltekit-hydrate="2mjdqj">
		import { start } from "/strawberry/app/immutable/start-0d2001e0.js";
		start({
			target: document.querySelector('[data-sveltekit-hydrate="2mjdqj"]').parentNode,
			paths: {"base":"/strawberry","assets":"/strawberry"},
			session: {},
			route: true,
			spa: false,
			trailing_slash: "never",
			hydrate: {
				status: 200,
				error: null,
				nodes: [0, 3, 27],
				params: {},
				routeId: "test/components/switch/checked"
			}
		});
	</script>
    </body>
</html>
