<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Strawberry</title>
        <meta http-equiv="content-security-policy" content="">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/__layout-a16c08b3.css">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/components-a7eee654.css">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/globals-2654e6a4.css">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/switch-78281dfc.css">
	<link rel="modulepreload" href="/strawberry/app/immutable/start-bf1037f5.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/index-8333b970.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/paths-1c47712a.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/pages/__layout.svelte-c85eea80.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/forward-events-ac79da41.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/pages/test/components/switch/disabled.svelte-236caa88.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/switch-1b35fcb9.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/style-5f922bb9.js">
    </head>
    <body>
        


<div class="app-layout svelte-1odppvj">
<nav class="svelte-158nbao"><a href="/strawberry/" class="svelte-1op9hm7">🍓 <span class="text">strawberry</span>
</a>
        <ul class="svelte-1075kbq"><a class="navigation svelte-1odppvj" href="/strawberry/"><li class="svelte-3z2c7l"><div class="svelte-3z2c7l active">Components
                </div>
</li></a>
            <a class="navigation svelte-1odppvj" href="/strawberry/typography"><li class="svelte-3z2c7l"><div class="svelte-3z2c7l">Typography
                </div>
</li></a>
</ul>
        <div style="display: contents; --br-navbar-section-margin-inline:auto 10px;"><ul class="svelte-1075kbq"><a class="cta svelte-1odppvj" href="https://github.com/kwangure/strawberry" target="_blank">GitHub
            </a>
            <a class="cta svelte-1odppvj" href="https://www.npmjs.com/package/@kwangure/strawberry" target="_blank">NPM
            </a>
</ul></div>
</nav>
    <div class="components svelte-ulme35"><div class="left svelte-ulme35">
<aside class="svelte-1l1k7s2"><a href="/strawberry/" class="svelte-ulme35">


<div class="svelte-4ag1fl">Getting started
                    
</div></a>
                <section class="berry-sidebar-section sidebar-section"><div class="title svelte-i7yftn">General</div>
    <div class="items svelte-i7yftn"><a href="/strawberry/button" class="svelte-ulme35">


<div class="svelte-4ag1fl">Button
                            
</div></a>
                        <a href="/strawberry/dropdown" class="svelte-ulme35">


<div class="svelte-4ag1fl">Dropdown
                            
</div></a>
                        <a href="/strawberry/element" class="svelte-ulme35">


<div class="svelte-4ag1fl">Element
                            
</div></a>
                        <a href="/strawberry/icon" class="svelte-ulme35">


<div class="svelte-4ag1fl">Icon
                            
</div></a>
                        <a href="/strawberry/switch" class="svelte-ulme35">


<div class="svelte-4ag1fl">Switch
                            
</div></a>
                    </div>
</section>
                <section class="berry-sidebar-section sidebar-section"><div class="title svelte-i7yftn">Data Inputs</div>
    <div class="items svelte-i7yftn"><a href="/strawberry/input/date" class="svelte-ulme35">


<div class="svelte-4ag1fl">Date
                            
</div></a>
                        <a href="/strawberry/input/datetime" class="svelte-ulme35">


<div class="svelte-4ag1fl">DateTime
                            
</div></a>
                        <a href="/strawberry/input" class="svelte-ulme35">


<div class="svelte-4ag1fl">Text
                            
</div></a>
                        <a href="/strawberry/input/password" class="svelte-ulme35">


<div class="svelte-4ag1fl">Password
                            
</div></a>
                        <a href="/strawberry/input/number" class="svelte-ulme35">


<div class="svelte-4ag1fl">Number
                            
</div></a>
                        <a href="/strawberry/input/select" class="svelte-ulme35">


<div class="svelte-4ag1fl">Select
                            
</div></a>
                        <a href="/strawberry/input/textarea" class="svelte-ulme35">


<div class="svelte-4ag1fl">Textarea
                            
</div></a>
                        <a href="/strawberry/input/time" class="svelte-ulme35">


<div class="svelte-4ag1fl">Time
                            
</div></a>
                    </div>
</section>
                <section class="berry-sidebar-section sidebar-section"><div class="title svelte-i7yftn">Data Display</div>
    <div class="items svelte-i7yftn"><a href="/strawberry/code" class="svelte-ulme35">


<div class="svelte-4ag1fl">Code
                            
</div></a>
                        <a href="/strawberry/dialog" class="svelte-ulme35">


<div class="svelte-4ag1fl">Dialog
                            
</div></a>
                        <a href="/strawberry/tooltip" class="svelte-ulme35">


<div class="svelte-4ag1fl">Tooltip
                            
</div></a>
                    </div>
</section>
</aside></div>
        <div class="right svelte-ulme35">


<div class="berry-element svelte-1sy5i22">
	<input type="checkbox" id="berry-switch" disabled name=""  role="switch" value="on" class="svelte-1sy5i22">
</div></div></div>
</div>


		<script type="module" data-sveltekit-hydrate="1ta1u69">
		import { start } from "/strawberry/app/immutable/start-bf1037f5.js";
		start({
			target: document.querySelector('[data-sveltekit-hydrate="1ta1u69"]').parentNode,
			paths: {"base":"/strawberry","assets":"/strawberry"},
			session: {},
			route: true,
			spa: false,
			trailing_slash: "never",
			hydrate: {
				status: 200,
				error: null,
				nodes: [0, 26],
				params: {},
				routeId: "test/components/switch/disabled"
			}
		});
	</script>
    </body>
</html>
