<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Strawberry</title>
        <meta http-equiv="content-security-policy" content="">
		<link href="/strawberry/app/immutable/assets/_layout-5b7836dd.css" rel="stylesheet">
		<link href="/strawberry/app/immutable/assets/components-409bba6f.css" rel="stylesheet">
		<link href="/strawberry/app/immutable/assets/globals-43860d7a.css" rel="stylesheet">
		<link href="/strawberry/app/immutable/assets/switch-f304110f.css" rel="stylesheet">
		<link rel="modulepreload" href="/strawberry/app/immutable/start-402886f5.js">
		<link rel="modulepreload" href="/strawberry/app/immutable/chunks/index-a5e285d6.js">
		<link rel="modulepreload" href="/strawberry/app/immutable/chunks/singletons-74d9fc8c.js">
		<link rel="modulepreload" href="/strawberry/app/immutable/chunks/preload-helper-10e7f86a.js">
		<link rel="modulepreload" href="/strawberry/app/immutable/components/pages/_layout.svelte-d9d34fd0.js">
		<link rel="modulepreload" href="/strawberry/app/immutable/chunks/forward-events-a8e725d0.js">
		<link rel="modulepreload" href="/strawberry/app/immutable/chunks/stores-10463170.js">
		<link rel="modulepreload" href="/strawberry/app/immutable/modules/pages/_layout.js-6a08c268.js">
		<link rel="modulepreload" href="/strawberry/app/immutable/chunks/_layout-04d04af2.js">
		<link rel="modulepreload" href="/strawberry/app/immutable/components/pages/test/components/switch/enabled/_page.svelte-7ae891cb.js">
		<link rel="modulepreload" href="/strawberry/app/immutable/chunks/switch-15294937.js">
		<link rel="modulepreload" href="/strawberry/app/immutable/chunks/style-fdf094c4.js">
    </head>
    <body>
        <div style="display: contents">


<div class="app-layout svelte-6erokn"><nav class="svelte-6erokn"><a class="logo svelte-6erokn" href="/strawberry">🍓 <span class="text">strawberry</span></a>
        <ul class="br-navbar-section"><a class="br-navbar-item navigation svelte-6erokn" href="/strawberry">Components
            </a>
            <a class="br-navbar-item navigation svelte-6erokn" href="/strawberry/typography">Typography
            </a></ul>
        <ul class="br-navbar-section right svelte-6erokn"><a class="cta svelte-6erokn" href="https://github.com/kwangure/strawberry" target="_blank" rel="noreferrer">GitHub
            </a>
            <a class="cta svelte-6erokn" href="https://www.npmjs.com/package/@kwangure/strawberry" target="_blank" rel="noreferrer">NPM
            </a></ul></nav>
    <div class="components svelte-6erokn"><div class="sidebar-wrapper svelte-6erokn">
<aside class="svelte-1l1k7s2"><a href="/strawberry" class="svelte-6erokn">


<div class="svelte-4ag1fl">Getting started
                    
</div></a>
                <section class="berry-sidebar-section sidebar-section"><div class="title svelte-i7yftn">General</div>
    <div class="items svelte-i7yftn"><a href="/strawberry/components/button" class="svelte-6erokn">


<div class="svelte-4ag1fl">Button
                            
</div></a>
                        <a href="/strawberry/components/dropdown" class="svelte-6erokn">


<div class="svelte-4ag1fl">Dropdown
                            
</div></a>
                        <a href="/strawberry/components/element" class="svelte-6erokn">


<div class="svelte-4ag1fl">Element
                            
</div></a>
                        <a href="/strawberry/switch" class="svelte-6erokn">


<div class="svelte-4ag1fl">Switch
                            
</div></a>
                    </div>
</section>
                <section class="berry-sidebar-section sidebar-section"><div class="title svelte-i7yftn">Data Inputs</div>
    <div class="items svelte-i7yftn"><a href="/strawberry/components/input-container" class="svelte-6erokn">


<div class="svelte-4ag1fl">Container
                            
</div></a>
                    </div>
</section>
                <section class="berry-sidebar-section sidebar-section"><div class="title svelte-i7yftn">Data Display</div>
    <div class="items svelte-i7yftn"><a href="/strawberry/components/code" class="svelte-6erokn">


<div class="svelte-4ag1fl">Code
                            
</div></a>
                        <a href="/strawberry/components/dialog" class="svelte-6erokn">


<div class="svelte-4ag1fl">Dialog
                            
</div></a>
                        <a href="/strawberry/tooltip" class="svelte-6erokn">


<div class="svelte-4ag1fl">Tooltip
                            
</div></a>
                    </div>
</section>
</aside></div>
        <div class="content-wrapper svelte-6erokn">


<div class="berry-element svelte-1sy5i22">
	<input type="checkbox" id="berry-switch"  name=""  role="switch" value="on" class="svelte-1sy5i22">
</div></div></div>
</div>


		<script type="module" data-sveltekit-hydrate="16tgfsa">
			import { start } from "/strawberry/app/immutable/start-402886f5.js";

			start({
				env: {},
				hydrate: {
					status: 200,
					error: null,
					node_ids: [0, 15],
					params: {},
					route: {"id":"/test/components/switch/enabled"},
					data: [null,null],
					form: null
				},
				paths: {"base":"/strawberry","assets":"/strawberry"},
				target: document.querySelector('[data-sveltekit-hydrate="16tgfsa"]').parentNode,
				trailing_slash: "never"
			});
		</script>
	</div>
    </body>
</html>
