<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>Strawberry</title>
        <meta http-equiv="content-security-policy" content=""><link rel="stylesheet" href="/strawberry/app/immutable/assets/berry.dark-ee4b4d25.css" media="(prefers-color-scheme: dark)" data-svelte="svelte-1l8l244"><link rel="stylesheet" href="/strawberry/app/immutable/assets/berry.light-69fd964e.css" media="(prefers-color-scheme: light)" data-svelte="svelte-1l8l244">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/pages/__layout.svelte-cc10018c.css">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/typography-ad8baa62.css">
	<link rel="stylesheet" href="/strawberry/app/immutable/assets/switch-cc74319c.css">
	<link rel="modulepreload" href="/strawberry/app/immutable/start-e1783e49.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/index-9f7629f3.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/index-a17fd075.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/paths-1c47712a.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/pages/__layout.svelte-4d244221.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/pages/test/components/__layout.svelte-f03eda55.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/Theme-2fdbed56.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/pages/test/components/switch/name.svelte-1640330e.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/switch-6dea5951.js">
	<link rel="modulepreload" href="/strawberry/app/immutable/chunks/forward-events-932ef468.js">
    </head>
    <body>
        




<form id="foo"><div class="berry-element svelte-e1cigq">
	<input type="checkbox" id="berry-switch"  name="bar"  role="switch" value="on" class="svelte-e1cigq">
</div></form>


		<script type="module" data-sveltekit-hydrate="iol50p">
		import { start } from "/strawberry/app/immutable/start-e1783e49.js";
		start({
			target: document.querySelector('[data-sveltekit-hydrate="iol50p"]').parentNode,
			paths: {"base":"/strawberry","assets":"/strawberry"},
			session: {},
			route: true,
			spa: false,
			trailing_slash: "never",
			hydrate: {
				status: 200,
				error: null,
				nodes: [0, 3, 30],
				params: {},
				routeId: "test/components/switch/name"
			}
		});
	</script>
    </body>
</html>
