<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Strawberry</title>
  <title>Strawberry | Svelte Number Component</title><link rel="stylesheet" href="/strawberry/app/assets/berry.dark-c3a372b6.css" media="(prefers-color-scheme: dark)" data-svelte="svelte-1l8l244"><link rel="stylesheet" href="/strawberry/app/assets/berry.light-c0c782a6.css" media="(prefers-color-scheme: light)" data-svelte="svelte-1l8l244">

		

		<link rel="modulepreload" href="/strawberry/app/start-e5fe5303.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/vendor-fab38dda.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/paths-28a87002.js">
		<link rel="modulepreload" href="/strawberry/app/layout.svelte-08843934.js">
		<link rel="modulepreload" href="/strawberry/app/pages/components/__layout.svelte-a8d25416.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/forward-events-b24822df.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/layout-0a6e50bf.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/Theme-6c81f42c.js">
		<link rel="modulepreload" href="/strawberry/app/pages/components/input/number.svelte-1ec19828.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/component-34fb119c.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/JavaScript.svelte_svelte_type_style_lang-2840d63e.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/Container-cf165cf3.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/actions-f8e73d02.js">
		<link rel="modulepreload" href="/strawberry/app/chunks/Path-7da7a35e.js">
		<link rel="stylesheet" href="/strawberry/app/assets/start-61d1577b.css">
		<link rel="stylesheet" href="/strawberry/app/assets/pages/components/__layout.svelte-2473c537.css">
		<link rel="stylesheet" href="/strawberry/app/assets/layout-c5cbc765.css">
		<link rel="stylesheet" href="/strawberry/app/assets/Theme-ecbadb2e.css">
		<link rel="stylesheet" href="/strawberry/app/assets/pages/components/input/number.svelte-130df44b.css">
		<link rel="stylesheet" href="/strawberry/app/assets/component-510f4f4f.css">
		<link rel="stylesheet" href="/strawberry/app/assets/JavaScript.svelte_svelte_type_style_lang-7ad1a9c5.css">
		<link rel="stylesheet" href="/strawberry/app/assets/Container-aff0bb60.css">
		<link rel="stylesheet" href="/strawberry/app/assets/Path-ff776d72.css">

		<script type="module">
			import { start } from "/strawberry/app/start-e5fe5303.js";
			start({
				target: document.querySelector("#svelte"),
				paths: {"base":"/strawberry","assets":""},
				session: {},
				host: location.host,
				route: true,
				spa: false,
				trailing_slash: "never",
				hydrate: {
					status: 200,
					error: null,
					nodes: [
						import("/strawberry/app/layout.svelte-08843934.js"),
						import("/strawberry/app/pages/components/__layout.svelte-a8d25416.js"),
						import("/strawberry/app/pages/components/input/number.svelte-1ec19828.js")
					],
					page: {
						host: location.host, // TODO this is redundant
						path: "\u002Fcomponents\u002Finput\u002Fnumber",
						query: new URLSearchParams(""),
						params: {}
					}
				}
			});
		</script>
</head>
<body id="svelte">
  




<div class="app-layout svelte-1q74s6"><nav class="svelte-h4i5ca">
    <div class="wrapper svelte-h4i5ca"><a class="logo svelte-h4i5ca" href="/strawberry/">🍓 <span class="text">strawberry</span></a>
        <ul class="links svelte-h4i5ca"><li class="berry-navbar-link svelte-15fdnq3"><a href="/strawberry/components" class="svelte-15fdnq3">Components
            </a>
</li>
            <li class="berry-navbar-link svelte-15fdnq3"><a href="/strawberry/typography" class="svelte-15fdnq3">Typography
            </a>
</li>
        </ul>
        <ul class="actions svelte-h4i5ca"><a class="cta svelte-1q74s6" href="https://github.com/kwangure/strawberry" target="_blank">GitHub
            </a>
            <a class="cta svelte-1q74s6" href="https://www.npmjs.com/package/@kwangure/strawberry" target="_blank">NPM
            </a>
        </ul></div>
</nav>
    <div class="components svelte-nenj4r"><div class="left"><div class="berry-sidebar svelte-scga4w"><a href="/strawberry/components" class="sidebar-item svelte-1gvcihr">Components Overview
                
</a>
                <section class="berry-sidebar-section sidebar-section svelte-rmr5lz"><div class="title svelte-rmr5lz">General</div>
    <div class="items svelte-rmr5lz"><a href="/strawberry/components/button" class="sidebar-item svelte-1gvcihr">Button
                        
</a>
                        <a href="/strawberry/components/dropdown" class="sidebar-item svelte-1gvcihr">Dropdown
                        
</a>
                        <a href="/strawberry/components/icon" class="sidebar-item svelte-1gvcihr">Icon
                        
</a>
                    </div>
</section>
                <section class="berry-sidebar-section sidebar-section svelte-rmr5lz"><div class="title svelte-rmr5lz">Data Inputs</div>
    <div class="items svelte-rmr5lz"><a href="/strawberry/components/input" class="sidebar-item svelte-1gvcihr">Text
                        
</a>
                        <a href="/strawberry/components/input/password" class="sidebar-item svelte-1gvcihr">Password
                        
</a>
                        <a href="/strawberry/components/input/number" class="sidebar-item svelte-1gvcihr active">Number
                        
</a>
                        <a href="/strawberry/components/input/checkbox" class="sidebar-item svelte-1gvcihr">Checkbox
                        
</a>
                        <a href="/strawberry/components/input/radio" class="sidebar-item svelte-1gvcihr">Radio
                        
</a>
                        <a href="/strawberry/components/select" class="sidebar-item svelte-1gvcihr">Select
                        
</a>
                        <a href="/strawberry/components/input/time" class="sidebar-item svelte-1gvcihr">Time
                        
</a>
                    </div>
</section>
                <section class="berry-sidebar-section sidebar-section svelte-rmr5lz"><div class="title svelte-rmr5lz">Data Display</div>
    <div class="items svelte-rmr5lz"><a href="/strawberry/components/code" class="sidebar-item svelte-1gvcihr">Code
                        
</a>
                        <a href="/strawberry/components/modal" class="sidebar-item svelte-1gvcihr">Modal
                        
</a>
                        <a href="/strawberry/components/notification" class="sidebar-item svelte-1gvcihr">Notification
                        
</a>
                        <a href="/strawberry/components/tooltip" class="sidebar-item svelte-1gvcihr">Tooltip
                        
</a>
                    </div>
</section>
</div></div>
        <div class="right svelte-nenj4r">

<h1 class="svelte-1qp7jc9">Number</h1>

<h2 class="svelte-1qp7jc9">Example</h2>
    <div class="usage inline svelte-1qp7jc9"><div class="wrapper svelte-ocexhd"><label for="0dil6jdf9kw" class="svelte-ocexhd">Mi label numeros!
            </label>
    <div class="container svelte-1fpi1jr"><input class="text-input svelte-1fpi1jr" id="0dil6jdf9kw" placeholder="Use keyboard or UI arrows!"  step="1" type="number" this="[object Object]">
        <div class="postfix-wrapper svelte-1fpi1jr"><span class="postfix-up svelte-1fpi1jr"><svg viewBox="0 0 24 24" class="svelte-1qwph3y"><path d="M7.41,15.41L12,10.83L16.59,15.41L18,14L12,8L6,14L7.41,15.41Z" class="svelte-1qwph3y"></path></svg></span>
            <span class="postfix-down svelte-1fpi1jr"><svg viewBox="0 0 24 24" class="svelte-1qwph3y"><path d="M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z" class="svelte-1qwph3y"></path></svg></span></div></div>
    
</div></div>
    <div class="usage block svelte-1qp7jc9"></div>

<h2 class="svelte-1qp7jc9">Props</h2>
<table class="svelte-1qp7jc9"><tr><th class="svelte-1qp7jc9">Name</th>
        <th class="svelte-1qp7jc9">Type</th>
        <th class="svelte-1qp7jc9">Default</th>
        <th class="svelte-1qp7jc9">Description</th></tr>
    <tr><td class="svelte-ingn1y"><span>hideLabel</span></td>
    <td class="type svelte-ingn1y"><pre class="berry-code hljs svelte-kuke95  inline"><div class="language-javascript"><!-- HTML_TAG_START -->boolean<!-- HTML_TAG_END -->
</div>
</pre></td>
    <td class="svelte-ingn1y"><pre class="berry-code hljs svelte-kuke95  inline"><div class="language-javascript"><!-- HTML_TAG_START --><span class="hljs-literal">false</span><!-- HTML_TAG_END -->
</div>
</pre></td>
    <td class="svelte-ingn1y">Whether to hide the input label.</td>
</tr><tr><td class="svelte-ingn1y"><span>min</span></td>
    <td class="type svelte-ingn1y"><pre class="berry-code hljs svelte-kuke95  inline"><div class="language-javascript"><!-- HTML_TAG_START -->number | <span class="hljs-literal">undefined</span><!-- HTML_TAG_END -->
</div>
</pre></td>
    <td class="svelte-ingn1y">—</td>
    <td class="svelte-ingn1y">The minimum value to accept.</td>
</tr><tr><td class="svelte-ingn1y"><span>max</span></td>
    <td class="type svelte-ingn1y"><pre class="berry-code hljs svelte-kuke95  inline"><div class="language-javascript"><!-- HTML_TAG_START -->number | <span class="hljs-literal">undefined</span><!-- HTML_TAG_END -->
</div>
</pre></td>
    <td class="svelte-ingn1y">—</td>
    <td class="svelte-ingn1y">The maximum value to accept.</td>
</tr><tr><td class="svelte-ingn1y"><span>value</span></td>
    <td class="type svelte-ingn1y"><pre class="berry-code hljs svelte-kuke95  inline"><div class="language-javascript"><!-- HTML_TAG_START -->number | <span class="hljs-literal">undefined</span><!-- HTML_TAG_END -->
</div>
</pre></td>
    <td class="svelte-ingn1y">—</td>
    <td class="svelte-ingn1y">The initial value of the component.</td>
</tr><tr><td class="svelte-ingn1y"><span>step</span></td>
    <td class="type svelte-ingn1y"><pre class="berry-code hljs svelte-kuke95  inline"><div class="language-javascript"><!-- HTML_TAG_START -->number<!-- HTML_TAG_END -->
</div>
</pre></td>
    <td class="svelte-ingn1y"><pre class="berry-code hljs svelte-kuke95  inline"><div class="language-javascript"><!-- HTML_TAG_START --><span class="hljs-number">1</span><!-- HTML_TAG_END -->
</div>
</pre></td>
    <td class="svelte-ingn1y">A stepping interval to use when using up and down arrows to adjust the value, as well as for validation.</td>
</tr><tr><td class="svelte-ingn1y"><span>focus</span></td>
    <td class="type svelte-ingn1y"><pre class="berry-code hljs svelte-kuke95  inline"><div class="language-javascript"><!-- HTML_TAG_START -->boolean<!-- HTML_TAG_END -->
</div>
</pre></td>
    <td class="svelte-ingn1y"><pre class="berry-code hljs svelte-kuke95  inline"><div class="language-javascript"><!-- HTML_TAG_START --><span class="hljs-literal">false</span><!-- HTML_TAG_END -->
</div>
</pre></td>
    <td class="svelte-ingn1y">Whether the input is focused.</td>
</tr><tr><td class="svelte-ingn1y"><span>placeholder</span></td>
    <td class="type svelte-ingn1y"><pre class="berry-code hljs svelte-kuke95  inline"><div class="language-javascript"><!-- HTML_TAG_START -->string<!-- HTML_TAG_END -->
</div>
</pre></td>
    <td class="svelte-ingn1y"><pre class="berry-code hljs svelte-kuke95  inline"><div class="language-javascript"><!-- HTML_TAG_START --><span class="hljs-string">&quot;&quot;</span><!-- HTML_TAG_END -->
</div>
</pre></td>
    <td class="svelte-ingn1y">Text that appears in the form control when it has no value set</td>
</tr><tr><td class="svelte-ingn1y"><span>valid</span></td>
    <td class="type svelte-ingn1y"><pre class="berry-code hljs svelte-kuke95  inline"><div class="language-javascript"><!-- HTML_TAG_START -->boolean<!-- HTML_TAG_END -->
</div>
</pre></td>
    <td class="svelte-ingn1y"><pre class="berry-code hljs svelte-kuke95  inline"><div class="language-javascript"><!-- HTML_TAG_START --><span class="hljs-literal">true</span><!-- HTML_TAG_END -->
</div>
</pre></td>
    <td class="svelte-ingn1y">Whether &quot;value&quot; is a number between &quot;min&quot; and &quot;max&quot;.</td>
</tr><tr><td class="svelte-ingn1y"><span>readonly</span></td>
    <td class="type svelte-ingn1y"><pre class="berry-code hljs svelte-kuke95  inline"><div class="language-javascript"><!-- HTML_TAG_START -->boolean<!-- HTML_TAG_END -->
</div>
</pre></td>
    <td class="svelte-ingn1y"><pre class="berry-code hljs svelte-kuke95  inline"><div class="language-javascript"><!-- HTML_TAG_START --><span class="hljs-literal">false</span><!-- HTML_TAG_END -->
</div>
</pre></td>
    <td class="svelte-ingn1y">Whether the input is readonly</td>
</tr></table>

<h2 class="svelte-1qp7jc9">Slots</h2>
<table class="svelte-1qp7jc9"><tr><th class="svelte-1qp7jc9">Name</th>
        <th class="svelte-1qp7jc9">Descriptoin</th></tr>
    <tr><td class="svelte-1o7bqf1">label</td>
    <td class="svelte-1o7bqf1">—</td>
</tr></table>

<h2 class="svelte-1qp7jc9">Custom Properties</h2>
None.</div></div>
</div>



			
		
</body>
</html>